* {
  margin: 0;
  padding: 0; }


.status-wrapper .info {
  color: rgba(0, 0, 0, .5);
  margin-top: 10px;
  font-size: 14px;
  font-family: Cabin, sans-serif;
  height: 45px;
  line-height: 30px;
  float: left;
  display: block; }


.sch-countdown {
  padding-left: 34px;
  background: url("../../img/icon-clock-erixon-16.png");
  background-repeat: no-repeat;
  background-position: 11px 7px;
}

.status-wrapper .info a {
  color: rgba(0, 0, 0, .5);
  text-decoration: underline; }

.status-wrapper .info a:hover {
  color: rgba(0, 0, 0, 1); }

.btn {
  text-align: center;
  display: block;
  float: left;
  margin-right: 1em;
  width: 185px;
  height: 45px;
  line-height: 46px;
  font-family: Cabin, sans-serif;
  color: #999;
  background: rgba(0, 0, 0, .1);
  cursor: normal;
  text-decoration: none; }


.btn.chat-open {
  background: #2ecc71;
  color: #ffffff;
}

.btn-chat-open:hover {
  background: #28b363;
  cursor: pointer; }