/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-09-2014, 11:16:29
    Author     : LupusGrey
*/

#ungi-map {
	display: inline-block;
	width: 400px;
	height: 350px;
}
.responsive-layout-mobile #ungi-map {
	display: none;
}
#ungi-desc {
	display: inline-block;
	max-width: 500px;
	vertical-align: top;
}
.ungi-dot {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #e67e22;
}

#ungi-cities ul {
	list-style: none;
}
.ungi-half {
	display: inline-block;
	max-width: 443px;
	vertical-align: middle;
	text-align: left;
}
.ungi-half.ungi-cityname {
	color: #e98b39;
}
.ungi-half h2 {
	display: inline;
}
.ungi-half iframe {
	display: inline;
}
#ungi-desc h3 {
	margin-bottom: 10px;
}
.ungi-half a.btn {
	vertical-align: top;
}
#ungi-cities ul li p {
	font-size: 12px;
	color: black;
}
#ungi-cities .chat-closed {
	background: #888;
	margin-left: 20px;
}
#ungi-cities iframe {
	width: 245px;
	height: 45px;
	margin-left: 20px;
}

#ungi-nodes h3 {
	margin-bottom: 5px;
}
#ungi-nodes article header,
#ungi-nodes article .clearfix nav.links {
    display: none;
}
#ungi-nodes article {
    margin-bottom: 5px;
}
#ungi-nodes.view-ung-i-visning.view-id-ung_i_visning .ui-accordion-header {
	background: #eeebe9;
}
#ungi-nodes.view-ung-i-visning.view-id-ung_i_visning .ui-accordion-header.ui-state-active {
	background: #e2dbd8;
}

#ungi-city #ungi-desc h2,
#page #ungi-intro h2.page-title {
    background: white url("../images/citysign.png") no-repeat scroll center bottom;
    border: 3px solid #000;
    border-radius: 15px;
    color: #000;
    font-size: 300%;
    height: 150px;
    line-height: 100%;
    text-align: center;
}

#ungi-city iframe {
	height: 180px;
  width: 100%;
}
#ungi-city p.chat-desc {
	font-size: 12px;
}
#ungi-city #ungi-desc {
    max-width: 600px;
}
#ungi-city #ungi-map {
    width: 250px;
	 height: 250px;
	 text-align: right;
    margin-top: 50px;
}
