# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
*.sql
.htaccess
.ruby-version
.bundle/
sites/all/modules/custom/opeka_widgets/js/data*.js

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/default

# Ignore devel modules and files
sites/all/modules/search_krumo
sites/all/modules/devel_themer
sites/all/modules/simplehtmldom
sites/all/modules/search_krumo
sites/all/modules/stage_file_proxy
sites/all/modules/reroute_email
sites/all/modules/module_builder
sites/all/modules/browsersync
robots.txt
FirePHPCore
sites/all/modules/xhprof
sites/all/modules/masquerade
!sites/default/files/logo-beta*
sites/all/themes/cyberhus_clean/custom-gulpfile.js

.DS_Store

.sass-cache
*.sublime-workspace
nbproject
googlefdfe5933b9683929.html
sites/all/themes/cyberhus_evolution/widgets/chat-multi-widget/dev-embed.html

# Development configuration
docker-compose.yml
mariadb-init
node_modules
