# Ignore configuration files that may contain sensitive information.
webroot/sites/*/settings.*.php

# Ignore paths that contain user-generated content.
webroot/sites/*/files
webroot/sites/*/private
webroot/sites/*/translations

# Deployment configuration:
/deployer/config.yml

# Other deployer shared files
webroot/sites/all/modules/custom/opeka_widgets/js/data*.js

# Ignore devel modules and files
# todo: clean this mess up
webroot/sites/all/modules/search_krumo
webroot/sites/all/modules/devel_themer
webroot/sites/all/modules/simplehtmldom
webroot/sites/all/modules/stage_file_proxy
webroot/sites/all/modules/reroute_email
webroot/sites/all/modules/module_builder
webroot/sites/all/modules/browsersync
webroot/sites/all/modules/xhprof
!webroot/sites/default/files/logo-beta*
webroot/sites/all/themes/cyberhus_clean/custom-gulpfile.js

#Ignore development garbage
logs
sql
.DS_Store
.ruby-version
.bundle/
.sass-cache
*.sublime-workspace
nbproject
node_modules
/.idea/
