/* Accordions, general styling. */

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

.ui-widget {
  font-size: 1em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $bg-white;
  border: none;
  color: $black;
  font-weight: 400;
}

.ui-accordion .ui-accordion-content {
  padding: 0 $padding-std;
}

.ui-widget-content {
  border: none;
  background: none;
  color: $black;
}

.ui-icon-triangle-1-s {
  //background-position: -64px 0;
  display: none;
}

.ui-icon-triangle-1-e {
  background-position: -32px 0;
  display: none;
}

.ui-widget-content a {
  color: $blue;
}

/* We use + / - signs to signal active state */
.views-accordion-header,
.ui-accordion-header {
  .field-content a,
  .field__item {
    &:before {
      content: "+";
      display: inline-block;
      margin-right: $margin-small;
      width: .75em;
    }
  }
  &.ui-state-active .field-content a {
    &:before {
      content: "-";
    }
  }
}


/* Accordion in views */

.view .ui-accordion.view-content {
  /* Reset default views elements */
  .views-field-body {
    padding: 0 $padding-std $padding-std;
  }
  .views-row {
    margin-left: 0;
    padding: 0;
  }
  .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    padding: $padding-std;
    zoom: 1;
  }
  .ui-accordion-li-fix {
    display: inline;
  }
  .ui-accordion-header-active {
    border-bottom: 0 !important;
  }
  .ui-accordion-header a {
    @include headline-h3();
    color: $blue;
    display: block;
  }
  /* IE7-/Win - Fix extra vertical space in lists */
  a {
    zoom: 1;
  }
  .ui-accordion-header .ui-icon {
/*    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;*/
    display: none;
  }
  .ui-accordion-content {
    padding: 0;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
    zoom: 1;
  }
  .ui-accordion-content-active {
    display: block;
  }
}

