/* Accordion, general styling, see _views.scss for views embedded acc. */
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

.ui-widget {
  font-size: 1em;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $bg-white;
  border: none;
  color: $black;
  font-weight: 400;
}

.ui-accordion .ui-accordion-content {
  padding: 0 $padding-std;
}
.ui-widget-content {
    border: none;
    background: none;
    color: $black;
}

.ui-icon-triangle-1-s {
  background-position: -64px 0;
}

.ui-icon-triangle-1-e {
    background-position: -32px 0;
}

.ui-widget-content a {
    color: $blue;
}
