@import "breakpoint";

/**
 * MAIN CONTENT BLOCKS
 */
.l-content .block {
  margin: $margin-std;
}

/**
 * FOOTER BLOCKS
 */
.block--block-43 {
  margin: $margin-big auto;
  max-width: 586px;
  margin: $margin-std;
  p,
  h2 {
    color: $white;
  }
  img.rounded {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    margin-right: $margin-std;
  }
}

#block-block-44 {
  margin: $margin-std;
  text-align: center;
  p, a {
    color: $white;
    font-weight: $font-weight-bold;
  }
}

/* Search block - See forms/_search-form.scss */

/* Footer menu */
.block--menu-menu-andet {
  background-color: #000;
  margin-bottom: $margin-std;
  padding: $padding-std;
  ul.menu {
    padding: $padding-std 0;
    text-align: center;
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: $margin-std;

    a {
      color: $white;
      font-weight: $font-weight-bold;
    }
  }
}

/**
 * MENU BLOCKS WITH JUICY SVG IMGS!!
 */

$icon-size-footer: 35px;
$icon-color-footer: #fff;
$icon-color-highlight-footer: #2980B9;

$icon-size-top: 25px;
$icon-color-top: $grey;
$icon-color-highlight-top: #000;
#block-menu-menu-top-menu {
  ul.menu {
    display: none; // The menu is displayed with responsive_menus on small screens
    text-align: center;
    li {
      list-style-type: none;
    }
    a {
      background-position: top center;
      color: $grey;
      display: block;
      font-weight: $font-weight-bold;
      height: 46px;
      min-width: 26px;
      &:hover {
        color: $black;
      }
    }
  }
}
#block-menu-menu-andet,
#block-menu-menu-top-menu {
  ul.menu {
    display: block;
  }
  li {
    cursor: pointer; // Link is added via javascript
    display: inline-block;
    text-align: center;
    margin: 0 $margin-std 0;
    transition: stroke .25s ease, width .5s ease;
    a {
      display: block;
    }
    svg {
      display: none;
    }
  }
}

// Sidr menu
#sidr-wrapper-0 {
  position: absolute;
  top: 10px;
  right: 0px;
  #sidr-0-button  {
    display: block;
    padding: 10px;
  }
  #sidr-hamburger {
    background-image: image-url('icons/svg/responsive-menu.svg');
    background-repeat: none;
    height: 17px;
    width: 22px;

  }

}
.sidr {
  background: $bg-white;
  @include box-shadow(none);
  font-size: $font-size-normal;
  font-family: $font-family-std;
  top: 60px;
  width: 100%;

  ul.sidr-class-menu {
    border-top: 1px solid $grey-2;
    border-bottom: none;
    border-left: none;

    li {
      border-bottom: 1px solid $grey-2;
      border-top: none;
      padding-left: $padding-small;
      &:hover>a {
        @include box-shadow(none);
      }
      a {
        color: $grey;
        display: inline-block;
        font-weight: $font-weight-bold;
      }
      svg {
        vertical-align: middle;
      }
    }

  }
}


/* Sidr Hamburger icon animation - credits Jesse Couch https://codepen.io/designcouch/pen/Atyop */
#nav-icon3 {
  width: 22px;
  height: 18px;
  position: relative;
  margin: 0 auto;
  @include transform(rotate(0deg));
  @include transition(0.5s ease-in-out);
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $blue;
  @include border-radius(2px);
  opacity: 1;
  left: 0;
  @include transform(rotate(0deg));
  @include transition(0.25s ease-in-out);
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  @include transform(rotate(45deg));
}

#nav-icon3.open span:nth-child(3) {
  @include transform(rotate(-45deg));
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


#block-menu-menu-top-menu,
.sidr {
  li {
    svg {
      height: $icon-size-top;
      width: $icon-size-top;
      g {
        fill: $icon-color-top;
      }
    }
    &:hover {
      svg g {
        fill: $icon-color-highlight-top;
      }
    }
  }
}
/* Only svg menus for tab and desktop */
@include breakpoint($desk, true) {
  #block-menu-menu-andet,
  #block-menu-menu-top-menu {
    li {
      cursor: pointer; // Link is added via javascript
      display: inline-block;
      text-align: center;
      margin: 0 $margin-std 0;
      transition: stroke .25s ease, width .5s ease;
      a {
        display: block;
      }
      svg {
        display: inline-block;
        g {
          transition: fill .25s ease;
        }
      }
    }
  }

  #block-menu-menu-andet {
    li {
      svg {
        height: $icon-size-footer;
        width: $icon-size-footer;
        g {
          fill: $icon-color-footer;
        }
      }
      &:hover {
        svg g {
          fill: $icon-color-highlight-footer;
        }
      }
    }
  }
}

/**
 * COMMENT BLOCKS
 */
#block-views-comments-block-1 {
  margin: $margin-std 0;
  h2 {
    @include headline-orange();
  }
  .view-comments {
    .view-content {
      background-color: $bg-white;
    }
    .views-row {
      margin: 0;
      padding: $padding-std 0;
    }
    p {
      margin-top: 0;
    }
  }
}

/**
 * BILLEDER BLOCKS
 */
#block-views-billeder-oversigter-block-1 {
  h2 {
    font-size: $font-size-normal;
  }
  h3 {
    @include headline-grey-bg(-1em);
  }
  .view-content {
    background-color: $bg-white;
  }
  .views-row {
    display: inline-block;
    max-width: 160px;
  }
  ul.pager-load-more {
    margin-left: -1em;
    margin-right: -1em;
  }
}
