@import "breakpoint";

/* The sticky CuraChat widgets in the right side of the window */
.curachat-widgets .opeka-chat-foldout-wrapper {
  &.pair {
    top: 63%;
    z-index: 12;
  }
  &.group {
    top: 38%;
    z-index: 11;
  }
  /* Multi-site foldout widget styles */
  &.multi {
    top: 15%;
  }
}

.curachat-widgets-inline {
  height: 50px;
  width: 100%;
}
.curachat-widgets-header {
  height: 180px;
  width: 100%;
}

/* Responsive styles */
/* Show sticky side widgets on tab and above */
.curachat-widgets {
  display: none;
}
@include breakpoint($tab, true) {
  .curachat-widgets {
    display: block;
  }
}
