/**
 * FORUM LIST & TOPIC LIST
 */
.view {
  &.view-cyberhus-forum-topic-list {
    & > .view-header,
    & > .view-footer {
      .views-field-field-tag-shorthand {
        color: $grey;
        font-size: $font_size_medium;
        padding-right: $padding-std;
      }
    }
    & > .view-footer {
      padding: 0;
      .view-cyberhus-forum-term-list {
        background-color: $bg-white;
        padding: $padding-std;
      }
    }
  }
}
