/**
 * OVERALL LAYOUT ELEMENTS
 */
.l-header {
  border-bottom: 1px solid $grey-2;
}
.l-region--header {
  height: 50px;
  margin-right: $margin-std;
  position: absolute;
  vertical-align: top;
  width: 50px;
}

.l-branding {
  height: 50px;
  text-align: center;
  a.site-logo {
    display: block;
    padding-top: 10px;
  }
}

.l-main--wrapper {
  background-color: $bg-grey;
  margin-bottom: 0;
  padding-bottom: 6em;
  background-image: image-url('bylinje.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

.l-main {
  margin: auto;
}

.l-content {
  margin: auto;
  max-width: $content-width;
  background-color: $bg-white;
  padding-top: $padding-std;
  ul.breadcrumb {
    border-bottom: 1px solid $grey-2;
    margin-top: -1em;
    padding: $padding-small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    li {
      display: inline;
      &:not(:last-child):after {
          color: $grey-2;
          content:' > ';
      }
    }
  }
}

.l-region--navigation {
}

.l-footer--wrapper {
  background-color: $darkest-grey;
}

.l-footer {}

.l-region--footer {
  max-width: $content-width;
  margin: 0 auto;
  padding: 2em 0;
  a {
    color: white;
  }
}

/* Responsive  */
@include breakpoint($tab, true) {
  .l-header {
    border: none;
  }
  .l-region--header {
    left: auto;
    top: auto;
    right: auto;
  }
  .l-region--navigation  {
    margin-top: 0;
  }
  .l-main--wrapper {
    padding-top: $padding-std;
  }
  .l-content {
    ul.breadcrumb {
      background-color: $bg-grey;
      border: none;
      padding-top: 0;
    }
  }
}
/* Responsive class used on elements that should only be shown on mobile */
@include breakpoint($tab, true) {
  .cyberhus-mobile {
    display: none;
  }
}

/* Custom header styling */
body.page-node-add h1,
body.page-billeder h1,
body.page-search h1,
body.page-hemmeligheder-alle h1,
body.page-blogs-alle h1 {
  margin: 0 $margin-std-px;
}

body.page-blogs h1 {
  margin-left: $margin-std-px;
}

/* Front page */
body.front {
  h1,
  .block--block-93 {
    margin-top: 0;
  }
}

/* User pages */
body.page-user {
  .l-content {
    padding: $padding-std;
  }
  ul.tabs--secondary {
    li a {
      @include button-bg();
    }
  }
}


/* youtube video embedding - responsive adjustments */
.media-youtube-video {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;
}
.media-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
