/**
 * OVERALL LAYOUT ELEMENTS
 */

.l-region--header {
  position: absolute;
}

.l-branding {
  margin-top: $margin-std;
  margin-bottom: $margin-std;
  text-align: center;
  a.site-logo {}
}

.l-main--wrapper {
  background-color: $bg-grey;
  margin-bottom: 0;
  padding-top: $padding-std;
  padding-bottom: 6em;
  background-image: image-url('bylinje.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

.l-main {
  margin: auto;
}

.l-content {
  margin: auto;
  max-width: $content-width;
  background-color: $bg-white;

  ul.breadcrumb {
    background-color: $bg-grey;
    padding: 0 $padding-small $padding-small;

    li {
      display: inline;

      &:after {
      content: " > ";
      }
    }
  }


}

.l-region--navigation {
  ul.menu {
    text-align: center;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: $margin-std;
    }
    a {
      background-position: top center;
      color: $grey;
      display: block;
      font-weight: 700;
      height: 46px;
      min-width: 26px;
      padding: 26px 0 0 0;
    }
  }
}

.l-footer--wrapper {
  background-color: $darkest-grey;
}

.l-footer {}

.l-region--footer {
  max-width: $content-width;
  margin: 0 auto;
  padding: 2em 0;
  a {
    color: white;
  }
}
