/* General node stuff */

body.page-node,
body.page-comment-reply {
  ul.tabs.tabs--primary {
    margin: 0 $margin-std $margin-std;
  }
  article h1 {
    margin: .3em 0 0 0;
    padding: 0;
  }
  article {
    &.node {
      padding: 0 $padding-std $padding-std $padding-std;
      ol, ul {
        list-style: disc;
        margin-left: $margin-std;
      }
    }
    .view-author-timestamp-eva-field-nodes .view-content > .views-row {
      margin: 0;
      padding: 0;
    }
    &.node--simpel-side-med-view,
    &.node--chat--full {
      padding: 0 0 .5em 0;
      h1 {
        margin: 0 $margin-std-px;
      }
      .field--name-field-billede,
      .field--name-body {
        padding: $padding-std;
      }
    }
    .field--type-viewreference {
      .ui-accordion {
      }
    }
    /* Comment related */
    li.comment-add a {
      @include button-bg();
    }
  }
  /* Subscribe - Node notify */
  ul.links.links--inline {
    list-style: none;
    margin-left: 0;
    li.subscribe {
      float: right;
      margin-top: -60px;
      a {
        @include button-bg($blue, $white);
      }
    }

  }
  /* Brevkasse */
  .answer.field__label {
    @include headline-orange();
    font-size: $font-size-medium;
  }
  /* Blog */
  &.content-type-blog {
    li.blog_usernames_blog {
      display: none;
    }
  }
}


/* Hide the obsolete comment form when Mollom activites comment/reply page */

body.page-comment-reply {
  #comment-form,
  h2.node__title {
    display: none;
  }
}


/**
 * SIDE MED INDLEJRING AF KODE OG VIEWS & SIMPEL SIDE MED VIEW
 */

.content-type-chat,
.content-type-simpel_side_med_view {
  .group-fold-out-text-wrapper {
    margin-bottom: 1em;
  }
  // UI ACCORDION ADJUSTMENTS
  .ui-accordion-header-icon {
    display: none;
  }
  .ui-accordion.view-content  {
    background-color: $bg-white;
    h3 {
      margin: 0;
    }
    .views-row {
      padding: 0 1em;
    }
    .ui-accordion-header {
        padding-left: 0;
        a {
          font-size: $font-size-normal;
          font-weight: $font-weight-std;
          font-family: $font-family-std;
        }
      }
  }
  .ui-accordion-icons {
    padding-left: $padding-std;
  }
  .field--name-field-admin-php,
  .field--name-field-relevant-articles,
  .views-accordion-cyberhus_chat-block_1-header {
    background-color: $bg-grey;
    p {
      background-color: $bg-white;
      margin: 0;
      padding: $padding-std;
    }
  }
  .field--name-field-footer-text {
    margin: $margin-std;
  }
}


/* ENABLE 2 ACT custom page */

body.page-node-41282 {
  .field--name-field-vedh-ft-view,
  .block--views-comments-block-1,
  .comment-form {
    padding: $padding-std;
  }
}


/* Fields */
/* fold-out text field */

.field--name-field-fold-out-text-title .field__item {
  color: $blue;
}
/* relevant articles field */
.field--name-field-relevant-articles {
  .field__label {
    @include headline-grey-bg();
  }
  .field__items {
    background-color: $bg-white;
    padding: $padding-std;
  }
}
