/* General pollim styling */

body.page-pollim {
  .entity-pollim {
    padding: $padding-std;
    .choice-percentage-bar {
    }
  }
  .view > .view-content {
    background-color: #ffffff;
    .views-row {
      margin: 0 0 1em;
      padding: 0;
    }
  }
}

.entity-pollim {
  .choice-percentage-bar {
    background-color: $black;
    height: 15px;
  }
  .choice-item {
    margin-bottom: $margin-std;
  }
  .choice-votecount {
    margin-right: $margin-std;
  }
  .choice-data {
    label {
      margin-left: $margin-std;
      vertical-align: middle;
    }
  }
}
