@import "breakpoint";

/* Center DK-map */

#ungi-cities #ungi-map,
#ungi-city #ungi-map {
  display: block;
  text-align: center;
  width: 100%;
}

#ungi-intro {
  padding: $padding-std;
}

.ungi-desc,
#ungi-desc p {
  @include italic-description();
}
#ungi-cities {
  background-color: $bg-grey;
  h3 {
    @include headline-grey-bg();
  }
  h3.ungi-no-chat-header{
    margin-top: -1*$margin-std;
  }
  .ungi-city {
    background-color: $bg-white;
    margin: 0 0 $margin-std 0;
    padding: $padding-std;
  }
  .ungi-half {
    max-width: 100%;
  }
  ul.ungi-with-chat {
    iframe {
      height: 165px;
    }
    .ungi-half {
      .btn {
        display: none; // Hide btn in mobile view
        margin: 0 0 $margin-std 0;
      }
    }
  }
  ul.ungi-no-chat {
    background-color: $bg-white;
    padding-top: $margin-xx-small;
    .ungi-city {
      display: block;
      margin: $margin-std;
      padding: 0;
    }
  }
  iframe {
    margin: 0;
  }
  .chat-label {
    color: $grey;
    font-family: $font-family-header;
    font-weight: $font-weight-bold;
    float: left;
    padding-top: 10px;
    margin-right: $margin-std;
  }
  .chat-desc {
    margin: $margin-small 0;
  }
}

#page.ungi-city {
  h1 {
    display: none;
  }
  h3 {
    @include headline-grey-bg();
  }
  #ungi-desc {
    h3 {
      @include headline-grey-bg(-1em);
      margin-bottom: $margin-std;
    }
  }
  .block {
    margin: 0;
  }
  #ungi-city {
    padding: $padding-std;
  }
}


/* Responsive styles */

#ungi-city {
  #ungi-desc h2,
  #ungi-map {
    display: none;
  }
}

body.page-ung-i {
  h1 {
    margin: 16px 16px 0;
  }
}

@include breakpoint($smart, true) {
  #ungi-cities {
    ul.ungi-with-chat {
      iframe {
        height: 130px;
      }
    }
  }
  body.page-ung-i {
    h1 {
      display: none;
    }
  }
  #ungi-cities {
    .ungi-with-chat {
      .city-options-text {
        display: inline-block;
        width: 67%;
      }
      .ungi-city-options {
        a.btn {
          display: inline-block; // Show button
        }
      }
    }
    ul.ungi-no-chat {
      background-color: $bg-white;
      .ungi-city {
        display: inline-block;
        width: 43%;
        .ungi-half {
          width: 100%;
        }
        a.btn {
          margin: $margin-xx-small auto $margin-std 0;
        }
      }
    }
  }
  #ungi-city {
    #ungi-desc h2 {
      display: block;
      background: white url("/sites/all/modules/custom/ungi/images/citysign.png") no-repeat scroll center bottom;
    }
    #ungi-map {
      display: block;
    }
  }
}

@include breakpoint($tab, true) {
  #ungi-cities {
    ul.ungi-with-chat {
      iframe {
        height: 70px;
      }
    }
  }
}
