$font-family-std: 'Lato', sans-serif;
$font-family-header: 'Merriweather', serif;

/* Font-weight */
$font_weight_bold: 700;
$font_weight_std: 400;

/* Letter-spacing and line-height */
$line-height-std: 1.438em;

/* Font-size */
$font_size_lille: .075em;
$font_size_normal: 1em; 
$font_size_medium: 1.5em;


/* Font colors */
$black: #231E19;
$blue: #2980B9;
$grey: #6B6866;
$primary-color: #e67e22; // Orange

/* Backgrounds */
$light-grey: #F1F1F1;
$medium-grey: #484243;
$dark-grey: #2d2728;
$white: #fff;

/* Margin and padding */
$margin-small: .625em;
$margin-std: 1em;
$padding-std: 1em;

/* Border color */
$border_color_lys: #bababa;
$border_color_sort: #373030;

$text_shadow_hvid: none;
$text_shadow_brun: none;
$text_shadow_undersider: none;
$text_shadow_block_title: none;

/* General colors */
$tr_bg_color: #b6a59c;
$color_gul: #e67e22;
$color_brun: #2d2728;
$color_lysblaa: #8CC6E8;
$color_blaa: #2980b9;
$color_groen: #27ae61;
$color_lilla: #D6588E;
$color_roed: #BE222C;
$color_gray: #6B6866;

