@import "compass";

$tab: 36.625em; //586px
$desk: 70em;

$content-width: 586px;

$font-family-std: 'Lato', sans-serif;
$font-family-header: 'Merriweather', serif;

/* Font-weight */
$font-weight-bold: 700;
$font-weight-std: 400;

/* Letter-spacing and line-height */
$line-height-std: 1.438em;

/* Font-size */
$font-size-small: .85em; // 13px
$font-size-normal: 1em; // 16px
$font-size-medium: 1.3em;
$font-size-big: 1.5em;

/* Font colors and backgrounds */
$black: #231E19;
$blue: #2980B9;
$light-blue: lighten($blue, 50%);

$grey-orig: #6B6866; // Original grey proposed by lajlev
$grey: lighten($grey-orig, 10%);
$grey-2: #BFBFBF;
$grey-3: #F2F2F2;
$light-grey: lighten($grey, 10%);
$dark-grey: darken($grey, 10%);
$bg-grey: #F1F1F1;

$medium-grey: #484243;
$darkest-grey: #2d2728;
$primary-color: #e67e22; // Orange
$bg-white: #fff;
$white: #fff;

/* Margin and padding */
$margin-small: .75em; //
$margin-std: 1em;
$margin-std-px: 16px;
$margin-big: 2em;
$padding-std: 1em;
$padding-small: .75em; //
$padding-smaller: .5em;

/* Border color */
$border_color_lys: #bababa;
$border_color_sort: #373030;

$text_shadow_hvid: none;
$text_shadow_brun: none;
$text_shadow_undersider: none;
$text_shadow_block_title: none;

/* General colors */
$tr_bg_color: #b6a59c;
$color_gul: #e67e22;
$color_brun: #2d2728;
$color_lysblaa: #8CC6E8;
$color_blaa: #2980b9;
$color_groen: #27ae61;
$color_lilla: #D6588E;
$color_roed: #BE222C;
$color_gray: #6B6866;

