<script type="text/html" id="static_data_template">
  <div class="status-triangle"><span class="status-text">...</span></div>
  <h1 class="title" data-content="field_cim_chat_name">Silkeborg</h1>
  <div class="field-cim-chat-description" data-content="field_cim_chat_description">
    <p>Beskrivelse Beskrivelse Beskrivelse</p>
  </div>
  <div class="opening-hours-wrapper">
    <p class="opening-hours-header">Vi er online hver</p>
    <div class="opening-hours-content" data-content="cim_chat_opening_hours">
    </div>
  </div>
  <div class="button-and-subtext">
    <div class="button-wrapper">
      <div class="button-speech-icon"></div>
      <a data-chat-id="vD2iSGhX+phKIbqm6l66xzK05WAw3Our" class="button" href="#">...</a>
    </div>
    <p class="button-subtext">Anonym og professionel rådgivning</p>
  </div>
</script>
