$button-color: $white !default;
$button-background-color: $blue !default;
$button-border-color: $blue !default;
$button-radius: 3px !default;

$label-background-color: $light-blue !default;

$margin: 0 !default;

@mixin button-bg($color: $button-color, $bg: $button-background-color, $bbc: $button-border-color, $br: $button-radius) {
  background: $bg;
  @include border-radius($br);
  color: $color;
  border-color: $bbc;
  border-style: solid;
  border-width: thin;
  font-weight: $font-weight-bold;
  padding: .7em 1em;
  display: block;
  margin: $margin-std auto;
  max-width: 12em;
  text-align: center;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

@mixin button-bg-left($color: $button-color, $bg: $button-background-color, $bbc: $button-border-color, $br: $button-radius) {
  background: $bg;
  @include border-radius($br);
  color: $color;
  border-color: $bbc;
  border-style: solid;
  border-width: thin;
  font-weight: $font-weight-bold;
  padding: .7em 1em;
  display: block;
  max-width: 12em;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

@mixin label($lbb: $label-background-color) {
  background-color: $lbb;
  padding: .4em .5em;
  @include border-radius(3px);
  &:hover {
    background: darken($light-blue, 8%);
    transition: all 0.3s ease;
  }
}

@mixin font-metadata() {
  color: $grey;
  font-size: $font-size-small;
}

@mixin circular() {
  width: 64px;
  height: 64px;
  @include border-radius(32px);
}

@mixin italic-description() {
  color: $grey;
  font-style:italic;
}

@mixin headline-grey-bg($mrg: $margin) {
  background-color: $bg-grey;
  color: $light-grey;
  font-weight: $font-weight-bold;
  margin: 0 $mrg;
  text-transform: uppercase;
  padding: $padding-std;
}

@mixin headline-orange($mrg: $margin) {
  color: $primary-color;
  font-family: $font-family-header;
  font-weight: $font-weight-bold;
  margin: 0 $mrg;
}
