.block_blog-teasers-front {
  background: rgba(255, 255, 255, .6);
  width: 288px;
  right: 0;
  position: absolute;
  top: 50px;
}

.front {
  /* Front page tagline and labels */
  .block_tagline-front {
    position: absolute;
    top: 65px;

    .ordet-er-dit-campaign {
      background: url(/sites/default/files/stamp_no_text.png) no-repeat;
      background-size: contain;
      height: 165px;
      left: 425px;
      position: relative;
      top: -85px;
      width: 227px;

      > a {
        @include transform(rotate(29deg));
        color: white;
        display: block;
        font-size: 14px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: 63px;
      }
    }
  }
}

.block-menu-andet {
  ul {
    padding-left: 0 !important;
  }
}

