.block_blog-teasers-front {
  background: rgba(255, 255, 255, .6);
  width: 288px;
  right: 0;
  position: absolute;
  top: 50px;
}

.front {
  /* Front page tagline and labels */
  .block_tagline-front {
    position: absolute;
    top: 65px;

    .front-page-stamp {
      left: 425px;
      position: relative;
      top: -85px;
    }
  }
}

.block-menu-andet {
  ul {
    padding-left: 0 !important;
  }
}

