/**
 * FORUM LIST & TOPIC LIST
 */

#page .view-cyberhus-forum-topic-list {
  & > .view-header,
  & > .view-footer {
    margin-bottom: 2em;
    .view-content {
      margin-bottom: 1em;
      .views-row {
        display: inline-block;
      }
    }
    .views-field-field-tag-shorthand {
      color: $color_gray;
      display: inline;
      font-size: $font_size_medium;
      padding-right: 1em;
    }
  }
  .view-filters {
    margin-bottom: 1em;

    /* Hide description: https://www.drupal.org/node/339384#comment-10587426 */
    .form-type-select .description {
      display: none;
    }
  }
  & > .view-content {
    .views-row {
      margin-bottom: 2em;
    }
    h2 {
      margin: 0;
    }
    .views-field-field-tag-shorthand {
      color: $color_gray;
    }
    .cyberlikes, .comment-count {
      background: url('../img/heart_cleaned_gray.svg') no-repeat 0 0;
      color: $color_gray;
      display: inline-block;
      height: 30px;
      margin-top: 0.7em;
      padding-left: 40px;
    }
    .comment-count {
      background-image: none;
      &:after {
        content: " kommentarer";
      }
    }
  }

}

.page-forum {
  .tabs,
  .feed-icon {
    display: none;
  }
  .forum-table-wrap {
    padding: 0 0 20px 0;
    margin-bottom: 40px !important;
    > h3 {
      display: none;
    }
    > p {
      margin: 0 15px 0 15px;
      margin-bottom: 30px !important;
    }
  }
  .forum-desc-wrapper {
    padding: 0 0 28px 0;
    margin: 0 0 20px 0;
    .forum-name {
      font-family: $std-font-family;
      font-size: 20px;
      line-height: 1em;
      font-weight: $font_weight_bold;
      margin-bottom: 20px;
      padding: 0;
    }
    p {
      margin: 0 0 10px 0;
    }
    .forum-add-post {
      a {
        @include btn();
        margin: 20px 0;
      }
    }
  }
  table.forum-table-forums,
  table.forum-table-topics {
    font-family: $std-font-family;
    border: 0;
    color: #2b2627;
    margin: 8px 0 0 0;
    th {
      border: 0;
      font-weight: $font_weight_bold;
      font-size: 14px;
      padding: 0 9px 9px 0;
      line-height: 1em;
      @media(max-width: 500px) {
        display: none;
      }
    }
    th.forum-name,
    th.views-field-title {
      padding: 0;
    }
    th.forum-last-post,
    th.views-field-last-updated {
      padding: 0;
      text-align: right;
      @media(max-width: 810px) {
        display: none;
      }
    }
    tr {
      border: 0;
      border-top: 1px solid #efefef;
    }
    thead tr {
      border-top: none;
    }
    tr.odd {
      background: none;
    }
    tr.even {
      background-color: transparent;
    }
    td {
      border: 0;
      padding: 24px 0;
    }
    td.forum-details,
    td.views-field-title {
      width: 50%;
      @media(max-width: 500px) {
        width: auto;
      }
      .forum-name {
        a {
          font-size: 18px;
        }
      }
      .forum-description {
        font-size: 14px;
      }
    }
    td.views-field-title {
      a {
        font-size: $font_size_h1;
        background: url("../img/next_yellow.png") no-repeat 0 2px;
        padding: 0 0 0 21px;
      }
    }
    td.forum-number-topics {
      @media(max-width: 500px) {
        display: none;
      }
    }
    td.forum-number-posts {
      @media(max-width: 500px) {
        display: none;
      }
    }
    td.forum-last-reply,
    td.views-field-last-updated {
      width: 25%;
      text-align: right;
      @media(max-width: 810px) {
        display: none;
      }
    }
    a {
      color: $primary-color;
    }
  }
  .forum-table-wrap {
    margin: 0;
  }
  .block.forum-description {
    .block-title {
      margin-bottom: 20px;
    }
  }
  .view-empty {
    margin: 0;
    padding: 0;
  }
  .views-field-field-brevk-koen {
    @media(max-width: 500px) {
      display: none;
    }
  }
  .views-field-field-brevk-alder {
    @media(max-width: 500px) {
      display: none;
    }
  }
}


/**
 * FORUM POST
 */

.node-type-forum,
.page-comment-reply {
  /**
   * TOP POST
   */
  .forum-post.top-post {
    background: url("../img/content-border.png") repeat-x scroll left bottom transparent;
  }
  .forum-post {
    padding: 0 0 25px 0;
    margin: 0;
    .forum-post-info {
      padding: 0 15px 0 15px;
      .field.field-name-comment-body {
        a {
          color: $primary-color;
        }
      }
    }
    #forum-headline h1,
    .forum-post-title {
      font-family: $std-font-family;
      font-size: 20px;
      line-height: 1em;
      font-weight: $font_weight_bold;
      margin-bottom: 10px;
      padding: 0;
    }
    .author-pane {
      font-size: $font_size_normal;
      font-weight: 500;
      .user-picture {
        display: none;
      }
    }
    .forum-posted-on {
      font-size: $font_size_lille;
      margin-bottom: 15px;
      font-style: italic;
      padding: 0;
    }
    .forum-post-footer {
      float: left;
      margin-top: -50px;
      margin-left: 15px;
      @media(max-width: 600px) {
        margin-top: 0;
      }
      .forum-post-links {
        margin: 10px 0 0 0;
        padding: 0;
        float: left;
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0 5px 0 0;
            padding: 0;
            float: left;
            a {
              padding: 8px 12px;
              margin-top: 5px;
              background-color: $color_gul;
              color: #FFFFFF;
              display: block;
              font-size: $font_size_normal;
              line-height: 1em;
              text-shadow: none;
            }
          }
        }
      }
    }
  }
  /**
   * COMMENTS
   */
  #forum-comments {
    padding: 25px 0 0 0;
    margin: 0;
    .indented {
      margin: 0 0 0 30px;
    }
    .forum-post {
      background-color: $tr_bg_color;
      background-color: rgba($tr_bg_color, 0.22);
      padding: 10px 5px;
      margin: 0 0 10px 0;
      @media(max-width: 580px) {
        padding: 8px 0 12px;
      }
      .forum-post-title {
        font-family: $std-font-family;
        font-size: 14px;
        line-height: 1em;
        font-weight: $font_weight_bold;
        margin: 0 0 10px 0;
        padding: 0;
      }
      .author-pane {
        font-size: $font_size_lille;
        line-height: 1em;
        margin-bottom: 15px;
        float: left;
        margin-right: 5px;
        padding-right: 5px;
        border-right: 1px solid #8f8a89;
        .user-picture {
          display: none;
        }
      }
      .forum-posted-on {
        font-size: $font_size_lille;
        line-height: 1em;
        margin-bottom: 15px;
        padding: 0;
      }
      .forum-post-footer {
        .forum-post-links {
          margin: 10px 0 0 0;
          padding: 0;
          float: left;
          ul {
            margin: 0;
            padding: 0;
            li {
              margin: 0 5px 0 0;
              padding: 0;
              float: left;
              a {
                background-color: #585253;
              }
            }
          }
        }
      }
    }
    h2.comment-form {
      margin-top: 25px;
    }
  }
}
