/* Overordnet top navigation */
#zone-header-wrapper{
	background: url(../img/bg-ricepaper.png);
}

#region-menu {
	@media (max-width: 980px) {height: auto;}

	.menu { //ul
		padding-left: 0;
		float: left;
		@media (max-width: 980px) {float: none;}

		li.leaf {
			list-style: none;
			display: inline-block;
			padding: 0;
			margin: 0;
      vertical-align: top;
      text-align: center;

			a {
				color: #2980b9;
        font-size: 16px;
        padding: 0;
        min-width: 90px;
				display: inline-block;
				text-align: center;
				
        &:hover {
					background: #2980b9;
					color: #fff;
          img.icon_inv {
            display: block;
          }
          img.icon {
            display: none;
          }
				}

				@media (max-width: 980px) {
					padding: .5em 0;
					background: #2980b9;
					color: #fff;
					width: 100%;
					font-size: 16px;
					height: auto;
          
          img.icon {
            display: none;
          }
          &:hover img.icon_inv {
            display: none;
          }
				}
        
        img {
          display: block;
          margin: auto;
          width: 50px;
          max-width: 50px;
          height: 50px;
          padding: 5px;
        }

        img.icon_inv {
          display: none;
        }
			}

      @media (max-width: 980px) {
        width: 16.2%;
        padding: 0.3em;
        &.first { padding-left: 0;}
      }

			@media (max-width: 615px) {
				width: 32%;
        padding: 0.3em;

        // ToDo 1. 3. 5. child or uneven { padding-left: 0;}

				a {
					width: 100%;
					padding: .5em 0;
					background: #2980b9;
					color: #fff;
				}
			}

      @media (max-width: 400px) {
        width: 49%;
      }
		}
	}
}

/* Brødkrummer */
#breadcrumb {
  width: 500px;
  .breadcrumbs {
    li {
      list-style: none;
      float: left;
      margin-right: 5px;
      font-size: $font_size_lille; line-height: 23px;
      font-style: italic;
      height: 19px;
      color: $color_brun;
      font-style: italic;
      font-family: $std-font-family;
    }
    a {
      height: 19px;
      display: inline-block;
      color: $color_brun;
    }
    span {
      margin-left: 5px;
    }
    .first{
      a {
        background: url("../img/breadcrumb.png");
        background-repeat: no-repeat;
        padding-left: 25px;
      }
    }
    .last {
      font-weight: $font_weight_bold;
    }
  }
}
