/* Overordnet top navigation */
#region-menu {
	margin: 30px 0 0 70px;
	min-height: 54px;
	padding: 0;
	position: relative;
	z-index: 100;
	.navigation {
		a, p {
			text-shadow: 1px 1px $text_shadow_brun;
		}

		.menu a:hover {
			color: #fff !important;
			text-decoration: underline !important;
		}

		#block-search-form {
			/*margin-left: 345px;*/
			width: 175px;
		}
		/* Sprogmenu */
		#block-menu-menu-sprogmenu {
			width: 100px;
			margin-left: 400px;
		}

		/* Ung til ung */
		#block-menu-menu-primary-links-2 {
			position: absolute;
			.menu {

				.expanded .active-trail{
					font-size: 1.5em;
				}
				.collapsed a {
					color: #000;
					font-size: 20px;
					text-transform: uppercase;
				}
				.expanded a {
					color: #000;
					font-size: 20px;
					text-transform: uppercase;
				}

				li{
					list-style: none;
					margin: 0;

					.active-trail.active {
						color: #fff;
						font-size: 20px;
					}
					.active-trail {
						color: #fff;
					}
					.leaf.active-trail {
						font-size: 13px;
					}
					.leaf a {
						font-size: 13px;
						text-transform: none;
					}
					.leaf.active-trail .active-trail {
						text-transform: none;
						font-size: 13px;
					}
				   }
					.menu {
						li {
							float: left;
							a {
								color: #000;
							}
							.active-trail {
								color: #fff;
							}
						}
					}
			}
		}

		/* Ung til voksen */
		#block-menu-menu-ung-til-voksen {
			position: absolute;
			margin-left: 215px;
			.menu {
				.expanded .active-trail{
					font-size: 20px;
				}
				.collapsed a {
					color: #000;
					font-size: 20px;
					text-transform: uppercase;
				}
				.expanded a {
					color: #000;
					font-size: 20px;
					text-transform: uppercase;
				}
				li {
					list-style: none;
					margin: 0;
					a {
						color: #000;
				    }
					}
					.active-trail {
						color: #fff;

					}
					.leaf.active-trail {
						font-size: 13px;
					}
					.leaf.active-trail .active-trail.active {
						text-transform: none;
						font-size: 13px;
					}
					.leaf a {
						font-size: 13px;
						text-transform: none;
					}

					.menu {
						margin-left: -190px;
						li {
							float: left;
							a {
								color: #000;
							}
							.active-trail {
								color: #fff;
								font-size: 13px;
								text-transform: none;
							}
						}
					}
			}
		}
	}
}

/*
* @todo : add/restyle search bar;
*/
#region-menu .navigation #block-menu-menu-primary-links-2 .menu,
#region-menu .navigation #block-menu-menu-ung-til-voksen .menu{
	background: #cab2a1;
	display: inline-block;
	overflow: hidden;
	padding: 5px 0 5px 10px;

	li.expanded{

		a{
			color: #333;
			text-transform: none;
		}
		a.active-trail {
			color: #fff;
		}
		.menu .leaf.active-trail a.active{
			font-size: 1.2em;
		}
	} 

	.expanded>a:after {
		background: url('../img/topmenu-sprite.png') -230px -21px;
		content: " ";
		display: inline-block;
		margin-left: 20px;
		min-height: 22px;
		width: 20px
	}

	.expanded:before {
		content: " ";
		display: inline-block;
		margin-right: 20px;
		min-height: 22px;
		width: 28px
	}

	.menu {
		padding: 0 10px;
		li{
			float: none;
			a{
				font-size: 1.2em;
			}
		}
	}
}	
#region-menu #block-menu-menu-ung-til-voksen .menu{
	.expanded:before {
		background: url('../img/topmenu-sprite.png') -260px -23px;
	}
}

#region-menu #block-menu-menu-primary-links-2 .menu{
	.expanded:before {
		background: url('../img/topmenu-sprite.png') -190px -23px;
	}
}

#region-menu .navigation #block-menu-menu-primary-links-2>.menu{
	width: 187px;
}

#region-menu .navigation #block-menu-menu-ung-til-voksen>.menu{
	width: 215px;
}

#region-menu .navigation #block-menu-menu-ung-til-voksen .menu{
	.menu{ margin-left: 0; }
}

/* Forside */

.front {
	#region-menu {
		#block-menu-menu-ung-til-voksen {
			.menu {
				.menu {
					display: none;
				}
			}
		}
		#block-menu-menu-ung-til-voksen:hover {
			.menu {
				.menu {
					display: block;
				}
			}
		}
		#block-menu-menu-primary-links-2 {
			.menu {
				.menu {
					display: none;
				}
			}
		}
		#block-menu-menu-primary-links-2:hover {
			.menu {
				.menu {
					display: block;
				}
			}
		}
	}
}

.not-front {
	#region-menu {
		#block-menu-menu-ung-til-voksen {
			.menu {
				.menu {
					display: none;
				}
			}
		}
		#block-menu-menu-ung-til-voksen:hover {
			.menu {
				.menu {
					display: block;
				}
			}
		}
		#block-menu-menu-primary-links-2 {
			.menu {
				.menu {
					display: none;
				}
			}
		}
		#block-menu-menu-primary-links-2:hover {
			.menu {
				.menu {
					display: block;
				}
			}
		}
	}
}
/* Send #region-header-bottom to thr back using z-index to allow the menu dropdpwn to be accessible */
#region-header-bottom{
	position: relative;
	z-index: 1;
}

/* Bruger menu */
#page {
	#region-sidebar-first {
		.region-inner.region-sidebar-first-inner {
			#block-system-user-menu {
				.block-inner {
					.block-title {
						color:#000;
						text-shadow: none;
					}
				}
				.content {
					li {
						list-style: none;
					}
				}
			}
		}
	}
}

/* Tabs/oprettelseslinks */
.tabs {
	.tabs.primary {
		a {
			color:$font_color_gul;
		}
	}
}
.action-links {
	li {
		list-style: none;
		a {
			color:$font_color_gul;
			margin-left: 15px;
		}
	}
}

/* Gå til forsiden - stue grafik */
#block-block-41 {
	.content a {
		float: right;
		width: 436px;
		height: 143px;
		position: absolute;
		background: url("../img/forside_grafik.png");
		margin-left: 500px;
		background-repeat: no-repeat;
		display: block;
		text-indent: -999em;
	}
}

/* Brødkrummer */
#breadcrumb {
	width: 500px;
	.breadcrumbs {
		li {
			list-style: none;
			float: left;
			margin-right: 5px;
			font-size: $font_size_lille; line-height: 23px;
			font-style: italic;
			height: 19px;
			color: $color_brun;
			font-style: italic;
			font-family: $std-font-family;
		}
		a {
			height: 19px;
			display: inline-block;
			color: $color_brun;
		}
		span {
			margin-left: 5px;
		}
		.first{
			a {
				background: url("../img/breadcrumb.png");
				background-repeat: no-repeat;
				padding-left: 25px;
			}
		}
		.last {
			font-weight: $font_weight_bold;
		}
	}
}
