/* Overordnet top navigation */
#zone-header-wrapper{
	background: url(../img/bg-ricepaper.png);
}

#region-menu {
	height: 100px;
	@media (max-width: 980px) {height: auto;}

	.menu { //ul
		padding-left: 0;
		float: right;
		@media (max-width: 980px) {float: none;}

		li.leaf {
			list-style: none;
			display: inline-block;
			padding: 0;
			margin: 0;

			@media (max-width: 980px) { width: 16.3%; }

			a {
				color: #2980b9;
				font-size: 18px;
				padding: 56px 14px 60px;
				height: 100px;
				min-width: 80px;
				display: inline-block;
				text-align: center;

				@media (max-width: 980px) {
					padding: .5em 0;
					background: #2980b9;
					color: #fff;
					width: 100%;
					font-size: 16px;
					height: auto;
				}

				&:hover {
					background: #2980b9;
					color: #fff;
				}
			}

			@media (max-width: 600px) {
				width: 32%;
				margin: .48%;

				a {
					width: 100%;
					padding: .5em 0;
					background: #2980b9;
					color: #fff;
				}
			}
		}
	}
}

/* Brødkrummer */
#breadcrumb {
  width: 500px;
  .breadcrumbs {
    li {
      list-style: none;
      float: left;
      margin-right: 5px;
      font-size: $font_size_lille; line-height: 23px;
      font-style: italic;
      height: 19px;
      color: $color_brun;
      font-style: italic;
      font-family: $std-font-family;
    }
    a {
      height: 19px;
      display: inline-block;
      color: $color_brun;
    }
    span {
      margin-left: 5px;
    }
    .first{
      a {
        background: url("../img/breadcrumb.png");
        background-repeat: no-repeat;
        padding-left: 25px;
      }
    }
    .last {
      font-weight: $font_weight_bold;
    }
  }
}
