@import "compass";
@import "compass/css3";

$std-font-family: 'Cabin', sans-serif;

/* Font-weight */
$font_weight_bold: 700;
$font_weight_brodtekst: 400;

/* Letter-spacing */
$letter-spacing-overskrifter: 0.9px;
$letter-spacing-brodtekst: normal;

/* Font-size */
$font_size_lille: 11px;
$font_size_block_title: 13px;
$font_size_normal: 14px;
$font_size_stor:20px;
$font_size_h1:15px;
$font_size_h2:20px;
$font_size_h3:15px;
$font_size_h4:13px;
$font_size_h5:13px;

/* Font farver */
$primary-color: #e67e22; // Orange

/* Border color */
$border_color_lys: #bababa;
$border_color_sort: #373030;

$text_shadow_hvid: none;
$text_shadow_brun: none;
$text_shadow_undersider: none;
$text_shadow_block_title: none;

/* General colors */
$tr_bg_color: #b6a59c;
$color_gul: #e67e22;
$color_brun: #2d2728;
$color_blaa: #2980b9;
$color_groen: #27ae61;
$color_lilla: #D6588E;
