/* Forside view */
.front.page-forside {
	#page #section-content #region-content .region-inner.region-content-inner {
		padding: 0; }

	#page #section-content #zone-content-wrapper #forside_wrapper #region-content .region-inner.region-content-inner #block-system-main {
		background: none; }

	#block-system-main {
		@media(max-width: 979px) {
			width: 616px;
			margin: auto; }

		@media (max-width: 654px) {
			width: 300px;
		}
	}
}

#page {
	#section-content {
		#region-content {
			.masonry-body {
				font-size: 12px;
				line-height: 1.25em;
				word-wrap: break-word;
				text-shadow: none;

				p {
					font-size: 12px !important;
					text-shadow: none;
				}
			}
		}
	}
}

// Gallery image on frontpage
.block-latest-gallery-image-block {
	position: absolute;
	top: 276px;
	left: 73px;

	.views-field-field-billede a {
		outline: 2px solid #fff;
		display: block;
		width: 90px;
		height: 116px;

		&:after {
			content: "";
			display: block;
			height: 5px;
			width: 74px;
			background: #beafa4;
			position: relative;
			top: -3px;
			left: 8px;
		}
	}
}

.region-menu {
	position: relative;
	top: -15px;
}

.region-header-bottom {
	.view-ungeblogs-oversigt {

    .blog_oversigt_right {
    	width: 214px !important;
    }

    .view-content .views-row {
    	margin: 0 !important;
    	padding: 15px 0px 0 15px !important;
    	background: none !important;
    }

    .user-picture img{
    	width: 42px;
    	height: 42px;
    	border-radius: 42px;
    }

    h3 {
    	font-family: "Cabin",sans-serif;
    	letter-spacing: 0.9px;
    	width: 200px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	display: inline-block;
    	line-height: 13px;
    	height: 14px;
    	font-weight: normal;
    	margin-top: 5px;
    }

    .subtle {
    	font-size: 12px !important;
    	line-height: 12px !important;
    }

    .more-link {
    	float: right;
    	padding-right: 15px;
    	text-decoration: underline !important;
    	color: #999;
    }
  }
}

.view.view-Forside.view-id-Forside {

	.view-content {
		font-family: $std-font-family;
		overflow: hidden;
		.masonry-item {
			margin: 10px 10px 10px 5px;
			position: relative;
			background: transparent url("../img/grid-box-shadow.png") no-repeat bottom center;
			padding-bottom: 8px;
			.masonry-inner {
				padding: 25px 25px 15px;
				height: 190px;
				@include box-shadow(rgba(black, 0.33) 0 0 9px);
				text-shadow: none;
				background: #FFFFFF;
			}
			.masonry-category {
				font-size: 11px;
			}
			.masonry-title {
				font-size: $font_size_h1;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			.masonry-body {
				font-size: 12px; line-height: 1.25em;
				word-wrap: break-word;
				text-shadow: none;
				p {
					font-size: 12px !important;
					text-shadow: none;
				}
			}
			.masonry-date {
				position: absolute;
				bottom: 27px; left: 25px;
				font-size: 11px;
				z-index: 3;
			}
			.masonry-link {
				a {
					position: absolute;
					bottom: 23px; right: 25px;
					background: url("../img/next_big_yellow.png") no-repeat top left;
					width: 25px; height: 25px;
					display: block;
					z-index: 3;
				}
			}
			.masonry-img {
				position: absolute; top: 0; left: 0;
				z-index: 1;
			}
		}
		.type-forum {
			.masonry-inner {
				background: #FFF;
				.masonry-title {
					a {
						color: $color_gul;
					}
				}
			}
		}
		.type-faq,
		.type-brevkasse {
			.masonry-inner {
				background: $color_gul;
				color: #FFFFFF;
				.masonry-title {
					a {
						color: $color_brun;
					}
				}
				.masonry-link {
					a {
						background: url("../img/next_big_brown.png") no-repeat top left;
					}
				}
			}
		}
		.type-historie {
			.masonry-inner {
				background: $color_brun;
				color: #FFFFFF;
				.masonry-title {
					a {
						color: $color_gul;
					}
				}
			}
		}
		.type-link-artikel {
			.masonry-title {
				a {
					color: $color_gul;
				}
			}
			.masonry-category,
			.masonry-title,
			.masonry-body {
				position: relative; z-index: 3;
			}
			.masonry-title {
				margin-bottom: 5px;
				line-height: 1.15em;
			}
			.masonry-link {
				a { bottom: 10px; right: 10px; }
			}
			.masonry-date {
				bottom: 14px; left: 30px;
			}
			.masonry-inner {
				.masonry-content {
					background: url("../img/grid_inner_bg.png") no-repeat top left;
					z-index: 2;
					float: right;
					width: 136px; height: 122px;
					padding: 15px 15px 15px 30px;
				}
			}
		}

		.type-body-secret {
			.masonry-title a {
				display: none;
			}
		}
	}
}

/* Forside view - exposed filter */

#block-views-exp-forside-page {
	@media(max-width: 979px) {
		width: 630px;
		margin: auto;

		a {
			font-size: 11.5px;
		}
	}

	@media (max-width: 654px) {
		width: 300px;
	}

	#views-exposed-form-Forside-page {
		.views-exposed-form {
			font-family: $std-font-family;
			padding-top: 10px;

			#edit-type-wrapper {
				margin: 0 0 10px 0;
				float: none;
				overflow: hidden;

				div, label {
					display: inline; }

				label {
					font-weight: normal;
					display: block;
					color: #ccc;
				}
			}
		}

		.views-widget {
			.bef-select-as-links {
				.form-item {
					.form-type-bef-link {
						margin-right: 15px;
						text-transform: uppercase;
						font-size: 13px;
						display: inline;

						a {
							color: #999;

							&:hover {
								color: $font_color_gul;
								text-decoration: underline;
							}
						}

						.selected a {
							color: #000;
							font-weight: bold;

							&:hover {
								color: #000;
								text-decoration: none;
								cursor: normal;
							}
						}

						#edit-type-faq {
							display: none;
						}
					}
				}
			} // .bef-select-as-links

			.form-item.form-type-textfield.form-item-combine {
				#edit-combine {
					width: 100%;
					height: 41px;
					padding-left: 45px;
					@include border-radius(5px);
					background: #FFFFFF url("../img/search-icon.png") no-repeat 16px 12px;
					border:none;
					color: #b2b2b2;
					font-size: 13px;
					font-family: $std-font-family;
					outline: none;
					@include box-shadow(rgba(black, 0.2) 1px 1px 2px inset);
				}
			}

			#edit-combine-wrapper {
				@media(max-width: 979px){
					width: 555px; }

				@media (max-width: 654px){
					width: 235px;
				}

				.views-exposed-widget.views-submit-button {
					padding: 0;

					#edit-submit-forside {
						width: auto;
						padding: 8px 20px;
						height: 41px;
						border: none;
						color:#fff;
						font:normal 12px $std-font-family;
						text-shadow: none;
						background-repeat: no-repeat;
						background: orange;
						margin-top: 5px;
						border-radius: 5px;
					}
				}
			} // #edit-combine-wrapper
		} // .views-widget
	} // #views-exposed-form-Forside-page
} // #block-views-exp-forside-page


/**
 * VIEWS PAGER
 */
.view {
 	ul.pager {
 		font-family: $std-font-family;
 		margin: 25px 0 0;
 		text-align: center;
 		width: 100%;

 		li {
 			font-size: 12px;
 			text-transform: uppercase;
 			margin: 0 7px; padding: 0;
 			font-weight: bold;

 			a {
 				color: $color_brun;
 			}
 		}
 	}
}

/* Brevkasse oversigt */
.view.brevkasse-oversigt {
	.view-content {
		.views-row {
			background: url("../img/content-border.png") repeat-x top left;
			padding: 30px 15px 30px 15px;

			.views-field.views-field-name {
				margin-bottom: 10px;

				a {
					color: $font_color_gul;
					text-transform: uppercase;
					background: url("../img/next_yellow.png") no-repeat 0 2px;
					padding: 0 0 0 21px;
				}
			}

			.views-field.views-field-field-brevkasse-kategori {
				text-shadow: 1px 1px white;
				margin-bottom: 10px;

				.views-label {
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}


/* Accordion til brevkassen */

.view.view-Brevkasse.view-id-Brevkasse {
	.view-header {
		.view.view-brevkasse-term-visning {
			padding: 0 15px 0 15px;
		}
		#brevkasse_labels {
			padding-top: 15px;
			margin:20px 0 15px 0;
			border-top:1px solid $border_color_lys;
			overflow: hidden;
			p {
				margin: 0;
				text-transform: uppercase;
			}
			div {
				margin: 0;
				float: left;
			}
			.titel {
				width: 270px;
				margin-left: 15px;
			}
			.kon {
				padding-right: 20px;
				margin-left: 20px;
			}
			.alder {
				padding-right: 135px;
			}
		}
	}
	.view-content.ui-accordion {
		.views-row {
			margin-bottom: 5px;
		}
	}
}

.view.view-Brevkasse.view-id-Brevkasse  {

	.views-row-odd .ui-accordion-header {
		background: url("../img/accordion_header.png");
	}
	.ui-accordion-header {
		border: none;
		background: #fff;
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		.ui-icon {
			left:15px;
			margin-top: -7px;
			background: url("../img/next_black.png");
			height: 14px;
			width: 15px;
		}

	}
	.ui-accordion-header.ui-state-active {
    //background: url("../img/accordion_header_active.png");
    .ui-icon {
    	background: url("../img/next_yellow_down.png");
    	height: 15px;
    	width: 13px;
    }

  }
  .ui-corner-all {
  	-moz-border-radius: 0px;
  	-webkit-border-radius: 0px;
  	border-radius: 0px;
  }
  .ui-corner-bottom {
  	-moz-border-radius-bottomleft: 0px;
  	-webkit-border-bottom-left-radius: 0px;
  	border-bottom-left-radius: 0px;
  	-moz-border-radius-bottomright: 0px;
  	-webkit-border-bottom-right-radius: 0px;
  	border-bottom-right-radius: 0px;
  }
  .ui-widget-content {
    // background: url("../img/accordion_content.png");
    background: #fff;
    border: none;
    padding: 15px;

    .views-field-field-brevk-svar {
    	background: url("../img/accordion_content.png");
    	padding: 20px;
    	margin-top: 20px;
    }

    .views-label.views-label-field-question, .views-label-field-brevk-spoergsmaal, .views-label.views-label-body, .views-label-field-brevk-svar {
    	margin-bottom: 15px;
    	display: block;
    	font-size: $font_size_normal; }

    	.views-label-field-brevk-spoergsmaal,
    	.views-label-field-brevk-svar {
    		margin-top: 15px;
    		text-transform: uppercase;
    		font-size: 10px;
    		color: #aaa;
    	}

    	.views-label-field-brevk-svar {
    		margin-top: 0;
    		color: #888;
    	}
    }

    #accordion_overskrift {
    	margin-left: 5px;
    	overflow: hidden;
    	p {
    		margin: 0;

    		&:first-letter {
    			text-transform: uppercase;
    		}
    	}
    	div {
    		margin: 0;
    		float: left;
    	}
    	.titel {
    		width: 270px;
    	}
    	.kon {
    		width: 70px;
    	}
    	.alder {
    		width: 110px;

    	}
    }
  }
/* Brevkasse enkeltvisning - EVA */
.view.view-brevkasse-enkeltvisning {
	.view-content {
		.brevkasse_header_data {
			color: #888888;
		}
		.views-field.views-field-field-question, .views-field.views-field-field-brevk-spoergsmaal {
			margin-bottom: 20px;
			.views-label.views-label-field-question,.views-label.views-label-field-brevk-spoergsmaal {
				margin-bottom: 10px;
				font-weight: $font_weight_bold;
			}
		}
		.views-field.views-field-body, .views-field.views-field-field-brevk-svar {
			.views-label.views-label-body, .views-label.views-label-field-brevk-svar {
				font-weight: $font_weight_bold;
			}
		}

		.brevkasse_header_data {
			margin-bottom: 20px;
		}
	}
}
/* View til temasider oversigten */
.view.view-Temaer {
	.view-content {
		background: url("../img/content-border.png") repeat-x top left;
		padding: 30px 15px 0 15px;
		.views-field.views-field-description-1 {
			font-style: italic;
			padding: 10px 20px 10px 0;
		}
		.views-row-odd {
			float: left;
			width: 50%;
		}
		a {
			color:$font_color_gul;
			background: url("../img/next_yellow.png");
			background-repeat: no-repeat;
			padding-left: 20px;
		}
	}
}

/* Accordion til temasiderne */

.view.view-tema-visning.view-id-tema_visning,
.view-ung-i-visning.view-id-ung_i_visning {
	.view-header {
		#tema_top {
			padding: 0 15px 0 15px;
		}
		#tema_labels {
			padding-top: 15px;
			margin:20px 0 15px 0;
			border-top:1px solid $border_color_lys;
			overflow: hidden;
			p {
				margin: 0;
				text-transform: uppercase;
			}
			div {
				margin: 0;
				float: left;
			}
			.titel {
				width: 270px;
				margin-left: 15px;
			}
			.forfatter {
				padding-right: 20px;
				margin-left: 90px;
			}
			.oprettet {
				margin-left: 60px;
			}
		}
	}
	.view-content.ui-accordion {
		.views-row {
			margin-bottom: 5px;
		}
	}
	.ui-accordion-header {
		border: none;
		background: url("../img/accordion_header.png");
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		.ui-icon {
			left:15px;
			margin-top: -7px;
			padding-right: 1px;
			background: url("../img/next_black.png");
			height: 14px;
			width: 14px;
		}

	}
	.ui-accordion-header.ui-state-active {
		background: url("../img/accordion_header_active.png");
		.ui-icon {
			background: url("../img/next_yellow_down.png");
			height: 15px;
			width: 13px;
		}

	}
	.ui-corner-all {
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	.ui-corner-bottom {
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.ui-widget-content {
		background: url("../img/accordion_content.png");
		border: none;
		padding: 10px 15px 10px 15px;

		.views-field.views-field-body {
			margin-right: 25px;
			float: left;
			.tema_left {
				img {
					margin-bottom: 15px;
				}
			}
		}
		.views-field.views-field-view {
			width: 180px;
			float: left;
		}
		.view.view-tema-relateret-indhold {
			.view-content {
				.views-row {
					.views-field.views-field-type {
						float: left;
						margin-right: 5px;
						font-style: italic;
						.field-content {
							margin-bottom: 0;
						}
						p:after {
							content: " - ";
						}
					}
					.views-field.views-field-created {
						font-style: italic;
					}
					.views-field.views-field-title {
						a {
							background: url("../img/next_black.png");
							background-repeat: no-repeat;
							color:#000;
							padding-left: 20px;
							font-size: $font_size_normal;
						}
					}
				}
			}
		}

	}

	#accordion_overskrift {
		margin-left: 5px;
		overflow: hidden;
		p {
			margin: 0;
		}
		div {
			margin: 0;
			float: left;
		}
		.titel {
			width: 340px;
		}
		.forfatter {
			width: 85px;
			padding-right: 25px;
		}
		.oprettet {

		}
	}
}

/* Livsfortællinger oversigt */
.view.view-livsfort-llinger {
	.view-header {
		.opret_livsfortaellinger {
			position: relative;
			margin-top: -30px;
			margin-bottom: 30px;
			padding-left: 15px;
			a {
				background-color: $color_gul;
				color: #FFFFFF;
				display: inline-block;
				font-size: 13px;
				line-height: 1em;
				padding: 15px 20px;
				text-shadow: none;
				text-transform: uppercase;
			}
		}
		.livsfortaellinger.labels {
			background: url("../img/content-border.png") repeat-x top left;
			padding-top: 30px;
			padding-left: 15px;
			margin-bottom: 15px;
			text-transform: uppercase;
			.titel {
				float: left;
				@media (max-width: 760px){
					display: none;
				}
			}
			.kommentar {
				float: right;
				margin-right: 15px;
				@media (max-width: 760px){
					display: none;
				}
			}
			.dato {
				float: right;
				margin-right: 40px;
				@media (max-width: 760px){
					display: none;
				}
			}
			.alder {
				float: right;
				margin-right: 40px;
				@media (max-width: 760px){
					display: none;
				}
			}
			.koen {
				float: right;
				margin-right: 40px;
				@media (max-width: 760px){
					display: none;
				}
			}
		}
	}
	.view-content {
		.views-row {
			padding: 20px 15px 20px 15px;
			.views-field.views-field-title {
				width: 365px;
				@media (max-width: 980px){
					width: 300px;
				}
				@media (max-width: 760px){
					width: auto;
				}
				a {
					color:$font_color_gul;
					background: url("../img/next_yellow.png");
					background-repeat: no-repeat;
					background-position-y: 4px;
					padding-left: 20px;
					font-size: 16px;
					text-transform: uppercase;
				}
			}
			.views-field.views-field-body {
				width: 500px;
				@media (max-width: 980px){
					width: 280px;
				}
				@media (max-width: 760px){
					width: auto;
				}
			}
			.views-field.views-field-comment-count {
				float: right;
				margin-top: -50px;
				margin-right: 50px;
				@media (max-width: 760px){
					display: none;
				}
			}
			.views-field.views-field-created {
				float: right;
				margin-top: -50px;
				margin-right: 120px;
				@media (max-width: 760px){
					float: left;
					color: #888888;
					margin-top: -5px;
					margin-right: 0;
				}
			}
			.views-field.views-field-field-anmeldelse-anm-alder {
				float: right;
				margin-top: -50px;
				margin-right: 225px;
				@media (max-width: 760px){
					float: left;
					color: #888888;
					margin-top: -5px;
					margin-right: 30px;
				}
			}
			.views-field.views-field-field-brevk-koen {
				float: right;
				margin-top: -50px;
				margin-right: 300px;
				@media (max-width: 760px){
					float: left;
					color: #888888;
					margin-top: -5px;
					margin-right: 30px;
				}
			}
		}
		.views-row.views-row-even {
			background: url("../img/livsfortaelling_repeat.png");
		}
	}
}

/* Livsfortællinger - enkeltvisning */
.view.view-livsfort-llinger-enkeltvisning {
	margin: 0 15px 0 15px;
}

/* Tegn selv - seneste billeder */
.view.view-tegn-selv-seneste-billeder {
	.view-header {
		overflow: hidden;
		background: url("../img/content-border.png") repeat-x top left;
		padding: 30px 15px 0 15px;
		.galleri_overskrift {
			float: left;
			text-transform: uppercase;
		}
		.se_billede_arkiv {
			padding-top: 5px;
			float: right;
			a {
				color:$font_color_gul;
				background: url("../img/next_yellow.png");
				background-repeat: no-repeat;
				padding-left: 20px;
				text-transform: uppercase;
			}
		}
	}
	.view-content {
		background: url("../img/livsfortaelling_repeat.png");
		overflow: hidden;
		padding: 15px;
		.views-row {
			float: left;
			width: 98px;
			margin-right: 15px;
			.views-field.views-field-title {
				height: 40px;
			}
		}
		.views-row-last {
			margin-right: 0;
		}
		a {
			color:$font_color_gul;
		}
	}
}

/* Tegn selv - Arkiv */
.view.view-tegn-selv-arkiv {
	.view-content {
		padding: 0 15px 0 15px;
		.views-row {
			float: left;
			width: 98px;
			margin-right: 15px;
			height: 160px;
		}
		.views-row-5, .views-row-10, .views-row-15 {
			margin-right: 0;
		}
	}
}

/* Tegn selv - enkeltvisning */
.view.view-tegn-selv-enkeltvisning {
	margin-bottom: 20px;
}
/* Ungeblogs/Voksenblogs - oversigt */
#page {
	.view.view-ungeblogs-oversigt, .view.view-voksenblogs-oversigt {
		.view-content {
			.views-row {
				margin: 0 0 30px 0;
				background: url("../img/content-border.png") repeat-x top left;
				padding: 30px 15px 0 15px;
				.views-field.views-field-value, .views-field-name {
					overflow: hidden;
					h3 {
						float: left;
						text-transform: uppercase;
						margin-right: 5px;
					}
					a {
						color:$font_color_gul;
						background: url("../img/next_yellow.png");
						background-repeat: no-repeat;
						padding-left: 20px;
						margin: 5px 0 0 0px;
						float: left;
						line-height: 1;
						height: 15px;
						text-transform: uppercase;
					}
				}
				.views-field.views-field-nothing {
					overflow: hidden;
					.blog_oversigt_left {
						float: left;
						margin-right: 15px;
						.user-picture {
							img {
								border-radius: 50px;
							}
						}
					}
					.blog_oversigt_right {
						float: left;
						width: 450px;
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
/* Ungeblogs - enkeltvisning  */
#page {
	.view.view-blogs-enkeltvisning-oversigt.view-id-blogs_enkeltvisning_oversigt {
		.view-content {
			.views-row {
				margin: 0 0 30px 0;
				background: url("../img/content-border.png") repeat-x top left;
				padding: 30px 15px 0 15px;
				.views-field.views-field-title {
					a {
						color:$font_color_gul;
						background: url("../img/next_yellow.png");
						background-repeat: no-repeat;
						padding-left: 20px;
						margin: 5px 0 0 0px;
						line-height: 1;
						height: 15px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}


/* General stuff */
.opret_btn {
	position: relative;
	margin-bottom: 30px;
	padding: 0 15px 0 15px;
	a {
		background-color: $color_gul;
		color: #FFFFFF;
		display: inline-block;
		font-size: 13px;
		line-height: 1em;
		padding: 15px 20px;
		text-shadow: none;
		text-transform: uppercase;
	}
}

.view-id-body_secrets {
	.views-row {
		width: 260px;
		height: 165px;
		display: inline-block;
		vertical-align: text-top;
		background-color: #ffffff;
		border-radius: 3px;
		padding: 10px;
		margin: 25px 20px 20px 0;
		box-shadow: 5px 5px #aaaaaa;
		position: relative;
	}

	.views-field-created {
		float: right;
		margin: 0px 0 6px 0;
	}

	.views-field-body {
		clear: both;
		text-align: justify;
		line-height: 15px;
		margin-bottom: 5px;
	}

	.views-field-field-brevk-koen, .views-field-field-brevk-alder, .views-field-created {
		color: #888888;
	}


	.views-field-nothing, .view-header {
		a {
			margin-top: 10px;
			color: #ffffff !important;
			background-color: #fb9a00;
			display: inline-block;
			border-radius: 3px;
		}
	}

	.view-footer {
		a {
			background: transparent url(../img/next_yellow.png) center left no-repeat;
			float: left;
			clear: left;
			padding-left: 18px;
			margin-bottom: 8px;
		}
	}

	.views-field-nothing {
		a {
			padding: 5px 10px;
			position: absolute;
			bottom: 10px;
			left: 60px;
		}
		text-align: center;
	}

	.view-header {
		a {
			padding: 5px 10px;
			margin-bottom: 20px;
		}
	}

	.body_secret_icon {
		width: 60px;
		height: 60px;
		background: url("../img/body_secret_icon.png") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		top: -30px;
		left: 50%;
		margin-left: -30px;
	}

	.more-link {
		text-align: left;
		margin-left: 30px;
		a {
			color: #ffffff !important;
			background-color: #fb9a00;
			display: inline-block;
			border-radius: 3px;
			padding: 8px 15px;
		}
	}
}

.view-id-related_articles {
	.view-content {
		.field-content {
			a {
				background: transparent url(../img/next_yellow.png) center left no-repeat;
				float: left;
				clear: left;
				padding-left: 18px;
				margin-bottom: 8px;
			}
		}
	}
}