@import "settings";

/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */




/* - LAYOUT - */


/* - HEADER FORSIDE - */
.front {
	.region-header-bottom {
	  display: block;
	 }

	#section-header {
		background: url("../img/stuen_stor.jpg") #bca79a no-repeat bottom center;
		height: 670px;
		margin-bottom: 0;
	}
}


/* Forside view - exposed filter */

#block-views-exp-forside-page {
  h2.block-title {
    font-size: 200%;
    text-align: center;
    color:  #999;
  }
	#views-exposed-form-Forside-page {
		.views-exposed-form {


			#edit-type-wrapper {
				margin: 0 0 20px 0;
				text-align: center;

				div, label {
			  }

				label {
					display: inline-block;
					font-weight: normal;
					color: #999;
				}
			}

			.views-widget {
				.bef-select-as-links {
					.form-item {
						.form-type-bef-link {
							margin-left: 25px;
							margin-right: 0;
							text-transform: uppercase;
							font-size: 13px;
							display: inline;
						}


						#edit-type-faq {
							display: none;
						}
					}
				}
			}

			#edit-combine-wrapper {
				width: 680px;
				height: 40px;
				margin-left: -345px;
        margin-bottom: 20px;
				position: relative; left: 50%;

				.views-widget {
					.form-item.form-type-textfield.form-item-combine {
						#edit-combine {
							width: 546px;
							height: 41px;
							padding-left: 45px;
							@include border-radius(5px);
							background: #FFFFFF url("../img/search-icon.png") no-repeat 16px 12px;
							border:none;
							color: #222;
							font-size: 13px;
							font-family: $std-font-family;
							outline: none;
							@include box-shadow(rgba(black, 0.2) 1px 1px 2px inset);
						}
					}
				}
			}

			.views-exposed-widget.views-submit-button {
				padding: 0 1em 0 0;
				position: absolute;
				margin-left: 671px;
        margin-top: -6px;

				#edit-submit-forside {
					width: 80px;
					height: 41px;
					border: none;
					color:#fff;
					font:normal 12px $std-font-family;
					text-shadow: none;
					background-repeat: no-repeat;
					background: #e67e22;
					margin-top: 13px;
					border-radius: 0 5px 5px 0;
				}
			}
		}
	}
}

.page-forside #page #section-content #zone-content-wrapper {
	padding-top: 45px;
}

/* The chat widget in the right side of the window */
.region-tabs-right .slideout{
  right: -260px;
  top: 15%;
  position: fixed;
  z-index: 100;
}

.region-tabs-right .slideout.groupchat{
  top: 35%;
}

.region-tabs-right .slideout.kramchat{
  top: 55%;
}

.region-tabs-right .slideout.kbhchat{
  top: 75%;
}

.region-tabs-right .status-wrapper{
  color: black;
  overflow: hidden;
  width: 256px;
  margin-right: 44px;
  text-align: center;
  background: #fff
  //background: url('http://kramchat.cybhus.dk/sites/all/themes/kramchat-chat-theme/img/black_lozenge.png');
}

.region-tabs-right .status-tab{
  float: left;
  height: 162px;
  width: 42px;
}

.region-tabs-right .groupchat .status-tab{
  background: url('http://cyberchat.dk/sites/all/themes/cyberhuschat/img/gruppechat-tab.png') no-repeat;
}
.region-tabs-right .kramchat .status-tab{
   background: url('http://cyberchat.dk/sites/all/themes/cyberhuschat/img/kramchatten-tab.png') no-repeat;
}

.region-tabs-right .status-content .status-info{
  margin-top: 30px;
}

.region-tabs-right .status-content p{
  display: inline-block;
  margin-top: 10px;
  font-size: 13px !important;
}

.region-tabs-right .status-content p a{
  color: rgb(255,255,255);
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
}

.region-tabs-right .groupchat .status-info p{
  text-align: center;
}

.region-tabs-right .groupchat .status-content p a{
  background: rgb(201,166,98);
  border: 4px solid rgb(252,208,133);
  outline: 1px solid rgba(201,166,98,0.3);
}

.region-tabs-right .groupchat .status-content p a:hover{
  background: rgb(124,103,61);
  background: rgb(222,178,93);
}

.region-tabs-right .kramchat .status-wrapper{
  //background: url('http://kramchat.cybhus.dk/sites/all/themes/kramchat-chat-theme/img/black_lozenge.png');
  background: #fff;
}

.region-tabs-right .kramchat .status-content p a{
  background: lighten(#3eafb5, 0%);
  border: 4px solid lighten(#3eafb5, 5%);
}

.region-tabs-right .kramchat .status-content p a:hover{
  background: lighten(#3eafb5, 5%);
  border: 4px solid lighten(#3eafb5, 10%);
}

/* Multi-site foldout widget styles */
.region-tabs-right .multi{
  top: 65%;
}

