.node-nav,
.view ul.entity_pager {
  background: white;
  text-align: center;
  padding: 1.5em;
  height: 1.25em;
  margin: 0;
  border-bottom: 1px solid $color-gray;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: 500;


  a {
    line-height: 1.45em;
    color: $text-color-light;
    @include transition-property(color);
    @include transition-duration(250ms);

    &:hover {
      color: $text-color;
      text-decoration: none;

      svg {
        fill: $text-color;
      }
    }
  }

  svg {
    fill: $text-color-light;
    width: 1.25em;
    height: 1.25em;
    @include transition-property(fill);
    @include transition-duration(250ms);
  }

  li {
    margin: 0;
    padding: 0;
    display: block;
  }

  .node-nav-prev,
  .entity_pager_prev {
    float: left;
    width: 25%;
    text-align: left;

    svg {
      float: left;
      padding-right: 0.65em;
    }
  }
  .node-nav-next,
  .entity_pager_next {
    float: right;
    width: 25%;
    text-align: right;

    svg {
      float: right;
      padding-left: 0.65em;
    }
  }
  .node-nav-all,
  .entity_pager_all_link {
    display: inline-block;
    position: relative;

    svg {
      float: left;
      padding-right: 0.65em;
      position: relative;
    }
  }
}
