.paragraphs-items-field-ung-i-content .field-items > .field-item{
    margin-bottom: 1em;
}

.paragraphs-items-field-ung-i-content .field-item.add-bg{
    background: #fff;
}

.paragraphs-items-field-ung-i-content .field-item.add-bg.grey{
    background: #c7c7c7;
}

.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-alm-tekst h2,
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-lokale-tilbud h2{
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-alm-tekst a,
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-lokale-tilbud a{
    color: #8d62a4;
}

.paragraphs-items-field-ung-i-content .field-item.add-bg > div{
    padding: 2em;
}
.paragraphs-items-field-ung-i-content .field-item.add-bg > div.paragraphs-item-ungi-iframe-embed,
.paragraphs-items-field-ung-i-content .field-item > div.paragraphs-item-ungi-alm-tekst.cim-chat-embedded{
    padding: 0;
}

.paragraphs-items-field-ung-i-content .field-item > div.paragraphs-item-ungi-alm-tekst.cim-chat-embedded > h2,
.paragraphs-items-field-ung-i-content .field-item > div.paragraphs-item-ungi-alm-tekst.cim-chat-embedded > p{
    display: none;
}
.field-name-field-ung-i-content > .field-items iframe{
    width: 100%;
    height: 200px;
}

.field-name-field-ung-i-content .button{
    background: #8d62a4;
    color: #ffffff!important;
}

.field-name-field-ung-i-content > .field-items .sidebar-wrapper{
    background: #fff;
    padding: 2em;
}

.field-name-field-ung-i-content > .field-items .sidebar-wrapper a{
    color: #8d62a4;
}

.paragraphs-items-field-ung-i-content .field-item > div > h2{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.75em;
}

.field-name-field-ung-i-content > .field-items h3{
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.field-name-field-ung-i-content > .field-items h4{
    font-weight: 700;
    font-size: 1.15em;
    margin-bottom: 1em;
}

.field-name-field-ung-i-content > .field-items h4 a{
    color: #1b1d1f;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
}

.field-name-field-ung-i-content > .field-items h4 a:hover{
    text-decoration: none;
    opacity: .75;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog span.field-content{
    display: table;
    width: 100%;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .ungi_blogs_image{
    display:table-cell;
    padding-right: 1em;
    vertical-align: top;
    width: 27%;
    max-width: 200px;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .ungi_blogs_image:empty{
    width: 0;
    padding: 0;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .ungi-blogs-content-wrapper{
    display:table-cell;
    vertical-align: top;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .ungi-blogs-content-wrapper .ungi_blogs_body{
    line-height: 1.5em;
}

.paragraphs-items-field-ung-i-content .view .view-content .views-row{
    margin-bottom: 10px;
}

.paragraphs-items-field-ung-i-content .view .view-content .views-row .views-field-value,
.paragraphs-items-field-ung-i-content .view .view-content .views-row .views-field-nothing {
    margin: 5px 0 5px 0;
    border-bottom: 0;
    float: left;
    color: #a1a1a1;
    padding: 0 0 1em 0;
    font-size: 0.875em;
    line-height: 1.25em;
}

.paragraphs-items-field-ung-i-content .view .view-content .views-row .views-field-value {
    margin: 5px 0 0 0;
    border-bottom: 0;
    float: left;
    color: #a1a1a1;
    padding: 0;
}

.paragraphs-items-field-ung-i-content .view .view-content .views-row .views-field-value a {
    color: #8d62a4;
}

.paragraphs-items-field-ung-i-content .view .view-content .views-field-nothing-1 {
    padding: 0 0 1em 0;
    border-bottom: 1px solid #d7d7d7;
}

.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .view-blogs-oversigter > .view-content .views-row .vud-widget-cyberlike,
.paragraphs-items-field-ung-i-content .paragraphs-item-ungi-blog .view-blogs-oversigter > .view-content .views-row .views-field-comment-count .comments{
    margin-top: 1em;
}

.paragraphs-items-field-ung-i-content .view .item-list ul.pager{
    margin: .5em 0 .5em 0;
}

.paragraphs-items-field-ung-i-content .view .item-list ul.pager li a{
    color: #1b1d1f;
}


.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .view-empty{
    background: #fff;
    padding: 2em;
}

.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .sidebar,
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-blog .sidebar{
    margin-bottom: 10px;
}

.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .stream-metadata-item.meta-author:before{
    content: none;
}

.paragraphs-item-ungi-lokale-tilbud .lt-content p:last-child{
    margin: 0 0 1.25em 0;
}



.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item h4{
    margin-bottom: 0.5em;
}
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item .stream-metadata{
    margin-bottom: 15px;
}
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item .stream-avatar{
    width: 6em;
    padding-right: 1em;
}
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item .stream-avatar img{
    min-width: 66px;
}
.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item .stream-content{
    width: calc(100% - 6em);
}

.field-name-field-ung-i-content > .field-items .paragraphs-item-ungi-brevkasse .main-content .stream-item .stream-counselor{
    margin: 15px 0 0 0;
}

@media (min-width: 1024px) {

    /* MAIN GRID */
    .field-name-field-ung-i-content > .field-items{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        -ms-flex-wrap: wrap;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }
    .field-name-field-ung-i-content > .field-items > .field-item{
        width: calc(50% - 0.5em);
    }



    .field-name-field-ung-i-content > .field-items > .field-item.wide-element{
        width: 100%;
    }

    .field-name-field-ung-i-content > .field-items .field-item .paragraphs-item-ungi-iframe-embed{
        width: 100%;
        height: 200px;
    }


    .field-name-field-ung-i-content .wide-element .paragraphs-item-ungi-blog,
    .field-name-field-ung-i-content .wide-element .paragraphs-item-ungi-brevkasse{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-wrap: wrap;
        justify-content: flex-end;
        -ms-flex-pack: end;
    }

    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-blog .sidebar,
    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-brevkasse .sidebar{
        width: 24%;
        margin-right: 1em;
    }

    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-blog .main-content,
    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-brevkasse .main-content{
        width: calc(76% - 1em);
    }

    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-blog h2,
    .field-name-field-ung-i-content .field-items .wide-element .paragraphs-item-ungi-brevkasse h2{
        width: 100%;
    }

    .wide-element .paragraphs-item-ungi-lokale-tilbud{
        display: table;
        width: calc(100% - 4em);
    }
    .wide-element .paragraphs-item-ungi-lokale-tilbud .lt-content{
        display: table-cell;
        vertical-align: top;
        padding-right: 1em;
    }
    .wide-element .paragraphs-item-ungi-lokale-tilbud .lt-btn{
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        min-width: 185px;
    }
    .wide-element .paragraphs-item-ungi-lokale-tilbud .lt-content p:last-child{
        margin: 0;
    }

}


#CybotCookiebotDialog {
  border-radius: 10px !important;
  padding-bottom: 0 !important;
  padding: 40px !important;
  box-shadow: 2px 2px 14px 0 rgba(0, 0, 0, .2) !important;
  z-index: 9999999999 !important;
  max-width: 620px !important;
}
#CybotCookiebotDialogPoweredbyLink {
  display: none;
}

#CybotCookiebotDialog div {
  font: normal normal normal 16px/1.5 "Montserrat", sans-serif !important;
  color: #1b1d1f !important;
  padding: 0 !important
}

#CybotCookiebotDialog {
  border: 0 !important
}

#CybotCookiebotDialogBodyContent {
  padding-left: 0 !important
}

#CybotCookiebotDialogBodyContentText {
  padding: 20px !important;
  margin: 0 !important;
  margin-bottom: 20px !important
}

#CybotCookiebotDialogBody {
  padding: 20px !important
}

#CybotCookiebotDialogBodyContentTitle {
  font-size: 20px !important;
  font-family: "Montserrat",sans-serif !important;
  margin-bottom: 20px !important
}

#CybotCookiebotDialogBodyContentText {
  font-size: 14px !important;
  line-height: 24px !important
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
  margin-left: 0 !important
}
#CybotCookiebotDialogBodyLevelWrapper {
  text-align: left !important;
}
#CybotCookiebotDialogBodyLevelButtonAcceptWrapper,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
  float: left !important;
  margin-bottom: 20px !important
}

a#CybotCookiebotDialogBodyLevelButtonAccept,
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll,
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
  padding: 11px 18px !important;
  border-radius: 3px !important;
  font-size: 16px !important;
  line-height: 1 !important;
  font-weight: 600 !important;
  width: auto !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection:hover {
  background: #fff !important;
  border: 2px solid #000 !important;
  color: #000 !important
}

a#CybotCookiebotDialogBodyLevelButtonAccept {
  background-color: #1d9ed0 !important;
  border: 1px solid #1d9ed0 !important;
  color: #fff !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
  margin-left: 0 !important;
  margin-right: 20px !important
}

#CybotCookiebotDialogBodyLevelButtons {
  margin-left: 0 !important
}

#CybotCookiebotDialogBodyLevelButtonsTable {
  height: 60px !important;
  width: 620px !important
}

#CybotCookiebotDialogBodyLevelButtonsSelectPane {
  font-size: 14px !important;
  vertical-align: middle !important;
  padding-left: 15px !important
}

a#CybotCookiebotDialogBodyLevelDetailsButton {
  background: none !important;
  padding: 10px 15px !important;
  line-height: 35px !important;
  font-size: 14px !important;
  width: 95% !important
}

#CybotCookiebotDialogBodyLevelDetailsWrapper {
  background: transparent !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important
}

.CybotCookiebotDialogBodyLevelButtonWrapper {
  margin-right: 20px !important
}

.CybotCookiebotDialogBodyLevelButtonWrapper:first-child {
  margin-left: 15px !important
}

#CybotCookiebotDialogDetailBodyContentTabsAbout, #CybotCookiebotDialogDetailBodyContentTabsOverview {
  background: transparent !important;
  border: none !important
}

#CybotCookiebotDialogDetailBodyContent div#CybotCookiebotDialogDetailBodyContentTextAbout {
  padding: 10px !important
}

#CybotCookiebotDialogDetailBodyContentTabs {
  margin-bottom: 5px !important
}

#CybotCookiebotDialogDetailBodyContentTextAbout {
  height: 170px !important;
  padding: 15px !important
}

a.CybotCookiebotDialogDetailBodyContentTab {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 18px !important
}

a.CybotCookiebotDialogDetailBodyContentTab:hover {
  color: #1d9ed0 !important
}

a.CybotCookiebotDialogDetailBodyContentTab:first-child {
  padding-left: 0 !important
}

#CybotCookiebotDialogDetailBodyContentTabsOverview {
  margin-right: 20px !important;
  padding-right: 0 !important
}

#CybotCookiebotDialogDetailBodyContentTabsAbout {
  padding-left: 0 !important
}

a.CybotCookiebotDialogDetailBodyContentTabsItemSelected {
  color: #1d9ed0 !important
}

.CybotCookiebotDialogDetailBodyContentCookieTypeIntro {
  padding: 15px !important;
  line-height: 17px !important
}

.CybotCookiebotDialogDetailBodyContentCookieContainerTypes {
  background: #ffffff !important
}

#CybotCookiebotDialogDetailBodyContent a {
  padding: 9.4px !important;
  font-family: "Montserrat", sans-serif !important;
}
