/* Font-weight */
/* Letter-spacing and line-height */
/* Font-size */
/* Font colors and backgrounds */
/* Margin and padding */
/* Border color */
/* General colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\000031}}
html {
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\000036}}
body {
  color: #231E19;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 1.438em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000313}}
h2 {
  font-family: "Merriweather", serif;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.75em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000320}}
a {
  color: #2980B9;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000325}}
.btn {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 10em;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
  .btn:hover {
    background: #226998;
    transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000323}}
  .btn:active {
    background: #123851; }

/* Overall layout elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\000032}}
.l-region--header {
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\000035}}
.l-branding {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000312}}
.l-main--wrapper {
  background-color: #F1F1F1;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 6em;
  background-image: url('../images/bylinje.png?1466968241');
  background-repeat: repeat-x;
  background-position: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000321}}
.l-main {
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000326}}
.l-content {
  background-color: #fff;
  margin: auto;
  max-width: 586px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000333}}
.l-region--navigation ul.menu {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000335}}
  .l-region--navigation ul.menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000340}}
  .l-region--navigation ul.menu a {
    background-position: top center;
    color: #6B6866;
    display: block;
    font-weight: 700;
    height: 46px;
    min-width: 26px;
    padding: 26px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000352}}
.l-footer--wrapper {
  background-color: #2d2728; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000358}}
.l-region--footer {
  max-width: 586px;
  margin: 0 auto;
  padding: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000362}}
  .l-region--footer a {
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_node\.scss}line{font-family:\000031}}
.author-timestamp {
  color: #6B6866;
  font-size: 0.85em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\000031}}
.block--block-43 {
  margin: 2em auto;
  max-width: 586px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\000034}}
  .block--block-43 p,
  .block--block-43 h2 {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\000038}}
  .block--block-43 .footer-icons .rounded {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000316}}
.block--menu-menu-andet {
  background-color: #484243;
  height: 50px;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000320}}
  .block--menu-menu-andet ul.menu {
    padding-top: 1em;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000324}}
  .block--menu-menu-andet li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em; }

/**
 * GENERAL VIEWS STYLING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\000035}}
.view > .view-header, .view > .view-footer {
  margin: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\000038}}
  .view > .view-header .view-content, .view > .view-footer .view-content {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000310}}
    .view > .view-header .view-content .views-row, .view > .view-footer .view-content .views-row {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000315}}
.view .view-filters {
  margin-bottom: 1em;
  /* Hide description: https://www.drupal.org/node/339384#comment-10587426 */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000319}}
  .view .view-filters .form-type-select .description {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000324}}
.view > .view-content .views-row {
  margin-top: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000327}}
.view > .view-content h2 {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000330}}
.view > .view-content .comment-count {
  background-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000332}}
  .view > .view-content .comment-count:after {
    content: " kommentarer"; }

/* Load more pager */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000341}}
.pager-load-more a {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980B9;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 10em;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
  .pager-load-more a:hover {
    background: #ebebeb;
    transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000323}}
  .pager-load-more a:active {
    background: #bfbfbf; }

/**
 * FORUM LIST & TOPIC LIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000350}}
.view-cyberhus-forum-topic-list > .view-header .views-field-field-tag-shorthand, .view-cyberhus-forum-topic-list > .view-footer .views-field-field-tag-shorthand {
  color: #6B6866;
  font-size: 1.3em;
  padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000357}}
.view-cyberhus-forum-topic-list > .view-content .views-field-field-tag-shorthand {
  color: #6B6866; }

/* Center buttons */
/**
 * FORUM LIST & TOPIC LIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\000037}}
.view-cyberhus-forum-topic-list > .view-content .cyberlikes, .view-cyberhus-forum-topic-list > .view-content .comment-count {
  background: url('../images/icons/cyberlike/heart_cleaned_gray.svg?1467113545') no-repeat 0 0;
  color: #6B6866;
  display: inline-block;
  height: 30px;
  margin-top: 0.7em;
  padding-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000315}}
.view-cyberhus-forum-topic-list > .view-content .comment-count {
  background-image: none; }

/* Cyberlike in nodes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000325}}
.field.field--name-field-blog-cyberlike .vud-widget,
.field.field--name-field-kommentar-cyberlike .vud-widget,
.field.field--name-field-cyberlike .vud-widget,
.views-field-field-kommentar-cyberlike .vud-widget {
  float: none;
  width: 100%;
  height: 35px;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000330}}
  .field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display,
  .field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display,
  .field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display,
  .views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display {
    border: none;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    width: 26px;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000338}}
  .field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display:after,
  .field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after,
  .field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display:after,
  .views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after {
    /* content: " synes godt om"; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000341}}
  .field.field--name-field-blog-cyberlike .vud-widget .vud-link-up, .field.field--name-field-blog-cyberlike .vud-widget .up-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up,
  .field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
  .field.field--name-field-cyberlike .vud-widget .vud-link-up,
  .field.field--name-field-cyberlike .vud-widget .up-active,
  .views-field-field-kommentar-cyberlike .vud-widget .vud-link-up,
  .views-field-field-kommentar-cyberlike .vud-widget .up-active {
    width: 26px;
    height: 24px;
    background: url('../images/icons/cyberlike/heart_cleaned.svg?1467113544');
    background-repeat: no-repeat;
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000348}}
    .field.field--name-field-blog-cyberlike .vud-widget .vud-link-up .up-inactive, .field.field--name-field-blog-cyberlike .vud-widget .up-active .up-inactive,
    .field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
    .field.field--name-field-kommentar-cyberlike .vud-widget .up-active .up-inactive,
    .field.field--name-field-cyberlike .vud-widget .vud-link-up .up-inactive,
    .field.field--name-field-cyberlike .vud-widget .up-active .up-inactive,
    .views-field-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
    .views-field-field-kommentar-cyberlike .vud-widget .up-active .up-inactive {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000352}}
  .field.field--name-field-blog-cyberlike .vud-widget .up-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
  .field.field--name-field-cyberlike .vud-widget .up-active,
  .views-field-field-kommentar-cyberlike .vud-widget .up-active {
    background: url('../images/icons/cyberlike/heart-fill_cleaned.svg?1467113544'); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000356}}
  .field.field--name-field-blog-cyberlike .vud-widget .reset-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .reset-active,
  .field.field--name-field-cyberlike .vud-widget .reset-active,
  .views-field-field-kommentar-cyberlike .vud-widget .reset-active {
    float: right;
    display: none; }

/* Cyberlike in comments */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000364}}
.field.field-name-field-kommentar-cyberlike {
  padding-top: 12px; }
  @media (max-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000364}}
    .field.field-name-field-kommentar-cyberlike {
      float: left; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000370}}
.field.field-name-field-blog-cyberlike, .field.field-name-field-cyberlike {
  margin: 20px 20px 0 0; }
