@charset "UTF-8";
/* Font-weight */
/* Letter-spacing and line-height */
/* Font-size */
/* Font colors and backgrounds */
/* Margin and padding */
/* Border color */
/* General colors */
/* Used for e.g. term listing title */
html {
  font-size: 100%;
}

body,
div {
  color: #231E19;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 1.438em;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  margin: 16px 0;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.75em 0;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0;
}

a {
  color: #2980B9;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  margin: 0.75em 0;
}

ol {
  list-style: decimal;
  padding-left: 1em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

/* buttons */
.btn-select {
  background-color: #fff;
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  padding: .4em .5em;
  display: inline-block;
  margin-right: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn-select:hover {
  background: #f2f2f2;
  transition: all 0.3s ease;
}

input.form-submit {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: inline-block;
  margin-right: 1em;
  max-width: 12em;
}
input.form-submit:hover {
  background: #226998;
  transition: all 0.3s ease;
}
input.form-submit:active {
  background: #123851;
}

.btn {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
.btn:hover {
  background: #226998;
  transition: all 0.3s ease;
}
.btn:active {
  background: #123851;
}
@media (min-width: 36.625em) {
  .btn {
    max-width: 12em;
  }
}

.btn-left {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: inline-block;
  margin-right: 1em;
  max-width: 12em;
}
.btn-left:hover {
  background: #226998;
  transition: all 0.3s ease;
}
.btn-left:active {
  background: #123851;
}

.btn-light {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980B9;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
.btn-light:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light:active {
  background: #bfbfbf;
}
@media (min-width: 36.625em) {
  .btn-light {
    max-width: 12em;
  }
}

.btn-light-left {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980B9;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: inline-block;
  margin-right: 1em;
  max-width: 12em;
}
.btn-light-left:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-light-left:active {
  background: #bfbfbf;
}

.headline-grey-bg {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 -1em;
  text-transform: uppercase;
  padding: 1em;
}

.headline-grey-bg-neg-mrg {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 -1em;
  text-transform: uppercase;
  padding: 1em;
}

.author-timestamp {
  color: #85817f;
  font-size: 0.85em;
  margin-bottom: 0.75em;
}
.author-timestamp .gender {
  padding: 0 4px 0 12px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.author-timestamp .gender.tid-2150 {
  background-image: url('../images/icons/svg/gender/female.svg?1478556783');
}
.author-timestamp .gender.tid-2149 {
  background-image: url('../images/icons/svg/gender/male.svg?1478556783');
}
.author-timestamp .gender.tid-2350 {
  background-image: url('../images/icons/svg/gender/non-binary.svg?1478556783');
}

/* Accordions, general styling. */
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

.ui-widget {
  font-size: 1em;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #fff;
  border: none;
  color: #231E19;
  font-weight: 400;
}

.ui-accordion .ui-accordion-content {
  padding: 0 1em;
}

.ui-widget-content {
  border: none;
  background: none;
  color: #231E19;
}

.ui-icon-triangle-1-s {
  display: none;
}

.ui-icon-triangle-1-e {
  background-position: -32px 0;
  display: none;
}

.ui-widget-content a {
  color: #2980B9;
}

/* We use + / - signs to signal active state */
.views-accordion-header .field-content a:before,
.views-accordion-header .field__item:before,
.ui-accordion-header .field-content a:before,
.ui-accordion-header .field__item:before {
  content: "+";
  display: inline-block;
  margin-right: 0.75em;
  width: .75em;
}
.views-accordion-header.ui-state-active .field-content a:before,
.views-accordion-header.ui-state-active .field__item:before,
.ui-accordion-header.ui-state-active .field-content a:before,
.ui-accordion-header.ui-state-active .field__item:before {
  content: "-";
}

/* Accordion in views */
.view .ui-accordion.view-content {
  /* Reset default views elements */
  /* IE7-/Win - Fix extra vertical space in lists */
}
.view .ui-accordion.view-content .views-field-body {
  padding: 0 1em 1em;
}
.view .ui-accordion.view-content .views-row {
  margin-left: 0;
  padding: 0;
}
.view .ui-accordion.view-content .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  padding: 1em;
  zoom: 1;
}
.view .ui-accordion.view-content .ui-accordion-li-fix {
  display: inline;
}
.view .ui-accordion.view-content .ui-accordion-header-active {
  border-bottom: 0 !important;
}
.view .ui-accordion.view-content .ui-accordion-header a {
  font-family: "Merriweather", serif;
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0;
  color: #2980B9;
  display: block;
}
.view .ui-accordion.view-content a {
  zoom: 1;
}
.view .ui-accordion.view-content .ui-accordion-header .ui-icon {
  /*    position: absolute;
      left: .5em;
      top: 50%;
      margin-top: -8px;*/
  display: none;
}
.view .ui-accordion.view-content .ui-accordion-content {
  padding: 0;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
}
.view .ui-accordion.view-content .ui-accordion-content-active {
  display: block;
}

/**
 * MAIN CONTENT BLOCKS
 */
.l-content .block {
  margin: 1em;
}

/* Forum */
.block.forum-description .block__content {
  color: #85817f;
  font-style: italic;
}

/* Billeder */
#block-views-billeder-oversigter-block-1 {
  margin: 0;
}
#block-views-billeder-oversigter-block-1 h2 {
  font-size: 1em;
}
#block-views-billeder-oversigter-block-1 .view-content {
  background-color: #fff;
}
#block-views-billeder-oversigter-block-1 .views-row {
  display: inline-block;
  max-width: 160px;
}

/* Blocks with intro text in italics */
.front .cyberhus-intro-text p,
.cyberhus-oversigt .cyberhus-intro-text p {
  color: #85817f;
  font-style: italic;
}

/**
 * MENU BLOCKS WITH JUICY SVG IMGS!!
 */
#block-menu-menu-top-menu ul.menu {
  display: none;
  text-align: center;
}
#block-menu-menu-top-menu ul.menu li {
  list-style-type: none;
}
#block-menu-menu-top-menu ul.menu a {
  background-position: top center;
  color: #85817f;
  display: block;
  font-weight: 700;
  height: 46px;
  min-width: 26px;
}
#block-menu-menu-top-menu ul.menu a:hover {
  color: #231E19;
}

#block-menu-menu-andet li,
#block-menu-menu-top-menu li {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: stroke .25s ease, width .5s ease;
}
#block-menu-menu-andet li a,
#block-menu-menu-top-menu li a {
  display: block;
}
#block-menu-menu-andet li svg,
#block-menu-menu-top-menu li svg {
  display: none;
}

#sidr-wrapper-0 {
  border-left: 1px solid #BFBFBF;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px;
  /* Hide border on tab and above */
}
#sidr-wrapper-0 #sidr-0-button {
  display: block;
  padding: 10px;
}
#sidr-wrapper-0 #sidr-hamburger {
  background-image: url('../images/icons/svg/responsive-menu.svg?1474286442');
  background-repeat: none;
  height: 17px;
  width: 22px;
}
@media (min-width: 36.625em) {
  #sidr-wrapper-0 {
    border-left: none;
  }
}

.sidr {
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  top: 50px;
  width: 100%;
}
.sidr ul.sidr-class-menu {
  border-top: 1px solid #BFBFBF;
  border-bottom: none;
  border-left: none;
}
.sidr ul.sidr-class-menu li {
  border-bottom: 1px solid #BFBFBF;
  border-top: none;
  padding-left: 0.75em;
  position: relative;
  width: 100%;
  min-height: 49px;
}
.sidr ul.sidr-class-menu li:hover {
  line-height: 48px;
}
.sidr ul.sidr-class-menu li:hover > a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr ul.sidr-class-menu li a {
  color: #85817f;
  display: block;
  font-weight: 700;
  padding-left: 32px;
  position: absolute;
  width: 100%;
}
.sidr ul.sidr-class-menu li a:hover {
  color: #231E19;
}
.sidr ul.sidr-class-menu li svg {
  position: absolute;
  top: 10px;
  left: 10px;
  vertical-align: middle;
}

/* Sidr Hamburger icon animation - credits Jesse Couch https://codepen.io/designcouch/pen/Atyop */
#nav-icon3 {
  width: 22px;
  height: 18px;
  position: relative;
  margin: 0 auto;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #2980B9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#block-menu-menu-top-menu li svg,
.sidr li svg {
  height: 25px;
  width: 25px;
}
#block-menu-menu-top-menu li svg g,
.sidr li svg g {
  fill: #85817f;
}
#block-menu-menu-top-menu li:hover svg g,
.sidr li:hover svg g {
  fill: #000;
}

/* Only svg menus for tab and desktop */
@media (min-width: 70em) {
  #block-menu-menu-andet ul.menu,
  #block-menu-menu-top-menu ul.menu {
    display: block;
  }
  #block-menu-menu-andet li,
  #block-menu-menu-top-menu li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0 1em 0;
    transition: stroke .25s ease, width .5s ease;
  }
  #block-menu-menu-andet li a,
  #block-menu-menu-top-menu li a {
    display: block;
  }
  #block-menu-menu-andet li svg,
  #block-menu-menu-top-menu li svg {
    display: inline-block;
  }
  #block-menu-menu-andet li svg g,
  #block-menu-menu-top-menu li svg g {
    transition: fill .25s ease;
  }

  #block-menu-menu-andet li svg {
    height: 35px;
    width: 35px;
  }
  #block-menu-menu-andet li svg g {
    fill: #fff;
  }
  #block-menu-menu-andet li:hover svg g {
    fill: #2980B9;
  }
}
/* Other blocks with juicy svgs */
/* EU info and social icons */
.block--block-43 a {
  display: inline-block;
  margin-right: 1em;
}
.block--block-43 a svg {
  height: 35px;
  width: 35px;
}
.block--block-43 a svg g {
  fill: #fff;
}
.block--block-43 a:hover svg g {
  fill: #2980B9;
}

/**
 * COMMENT BLOCKS
 */
#block-views-comments-block-1 {
  margin: 1em 0;
}
#block-views-comments-block-1 h2 {
  color: #e67e22;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin: 0 0;
}
#block-views-comments-block-1 .view-comments .view-content {
  background-color: #fff;
}
#block-views-comments-block-1 .view-comments .views-row {
  margin: 0;
  padding: 1em 0;
}
#block-views-comments-block-1 .view-comments p {
  margin-top: 0;
}

/**
 * FOOTER BLOCKS
 */
/* EU info and social icons */
.block--block-43 {
  /* Only gfloat social icons right on tablet and above*/
  margin: 2em auto;
  max-width: 586px;
  margin: 1em;
}
.block--block-43 .footer-eu-wrapper,
.block--block-43 .footer-social-icons-wrapper {
  display: inline-block;
  max-width: 250px;
  margin-right: 1em;
}
@media (min-width: 36.625em) {
  .block--block-43 .footer-social-icons-wrapper {
    float: right;
  }
}
.block--block-43 p,
.block--block-43 h2 {
  color: #fff;
}
.block--block-43 h3 {
  color: #85817f;
}
.block--block-43 img.rounded {
  height: 36px;
  width: 36px;
  border-radius: 36px;
}

/* Footer menu */
#block-block-44 {
  display: inline-block;
  margin: 1em;
  text-align: center;
}
#block-block-44 p, #block-block-44 a {
  color: #fff;
  font-weight: 700;
}

/* Footer menu */
.block--menu-menu-andet {
  background-color: #454042;
  padding: 1em;
}
.block--menu-menu-andet ul.menu {
  padding: 1em 0;
  text-align: center;
}
.block--menu-menu-andet li {
  display: inline-block;
  list-style-type: none;
  margin: 0 1em 1em 0;
}
.block--menu-menu-andet li a {
  color: #fff;
  font-weight: 700;
}

/* The sticky CuraChat widgets in the right side of the window */
.curachat-widgets .opeka-chat-foldout-wrapper {
  /* Multi-site foldout widget styles */
}
.curachat-widgets .opeka-chat-foldout-wrapper.pair {
  top: 63%;
  z-index: 12;
}
.curachat-widgets .opeka-chat-foldout-wrapper.group {
  top: 38%;
  z-index: 11;
}
.curachat-widgets .opeka-chat-foldout-wrapper.multi {
  top: 15%;
}

.curachat-widgets-inline {
  height: 50px;
  width: 100%;
}

.curachat-widgets-header {
  height: 180px;
  width: 100%;
}

/* Responsive styles */
/* Show sticky side widgets on tab and above */
.curachat-widgets {
  display: none;
}

@media (min-width: 36.625em) {
  .curachat-widgets {
    display: block;
  }
}
/**
 * FORUM, BLOG, BILLEDER VIEWS LISTS (OVERSIGTER)
 */
.view {
  /* cyberhus oversigter - blogs, forum, billeder etc */
}
.view > .view-content .cyberlikes,
.view > .view-content .views-field-comment-count, .view > .view-content .comment-count {
  background: url('../images/icons/svg/cyberlike/heart_cleaned_gray.svg?1474286442') no-repeat 0 0;
  color: #85817f;
  display: inline-block;
  height: 30px;
  padding-left: 32px;
}
.view > .view-content .cyberlikes {
  margin-right: 0.75em;
}
.view > .view-content .views-field-comment-count, .view > .view-content .comment-count {
  background-image: url('../images/icons/svg/comments.svg?1474286442');
}
.view.cyberhus-oversigt .views-field-value-1,
.view.cyberhus-oversigt .views-field-value {
  display: inline-block;
}

/* Cyberlike in nodes and front page oversigt */
.field.field--name-field-blog-cyberlike .vud-widget,
.field.field--name-field-kommentar-cyberlike .vud-widget,
.field.field--name-field-cyberlike .vud-widget,
.views-field-field-kommentar-cyberlike .vud-widget,
.cyberhus-oversigt .vud-widget {
  float: none;
  height: 35px;
  margin: 0;
}
.field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display,
.field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display,
.field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display,
.views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display,
.cyberhus-oversigt .vud-widget .cyberlike-votes-display {
  border: none;
  color: #85817f;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  width: 14px;
  text-align: right;
}
.field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display:after,
.field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after,
.field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display:after,
.views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after,
.cyberhus-oversigt .vud-widget .cyberlike-votes-display:after {
  /* content: " synes godt om"; */
}
.field.field--name-field-blog-cyberlike .vud-widget .vud-link-up, .field.field--name-field-blog-cyberlike .vud-widget .up-active,
.field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up,
.field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
.field.field--name-field-cyberlike .vud-widget .vud-link-up,
.field.field--name-field-cyberlike .vud-widget .up-active,
.views-field-field-kommentar-cyberlike .vud-widget .vud-link-up,
.views-field-field-kommentar-cyberlike .vud-widget .up-active,
.cyberhus-oversigt .vud-widget .vud-link-up,
.cyberhus-oversigt .vud-widget .up-active {
  width: 26px;
  height: 26px;
  background: url('../images/icons/svg/cyberlike/heart_cleaned.svg?1474286442');
  background-repeat: no-repeat;
  background-position-y: 2px;
  display: inline-block;
  float: left;
}
.field.field--name-field-blog-cyberlike .vud-widget .vud-link-up .up-inactive, .field.field--name-field-blog-cyberlike .vud-widget .up-active .up-inactive,
.field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
.field.field--name-field-kommentar-cyberlike .vud-widget .up-active .up-inactive,
.field.field--name-field-cyberlike .vud-widget .vud-link-up .up-inactive,
.field.field--name-field-cyberlike .vud-widget .up-active .up-inactive,
.views-field-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
.views-field-field-kommentar-cyberlike .vud-widget .up-active .up-inactive,
.cyberhus-oversigt .vud-widget .vud-link-up .up-inactive,
.cyberhus-oversigt .vud-widget .up-active .up-inactive {
  display: none;
}
.field.field--name-field-blog-cyberlike .vud-widget .up-active,
.field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
.field.field--name-field-cyberlike .vud-widget .up-active,
.views-field-field-kommentar-cyberlike .vud-widget .up-active,
.cyberhus-oversigt .vud-widget .up-active {
  background: url('../images/icons/svg/cyberlike/heart-fill_cleaned.svg?1474286442');
  background-repeat: no-repeat;
  background-position-y: 2px;
}
.field.field--name-field-blog-cyberlike .vud-widget .reset-active,
.field.field--name-field-kommentar-cyberlike .vud-widget .reset-active,
.field.field--name-field-cyberlike .vud-widget .reset-active,
.views-field-field-kommentar-cyberlike .vud-widget .reset-active,
.cyberhus-oversigt .vud-widget .reset-active {
  float: right;
  display: none;
}

.cyberhus-oversigt .vud-widget-cyberlike {
  display: inline-block;
  margin: 0 0.75em 0 0;
}
.cyberhus-oversigt .comment-count-link {
  display: inline-block;
}
.cyberhus-oversigt .view-content > .views-row div:last-of-type {
  display: inline-block;
}

/* Cyberlike in comments */
.field.field-name-field-kommentar-cyberlike {
  padding-top: 12px;
}
@media (max-width: 36.625em) {
  .field.field-name-field-kommentar-cyberlike {
    float: left;
  }
}

.field.field-name-field-blog-cyberlike, .field.field-name-field-cyberlike {
  margin: 20px 20px 0 0;
}

/**
 * FORUM LIST & TOPIC LIST
 */
.view.view-cyberhus-forum-topic-list > .view-header .views-field-field-tag-shorthand, .view.view-cyberhus-forum-topic-list > .view-footer .views-field-field-tag-shorthand {
  color: #85817f;
  font-size: 1.3em;
  padding-right: 1em;
}
.view.view-cyberhus-forum-topic-list > .view-footer {
  padding: 0;
}
.view.view-cyberhus-forum-topic-list > .view-footer .view-cyberhus-forum-term-list {
  background-color: #fff;
  padding: 1em;
}

/**
 * OVERALL LAYOUT ELEMENTS
 */
.l-header {
  border-bottom: 1px solid #BFBFBF;
}

.l-region--header {
  height: 50px;
  margin-right: 1em;
  position: absolute;
  vertical-align: top;
  width: 50px;
}

.l-branding {
  height: 50px;
  text-align: center;
}
.l-branding a.site-logo {
  display: block;
  padding-top: 10px;
}

.l-main--wrapper {
  background-color: #F1F1F1;
  margin-bottom: 0;
  padding-bottom: 6em;
  background-image: url('../images/bylinje.png?1474286442');
  background-repeat: repeat-x;
  background-position: bottom;
}

.l-main {
  margin: auto;
}

.l-content {
  margin: auto;
  max-width: 586px;
  background-color: #fff;
  padding-top: 1em;
}
.l-content ul.breadcrumb {
  border-bottom: 1px solid #BFBFBF;
  margin-top: -1em;
  padding: 0.75em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.l-content ul.breadcrumb li {
  display: inline;
}
.l-content ul.breadcrumb li:not(:last-child):after {
  color: #BFBFBF;
  content: ' > ';
}

.l-footer--wrapper {
  background-color: #2d2728;
}

.l-region--footer {
  max-width: 586px;
  margin: 0 auto;
  padding: 2em 0;
}
.l-region--footer a {
  color: white;
}

/* Responsive  */
@media (min-width: 36.625em) {
  .l-header {
    border: none;
  }

  .l-region--header {
    left: auto;
    top: auto;
    right: auto;
  }

  .l-region--navigation {
    margin-top: 0;
  }

  .l-main--wrapper {
    padding-top: 1em;
  }

  .l-content ul.breadcrumb {
    background-color: #F1F1F1;
    border: none;
    padding-top: 0;
  }
}
/* Responsive class used on elements that should only be shown on mobile */
@media (min-width: 36.625em) {
  .cyberhus-mobile {
    display: none;
  }
}
/* Custom header styling */
body.page-node-add h1,
body.page-billeder h1,
body.page-search h1,
body.page-hemmeligheder-alle h1,
body.page-blogs-alle h1 {
  margin: 0 16px;
}

body.content-type-blank_page article h1.node__title {
  margin: 0;
}

body.page-blogs h1 {
  margin-left: 16px;
}

/* Front page */
body.front h1,
body.front .block--block-93 {
  margin-top: 0;
}

/* User pages */
body.page-user .l-content {
  padding: 1em;
}
body.page-user ul.tabs--secondary li a {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
body.page-user ul.tabs--secondary li a:hover {
  background: #226998;
  transition: all 0.3s ease;
}
body.page-user ul.tabs--secondary li a:active {
  background: #123851;
}
@media (min-width: 36.625em) {
  body.page-user ul.tabs--secondary li a {
    max-width: 12em;
  }
}

/* youtube video embedding - responsive adjustments */
.media-youtube-video {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;
}

.media-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* General node stuff */
body.page-node,
body.page-comment-reply {
  /* Subscribe - Node notify */
  /* Author timestamp */
  /* Brevkasse */
  /* Blog */
  /* Billeder */
}
body.page-node ul.tabs.tabs--primary,
body.page-comment-reply ul.tabs.tabs--primary {
  margin: 0 1em 1em;
}
body.page-node article h1,
body.page-comment-reply article h1 {
  margin: .3em 0 0 0;
  padding: 0;
}
body.page-node article,
body.page-comment-reply article {
  /* Comment related */
}
body.page-node article.node,
body.page-comment-reply article.node {
  padding: 0 1em 1em 1em;
}
body.page-node article.node ol, body.page-node article.node ul,
body.page-comment-reply article.node ol,
body.page-comment-reply article.node ul {
  list-style: disc;
  margin-left: 1em;
}
body.page-node article .view-author-timestamp-eva-field-nodes .view-content > .views-row,
body.page-comment-reply article .view-author-timestamp-eva-field-nodes .view-content > .views-row {
  margin: 0;
  padding: 0;
}
body.page-node article.node--simpel-side-med-view, body.page-node article.node--chat--full,
body.page-comment-reply article.node--simpel-side-med-view,
body.page-comment-reply article.node--chat--full {
  padding: 0 0 .5em 0;
}
body.page-node article.node--simpel-side-med-view h1, body.page-node article.node--chat--full h1,
body.page-comment-reply article.node--simpel-side-med-view h1,
body.page-comment-reply article.node--chat--full h1 {
  margin: 0 16px;
}
body.page-node article.node--simpel-side-med-view .field--name-field-billede,
body.page-node article.node--simpel-side-med-view .field--name-body, body.page-node article.node--chat--full .field--name-field-billede,
body.page-node article.node--chat--full .field--name-body,
body.page-comment-reply article.node--simpel-side-med-view .field--name-field-billede,
body.page-comment-reply article.node--simpel-side-med-view .field--name-body,
body.page-comment-reply article.node--chat--full .field--name-field-billede,
body.page-comment-reply article.node--chat--full .field--name-body {
  padding: 0 1em 1em 1em;
}
body.page-node article.node--chat--full h1,
body.page-comment-reply article.node--chat--full h1 {
  margin: 16px;
}
body.page-node article li.comment-add a,
body.page-comment-reply article li.comment-add a {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
body.page-node article li.comment-add a:hover,
body.page-comment-reply article li.comment-add a:hover {
  background: #226998;
  transition: all 0.3s ease;
}
body.page-node article li.comment-add a:active,
body.page-comment-reply article li.comment-add a:active {
  background: #123851;
}
@media (min-width: 36.625em) {
  body.page-node article li.comment-add a,
  body.page-comment-reply article li.comment-add a {
    max-width: 12em;
  }
}
body.page-node ul.links.links--inline,
body.page-comment-reply ul.links.links--inline {
  list-style: none;
  margin-left: 0;
}
body.page-node ul.links.links--inline li.subscribe,
body.page-comment-reply ul.links.links--inline li.subscribe {
  float: right;
  margin-top: -60px;
}
body.page-node ul.links.links--inline li.subscribe a,
body.page-comment-reply ul.links.links--inline li.subscribe a {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980B9;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
body.page-node ul.links.links--inline li.subscribe a:hover,
body.page-comment-reply ul.links.links--inline li.subscribe a:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
body.page-node ul.links.links--inline li.subscribe a:active,
body.page-comment-reply ul.links.links--inline li.subscribe a:active {
  background: #bfbfbf;
}
@media (min-width: 36.625em) {
  body.page-node ul.links.links--inline li.subscribe a,
  body.page-comment-reply ul.links.links--inline li.subscribe a {
    max-width: 12em;
  }
}
@media (min-width: 36.625em) {
  body.page-node .author-timestamp,
  body.page-comment-reply .author-timestamp {
    margin-top: 1em;
  }
}
body.page-node .answer.field__label,
body.page-comment-reply .answer.field__label {
  color: #e67e22;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin: 0 0;
  font-size: 1.3em;
}
body.page-node.content-type-blog li.blog_usernames_blog,
body.page-comment-reply.content-type-blog li.blog_usernames_blog {
  display: none;
}
body.page-node.content-type-body_secret .field--name-body .field__item,
body.page-comment-reply.content-type-body_secret .field--name-body .field__item {
  font-family: "Merriweather", serif;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.75em 0;
}
body.page-node.content-type-image .node__content,
body.page-comment-reply.content-type-image .node__content {
  margin-bottom: 1em;
}

/* Hide the obsolete comment form when Mollom activites comment/reply page */
body.page-comment-reply #comment-form,
body.page-comment-reply h2.node__title {
  display: none;
}

/**
 * SIDE MED INDLEJRING AF KODE OG VIEWS & SIMPEL SIDE MED VIEW
 */
.content-type-chat,
.content-type-simpel_side_med_view {
  /* body section is intro text  */
}
.content-type-chat .field--name-body p,
.content-type-simpel_side_med_view .field--name-body p {
  color: #85817f;
  font-style: italic;
}
.content-type-chat .group-fold-out-text-wrapper,
.content-type-simpel_side_med_view .group-fold-out-text-wrapper {
  margin-bottom: 1em;
}
.content-type-chat .ui-accordion-header-icon,
.content-type-simpel_side_med_view .ui-accordion-header-icon {
  display: none;
}
.content-type-chat .ui-accordion.view-content,
.content-type-simpel_side_med_view .ui-accordion.view-content {
  background-color: #fff;
}
.content-type-chat .ui-accordion.view-content h3,
.content-type-simpel_side_med_view .ui-accordion.view-content h3 {
  margin: 0;
}
.content-type-chat .ui-accordion.view-content .views-row,
.content-type-simpel_side_med_view .ui-accordion.view-content .views-row {
  padding: 0 1em;
}
.content-type-chat .ui-accordion.view-content .ui-accordion-header,
.content-type-simpel_side_med_view .ui-accordion.view-content .ui-accordion-header {
  padding-left: 0;
}
.content-type-chat .ui-accordion.view-content .ui-accordion-header a,
.content-type-simpel_side_med_view .ui-accordion.view-content .ui-accordion-header a {
  font-size: 1em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.content-type-chat .ui-accordion-icons,
.content-type-simpel_side_med_view .ui-accordion-icons {
  padding-left: 1em;
}
.content-type-chat .field--name-field-admin-php,
.content-type-chat .field--name-field-relevant-articles,
.content-type-chat .views-accordion-cyberhus_chat-block_1-header,
.content-type-simpel_side_med_view .field--name-field-admin-php,
.content-type-simpel_side_med_view .field--name-field-relevant-articles,
.content-type-simpel_side_med_view .views-accordion-cyberhus_chat-block_1-header {
  margin: 0 1em;
}
.content-type-chat .field--name-field-admin-php p,
.content-type-chat .field--name-field-relevant-articles p,
.content-type-chat .views-accordion-cyberhus_chat-block_1-header p,
.content-type-simpel_side_med_view .field--name-field-admin-php p,
.content-type-simpel_side_med_view .field--name-field-relevant-articles p,
.content-type-simpel_side_med_view .views-accordion-cyberhus_chat-block_1-header p {
  background-color: #fff;
}
.content-type-chat .field--name-field-footer-text,
.content-type-simpel_side_med_view .field--name-field-footer-text {
  margin: 1em;
}

/* ENABLE 2 ACT custom page */
body.page-node-41282 .field--name-field-vedh-ft-view,
body.page-node-41282 .block--views-comments-block-1,
body.page-node-41282 .comment-form {
  padding: 1em;
}

/* ZOOM custom page */
body.page-node-41526 .field--name-body p {
  color: #85817f;
  font-style: italic;
}

/* Fields */
/* fold-out text field */
.field--name-field-fold-out-text-title .field__item {
  color: #2980B9;
}

/* relevant articles field */
.field--name-field-relevant-articles .field__label {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0;
  text-transform: uppercase;
  padding: 1em;
}
.field--name-field-relevant-articles .field__items {
  background-color: #fff;
  padding: 1em;
}

/* General pollim styling */
body.page-pollim .entity-pollim {
  padding: 1em;
}
body.page-pollim .view > .view-content {
  background-color: #ffffff;
}
body.page-pollim .view > .view-content .views-row {
  margin: 0 0 1em;
  padding: 0;
}

.entity-pollim .choice-percentage-bar {
  background-color: #231E19;
  height: 15px;
}
.entity-pollim .choice-item {
  margin-bottom: 1em;
}
.entity-pollim .choice-votecount {
  margin-right: 1em;
}
.entity-pollim .choice-data label {
  margin-left: 1em;
  vertical-align: middle;
}

/* Center DK-map */
#ungi-cities #ungi-map,
#ungi-city #ungi-map {
  display: block;
  text-align: center;
  width: 100%;
}

#ungi-intro {
  padding: 1em;
}

.ungi-desc,
#ungi-desc p {
  color: #85817f;
  font-style: italic;
}

#ungi-cities {
  background-color: #F1F1F1;
}
#ungi-cities h3 {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0;
  text-transform: uppercase;
  padding: 1em;
}
#ungi-cities h3.ungi-no-chat-header {
  margin-top: -1em;
}
#ungi-cities .ungi-city {
  background-color: #fff;
  margin: 0 0 1em 0;
  padding: 1em;
}
#ungi-cities .ungi-half {
  max-width: 100%;
}
#ungi-cities ul.ungi-with-chat .ungi-half .btn {
  display: none;
  margin: 0 0 1em 0;
}
#ungi-cities ul.ungi-no-chat {
  background-color: #fff;
  padding-top: 0.25em;
}
#ungi-cities ul.ungi-no-chat .ungi-city {
  display: block;
  margin: 1em;
  padding: 0;
}
#ungi-cities iframe {
  margin: 0;
}
#ungi-cities .chat-label {
  color: #85817f;
  font-family: "Merriweather", serif;
  font-weight: 700;
  float: left;
  padding-top: 10px;
  margin-right: 1em;
}
#ungi-cities .chat-desc {
  margin: 0.75em 0;
}
#ungi-cities .ungi-chat-wrapper {
  display: inline-block;
  float: left;
}

#page.ungi-city h1 {
  display: none;
}
#page.ungi-city h3 {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0;
  text-transform: uppercase;
  padding: 1em;
}
#page.ungi-city #ungi-desc h3 {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 -1em;
  text-transform: uppercase;
  padding: 1em;
  margin-bottom: 1em;
}
#page.ungi-city .block {
  margin: 0;
}
#page.ungi-city #ungi-city {
  padding: 1em;
}

/* Responsive styles */
#ungi-city #ungi-desc h2,
#ungi-city #ungi-map {
  display: none;
}

body.page-ung-i h1 {
  margin: 16px 16px 0;
}

@media (min-width: 36.625em) {
  body.page-ung-i h1 {
    display: none;
  }

  #ungi-cities .ungi-with-chat .ungi-half a.btn {
    display: inline-block;
  }
  #ungi-cities ul.ungi-no-chat {
    background-color: #fff;
  }
  #ungi-cities ul.ungi-no-chat .ungi-city {
    display: inline-block;
    width: 43%;
  }
  #ungi-cities ul.ungi-no-chat .ungi-city .ungi-half {
    width: 100%;
  }
  #ungi-cities ul.ungi-no-chat .ungi-city a.btn {
    margin: 0.25em auto 1em 0;
  }
  #ungi-cities .ungi-chat-wrapper {
    float: right;
  }

  #ungi-city #ungi-desc h2 {
    display: block;
    background: white url("/sites/all/modules/custom/ungi/images/citysign.png") no-repeat scroll center bottom;
  }
  #ungi-city #ungi-map {
    display: block;
  }
}
/**
 * GENERAL VIEWS STYLING
 */
.view {
  /* Term lists are list of terms e.g. in brevkasse and forum */
  /* BEF filter header on front page */
  /* Mini lists are small lists of content links e.g. used on /blogs page */
  /* Views rows are clickable on some pages - link behavior added with js */
}
.view > .view-header h3, .view > .view-footer h3 {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 -1em;
  text-transform: uppercase;
  padding: 1em;
}
.view > .view-header .view-content, .view > .view-footer .view-content {
  margin-bottom: 1em;
}
.view > .view-header .view-content .views-row, .view > .view-footer .view-content .views-row {
  display: inline-block;
}
.view > .view-header .content-list-header, .view > .view-footer .content-list-header {
  color: #85817f;
  font-style: italic;
}
.view .view-header {
  margin: 0 1em;
}
.view > .view-footer {
  background-color: #F1F1F1;
  padding: 0.75em;
}
.view .views-field-body .field-content {
  font-family: "Lato", sans-serif;
}
.view .view-filters {
  margin-bottom: 1em;
  /* Hide description: https://www.drupal.org/node/339384#comment-10587426 */
}
.view .view-filters .form-type-select .description {
  display: none;
}
.view > .view-content {
  background-color: #F1F1F1;
}
.view > .view-content ol,
.view > .view-content ul {
  list-style: disc;
  margin-left: 1em;
}
.view > .view-content .views-row {
  background-color: #fff;
  margin: 0 0 1em 0;
  padding: 1em;
}
.view > .view-content h2 {
  margin: 0.25em 0 0 0;
}
.view > .view-content .views-field-comment-count {
  background-image: url('../images/icons/svg/comments.svg?1474286442');
}
.view > .view-content .views-field-field-billede {
  margin-top: 0.25em;
}
.view > .view-content .field-content p {
  margin-top: 0;
}
.view.view-cyberhus-forum-term-list {
  background-color: #fff;
  padding: 0;
}
.view.view-cyberhus-forum-term-list .view-header {
  margin: 0;
}
.view.view-cyberhus-forum-term-list .view-header p {
  color: #9e9b99;
  font-size: 0.85em;
  margin: 0 0;
  text-transform: uppercase;
}
.view.view-cyberhus-forum-term-list .view-content {
  background-color: #fff;
}
.view.view-cyberhus-forum-term-list .view-footer {
  padding: 0;
}
.view.view-cyberhus-forum-term-list .tag-shorthand {
  display: inline-block;
  margin: 0.75em 0.75em 0.75em 0;
}
.view.view-cyberhus-forum-term-list .tag-shorthand a {
  background-color: #e7f2fa;
  padding: .4em .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.view.view-cyberhus-forum-term-list .tag-shorthand a:hover {
  background: #c6e1f2;
  transition: all 0.3s ease;
}
.view.view-cyberhus-forum-term-list .tag-shorthand a.active {
  color: #2980B9;
}
.view.view-forside-oversigt .cyberhus-bef-header {
  color: #9e9b99;
  font-size: 0.85em;
  margin: 0 0;
  text-transform: uppercase;
  margin-top: 1em;
}
.view.mini-list > .view-content .views-row {
  display: block;
  margin: 0;
  padding: 1em;
}
.view.cyberhus-oversigt > .view-content > .views-row {
  cursor: pointer;
}
.view.cyberhus-oversigt > .view-content > .views-row .author-timestamp {
  margin-top: 0;
  max-width: 90%;
}

/* Load more pager */
.pager-load-more {
  background-color: #F1F1F1;
  padding: 1em;
}
.pager-load-more a {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #2980B9;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 24em;
  text-align: center;
  /* Not too big buttons on tab and above */
}
.pager-load-more a:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.pager-load-more a:active {
  background: #bfbfbf;
}
@media (min-width: 36.625em) {
  .pager-load-more a {
    max-width: 12em;
  }
}

body.page-node .view-comments .pager-load-more {
  background-color: #fff;
  list-style: none;
  margin: inherit;
}

/* BEF form */
.bef-select-as-links .form-type-bef-link {
  display: inline-block;
  margin: 0.75em 0.75em 0.75em 0;
}
.bef-select-as-links .form-type-bef-link a {
  background-color: #e7f2fa;
  padding: .4em .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.bef-select-as-links .form-type-bef-link a:hover {
  background: #c6e1f2;
  transition: all 0.3s ease;
}

/**
 * FORSIDE / FRONT PAGE
 */
body.front .view-forside-oversigt h1.node__title {
  display: none;
}
body.front .view-forside-oversigt .views-field-php {
  float: right;
}
body.front .view-forside-oversigt .views-field-php svg {
  height: 25px;
  width: 25px;
}
body.front .view-forside-oversigt .views-field-php svg g {
  fill: #231E19;
}

/**
 * BREVKASSE
 */
body.page-brevkasse .l-content > h1 {
  display: none;
}
body.page-brevkasse .view-header h1 {
  display: block;
}
body.page-brevkasse .view-brevkasse-oversigter .view-footer {
  padding: 0;
}
body.page-brevkasse .view-brevkasse-oversigter .view-footer .view-cyberhus-forum-term-list {
  background-color: #fff;
  padding: 1em;
}

/**
 * HEMMELIGHEDER
 */
.view-hemmeligheder-oversigter > .view-content .views-field-body h2.field-content {
  font-family: "Merriweather", serif;
}

body.node-type-body-secret .view-hemmeligheder-oversigter {
  margin: 1em -1em;
}
body.node-type-body-secret article.node {
  padding-bottom: 0;
}

/**
 * KAMPAGNER
 */
body.page-kampagner .view > .view-content {
  padding-top: 1em;
}
body.page-kampagner .view > .view-content h2 {
  margin-bottom: 0.75em;
}
body.page-kampagner .view > .view-content .views-row {
  margin: 0 0 1em;
}

/**
 * BLOG LIST & BLOGGERS
 */
.view-bloggere .views-field-value-2,
.view-blogs-oversigter .views-field-value-2 {
  /*float: left;*/
}
.view-bloggere .views-field-picture,
.view-blogs-oversigter .views-field-picture {
  display: inline-block;
  vertical-align: top;
}
.view-bloggere .views-field-picture img,
.view-blogs-oversigter .views-field-picture img {
  width: 64px;
  height: 64px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
}
.view-bloggere .view-content .views-field-value-1,
.view-blogs-oversigter .view-content .views-field-value-1 {
  display: inline-block;
  margin: 0;
  max-width: 67%;
  padding-right: 1em;
}
.view-bloggere .view-content .views-field-value-1 p,
.view-blogs-oversigter .view-content .views-field-value-1 p {
  margin-top: 0;
}
.view-bloggere .view-header .content-list-header,
.view-blogs-oversigter .view-header .content-list-header {
  margin-top: 0;
}

.view-blogs-oversigter .view-header .content-list-header {
  display: inline-block;
  max-width: 67%;
  padding-right: 1em;
}
.view-blogs-oversigter .view-header .content-list-header p {
  margin-top: 0;
}
.view-blogs-oversigter.mini-list {
  margin: 1em -1em 0 -1em;
}

/**
 * SIMPEL SIDE MED VIEW
 */
.node-type-simpel-side-med-view .view-header p {
  margin: 0 1em;
}

/**
 * $COLLAPSIBLE
 */
html.js fieldset.collapsible {
  padding: 0;
  border: none;
  /* More author info */
}
html.js fieldset.collapsible legend {
  width: 100%;
  padding: 0;
}
html.js fieldset.collapsible .fieldset-legend {
  padding: 0;
  background: none;
}
html.js fieldset.collapsible .fieldset-legend .summary {
  float: right;
}
html.js fieldset.collapsible .fieldset-title {
  display: block;
  color: #2980B9;
  text-decoration: none;
  padding: 1em 1em 1em 0;
}
html.js fieldset.collapsible .fieldset-title:hover {
  background-color: #e7f2fa;
  color: #2980B9;
}
html.js fieldset.collapsible.group-more-author-info a.fieldset-title:before {
  content: "–";
  margin-right: 0.75em;
}
html.js fieldset.collapsible.group-more-author-info.collapsed a.fieldset-title:before {
  content: "+";
}

html.js fieldset.collapsed {
  height: 3.7em;
}

/**
 * $FIELDSETS
 */
.form-wrapper {
  margin-bottom: 0.75em;
}

.fieldset-description {
  margin-bottom: 0.5em;
  color: #85817f;
  font-style: italic;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 1em;
}

/**
 * $FILTER-TIPS
 */
.filter-wrapper {
  background-color: #fff;
}

/**
 * $FORM-ITEM
 */
.field-name-field-brevk-alder {
  clear: both;
  margin-right: 1em;
  max-width: 50%;
}

.form-item-custom-search-blocks-form-1 {
  margin-bottom: 0;
}

.form-wrapper.error {
  background-color: #fef5f1;
  border: 1px solid #ed541d;
  padding: 1em;
}
.form-wrapper .description {
  color: #BFBFBF;
  font-size: 0.85em;
  font-style: italic;
  margin-top: .2em;
}

.form-item {
  color: #231E19;
  /* Billede upload */
  /* Forum subscribe */
}
.form-item label {
  margin-bottom: 0.4em;
}
.form-item .form-text,
.form-item .form-textarea {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  padding: 0.75em;
  background-color: #fff;
  border: 1px solid #BFBFBF;
  color: #231E19;
  vertical-align: middle;
}
.form-item .form-text {
  width: 96%;
}
.form-item .description {
  color: #BFBFBF;
  margin-top: 0.2em;
  font-style: italic;
}
.form-item .image-widget-data {
  margin-bottom: 1em;
}
.form-item .image-widget-data input.form-file,
.form-item .image-widget-data input.form-submit {
  display: inline-block;
}
.form-item.form-item-node-notify-subscribe .description {
  display: none;
}

form.node-form .form-item,
form.comment-form .form-item {
  /* Display radios as normal buttons */
}
form.node-form .form-item.form-type-radios,
form.comment-form .form-item.form-type-radios {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}
form.node-form .form-item.form-type-radios .description,
form.comment-form .form-item.form-type-radios .description {
  clear: both;
}
form.node-form .form-item .form-type-radio,
form.comment-form .form-item .form-type-radio {
  float: left;
  min-width: 70px;
  margin: 0 0.75em 0 0;
  height: 40px;
  position: relative;
}
form.node-form .form-item .form-type-radio input,
form.node-form .form-item .form-type-radio label,
form.comment-form .form-item .form-type-radio input,
form.comment-form .form-item .form-type-radio label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
form.node-form .form-item .form-type-radio input[type="radio"],
form.comment-form .form-item .form-type-radio input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}
form.node-form .form-item .form-type-radio input[type="radio"]:checked + label,
form.node-form .form-item .form-type-radio .Checked + label,
form.comment-form .form-item .form-type-radio input[type="radio"]:checked + label,
form.comment-form .form-item .form-type-radio .Checked + label {
  border: 1px solid #e67e22;
  color: #e67e22;
}
form.node-form .form-item .form-type-radio label,
form.comment-form .form-item .form-type-radio label {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #BFBFBF;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #BFBFBF;
  cursor: pointer;
  z-index: 90;
}
form.node-form .form-item .form-type-radio label[for],
form.comment-form .form-item .form-type-radio label[for] {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 10px 10px;
  padding-left: 24px;
}
form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2149"], form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2149--2"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2149"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2149--2"] {
  background-image: url('../images/icons/svg/gender/male-grey2.svg?1478556783');
}
form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2150"], form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2150--2"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2150"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2150--2"] {
  background-image: url('../images/icons/svg/gender/female-grey2.svg?1478556783');
}
form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2350"], form.node-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2350--2"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2350"],
form.comment-form .form-item .form-type-radio label[for="edit-field-brevk-koen-und-2350--2"] {
  background-image: url('../images/icons/svg/gender/non-binary-grey2.svg?1478556783');
  min-width: 60px;
}
form.node-form .form-item .form-type-radio label:hover, form.node-form .form-item .form-type-radio label:focus, form.node-form .form-item .form-type-radio label:active,
form.comment-form .form-item .form-type-radio label:hover,
form.comment-form .form-item .form-type-radio label:focus,
form.comment-form .form-item .form-type-radio label:active {
  border: 1px solid #e67e22;
  color: #e67e22;
}
form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2149"], form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2149--2"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2149"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2149--2"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2149"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2149--2"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2149"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2149--2"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2149"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2149--2"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2149"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2149--2"] {
  background-image: url('../images/icons/svg/gender/male-orange.svg?1478556783');
}
form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2150"], form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2150--2"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2150"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2150--2"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2150"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2150--2"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2150"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2150--2"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2150"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2150--2"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2150"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2150--2"] {
  background-image: url('../images/icons/svg/gender/female-orange.svg?1478556783');
}
form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2350"], form.node-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2350--2"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2350"], form.node-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2350--2"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2350"], form.node-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2350--2"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2350"],
form.comment-form .form-item .form-type-radio label:hover[for="edit-field-brevk-koen-und-2350--2"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2350"],
form.comment-form .form-item .form-type-radio label:focus[for="edit-field-brevk-koen-und-2350--2"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2350"],
form.comment-form .form-item .form-type-radio label:active[for="edit-field-brevk-koen-und-2350--2"] {
  background-image: url('../images/icons/svg/gender/non-binary-orange.svg?1478556783');
}

/* Select list on node add forms */
body.page-node-add .form-item.form-type-select {
  width: 240px;
}
body.page-node-add .form-item.form-type-select select.form-select {
  background: transparent;
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  height: 34px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}

.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto;
}

body.not-logged-in .wysiwyg-toggle-wrapper {
  display: none;
}

form.node-form {
  margin: 1em;
  padding-bottom: 1em;
}

/* Hemmeligheder / Ordet er dit / Lifehacks / Body Secrets */
.page-node-add-body-secret.not-logged-in .field-name-field-secrets-category {
  display: none;
  /* Hide the category - it is set automatically */
}

/**
 * $PASSWORD-CONFIRM
 */
div.password-indicator,
div.password-confirm {
  margin-top: 0;
}

div.password-indicator {
  margin-bottom: 0.4em;
}

/**
 * $PASSWORD-INDICATOR
 */
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #9e9b99;
}
.password-indicator .indicator {
  background: #e67e22;
}

.password-strength-title {
  margin-bottom: 0.2em;
}

/**
 * $SEARCH-FORM BLOCK
 */
.search-block-form .form-text {
  width: auto;
  padding: 0.4em;
}

.block--custom-search-blocks-1 {
  height: 100%;
  padding: 0 8px;
  border: none;
  border-right: 1px solid #BFBFBF;
  /* Responsive  */
}
@media (min-width: 36.625em) {
  .block--custom-search-blocks-1 {
    border-right: none;
  }
}

.custom-search-blocks-form-1 {
  /* Responsive  */
}
.custom-search-blocks-form-1 #edit-custom-search-blocks-form-1--2 {
  background-image: url('../images/icons/svg/search.svg?1474286442');
  background-repeat: no-repeat;
  background-position: 7px center;
  height: 30px;
  max-width: 20px;
  padding-left: 5px;
  padding-top: 8px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.custom-search-blocks-form-1 #edit-custom-search-blocks-form-1--2:focus {
  max-width: 300px;
  padding-left: 35px;
}
.custom-search-blocks-form-1 .form-submit {
  display: none;
}
.custom-search-blocks-form-1 .form-wrapper {
  margin-bottom: 0;
}
.custom-search-blocks-form-1 .form-item .form-text {
  border: 0px;
  width: auto;
}
.custom-search-blocks-form-1 input[type="text"] {
  /* Hide the placeholder text on mobile */
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
  /* Responsive - show placeholder on tab and above */
}
.custom-search-blocks-form-1 input[type="text"]:-moz-placeholder {
  color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.custom-search-blocks-form-1 input[type="text"]::-moz-placeholder {
  color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.custom-search-blocks-form-1 input[type="text"]:-ms-input-placeholder {
  color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.custom-search-blocks-form-1 input[type="text"]::-webkit-input-placeholder {
  color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
}
.custom-search-blocks-form-1 input[type="text"] ::-webkit-input-placeholder {
  color: transparent;
}
.custom-search-blocks-form-1 input[type="text"] :-moz-placeholder {
  color: transparent;
}
.custom-search-blocks-form-1 input[type="text"] ::-moz-placeholder {
  color: transparent;
}
.custom-search-blocks-form-1 input[type="text"] :-ms-input-placeholder {
  color: transparent;
}
@media (min-width: 36.625em) {
  .custom-search-blocks-form-1 input[type="text"] {
    /* Hide the placeholder text on focus */
    /* FF 4-18 */
    /* FF 19+ */
    /* IE 10+ */
  }
  .custom-search-blocks-form-1 input[type="text"]:-moz-placeholder {
    color: #2980B9;
  }
  .custom-search-blocks-form-1 input[type="text"]::-moz-placeholder {
    color: #2980B9;
  }
  .custom-search-blocks-form-1 input[type="text"]:-ms-input-placeholder {
    color: #2980B9;
  }
  .custom-search-blocks-form-1 input[type="text"]::-webkit-input-placeholder {
    color: #2980B9;
  }
  .custom-search-blocks-form-1 input[type="text"]:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .custom-search-blocks-form-1 input[type="text"]:focus:-moz-placeholder {
    color: transparent;
  }
  .custom-search-blocks-form-1 input[type="text"]:focus::-moz-placeholder {
    color: transparent;
  }
  .custom-search-blocks-form-1 input[type="text"]:focus:-ms-input-placeholder {
    color: transparent;
  }
}
@media (min-width: 36.625em) {
  .custom-search-blocks-form-1 {
    border-right: none;
  }
  .custom-search-blocks-form-1 #edit-custom-search-blocks-form-1--2 {
    max-width: 50px;
    padding-left: 35px;
    max-width: 100px;
  }
}

/**
 * SEARCH RESULT PAGE
 */
/* Search */
body.page-search #search-form #edit-submit,
body.page-search section.search-results #edit-submit {
  margin-top: 1em;
}
body.page-search #search-form .form-wrapper {
  margin: 0 1em 1em 1em;
}
body.page-search #search-form .form-text {
  max-width: 90%;
}
body.page-search .l-content h2 {
  background-color: #F1F1F1;
  color: #9e9b99;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0;
  text-transform: uppercase;
  padding: 1em;
}
body.page-search .l-content ul {
  margin: 1em;
}
body.page-search .search-results {
  margin: 0;
  background: #F1F1F1;
}
body.page-search .search-results .search-result {
  background-color: #fff;
  padding: 1em;
  margin: 1em 0;
}
body.page-search .search-results .search-result h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0.25em 0 0 0;
}
body.page-search .search-results .search-result p.search-result__snippet {
  margin-top: 0;
  padding-left: 0;
}
body.page-search .search-results .search-result:nth-child(1) {
  margin-top: 0;
}
body.page-search ul.pager {
  padding: 1em;
}
