/* Font-weight */
/* Letter-spacing and line-height */
/* Font-size */
/* Font colors and backgrounds */
/* Margin and padding */
/* Border color */
/* General colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\000031}}
html {
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\000036}}
body {
  color: #231E19;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  line-height: 1.438em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000313}}
h1 {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000319}}
h2 {
  font-family: "Merriweather", serif;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.75em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000326}}
h3 {
  background-color: #F1F1F1;
  color: #85817f;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.75em 0;
  padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000335}}
a {
  color: #2980B9;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/base\/_base\.scss}line{font-family:\0000340}}
.btn {
  background: #2980B9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  border-color: #2980B9;
  border-style: solid;
  border-width: thin;
  font-weight: 700;
  padding: .7em 1em;
  display: block;
  margin: 1em auto;
  max-width: 10em;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
  .btn:hover {
    background: #226998;
    transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000323}}
  .btn:active {
    background: #123851; }

/**
 * OVERALL LAYOUT ELEMENTS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\000035}}
.l-region--header {
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\000039}}
.l-branding {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000316}}
.l-main--wrapper {
  background-color: #F1F1F1;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 6em;
  background-image: url('../images/bylinje.png?1466968241');
  background-repeat: repeat-x;
  background-position: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000326}}
.l-main {
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000330}}
.l-content {
  margin: auto;
  max-width: 586px;
  background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000335}}
  .l-content ul.breadcrumb {
    background-color: #F1F1F1;
    padding: 0 0.75em 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000339}}
    .l-content ul.breadcrumb li {
      display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000342}}
      .l-content ul.breadcrumb li:after {
        content: " > "; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000352}}
.l-region--navigation ul.menu {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000354}}
  .l-region--navigation ul.menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000359}}
  .l-region--navigation ul.menu a {
    background-position: top center;
    color: #6B6866;
    display: block;
    font-weight: 700;
    height: 46px;
    min-width: 26px;
    padding: 26px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000371}}
.l-footer--wrapper {
  background-color: #2d2728; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000377}}
.l-region--footer {
  max-width: 586px;
  margin: 0 auto;
  padding: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_layout\.scss}line{font-family:\0000381}}
  .l-region--footer a {
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_node\.scss}line{font-family:\000031}}
.author-timestamp {
  color: #6B6866;
  font-size: 0.85em; }

/**
 * MAIN CONTENT BLOCKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\000034}}
.l-content .block {
  margin: 1em; }

/**
 * FOOTER BLOCKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000311}}
.block--block-43 {
  margin: 2em auto;
  max-width: 586px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000314}}
  .block--block-43 p,
  .block--block-43 h2 {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000318}}
  .block--block-43 .footer-icons .rounded {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000326}}
.block--menu-menu-andet {
  background-color: #484243;
  height: 50px;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000330}}
  .block--menu-menu-andet ul.menu {
    padding-top: 1em;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_blocks\.scss}line{font-family:\0000334}}
  .block--menu-menu-andet li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em; }

/**
 * GENERAL VIEWS STYLING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\000036}}
.view > .view-header, .view > .view-footer {
  margin: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\000039}}
  .view > .view-header .view-content, .view > .view-footer .view-content {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000311}}
    .view > .view-header .view-content .views-row, .view > .view-footer .view-content .views-row {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000315}}
  .view > .view-header .content-list-header, .view > .view-footer .content-list-header {
    margin: 1em;
    color: #6B6866;
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000320}}
.view .view-filters {
  margin-bottom: 1em;
  /* Hide description: https://www.drupal.org/node/339384#comment-10587426 */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000323}}
  .view .view-filters .form-type-select .description {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000327}}
.view > .view-content {
  background-color: #F1F1F1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000329}}
  .view > .view-content .views-row {
    background-color: #fff;
    margin: 0 0 1em 0;
    padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000335}}
  .view > .view-content h2 {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000338}}
  .view > .view-content .views-field-comment-count {
    background-image: none; }

/* Load more pager */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000346}}
.pager-load-more {
  background-color: #F1F1F1;
  padding: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000349}}
  .pager-load-more a {
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #2980B9;
    border-color: #2980B9;
    border-style: solid;
    border-width: thin;
    font-weight: 700;
    padding: .7em 1em;
    display: block;
    margin: 1em auto;
    max-width: 10em;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000319}}
    .pager-load-more a:hover {
      background: #ebebeb;
      transition: all 0.3s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000323}}
    .pager-load-more a:active {
      background: #bfbfbf; }

/**
 * FORUM LIST & TOPIC LIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000362}}
.view-cyberhus-forum-topic-list > .view-header .views-field-field-tag-shorthand, .view-cyberhus-forum-topic-list > .view-footer .views-field-field-tag-shorthand {
  color: #6B6866;
  font-size: 1.3em;
  padding-right: 1em; }

/* Forum term list */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000372}}
.view-cyberhus-forum-term-list .view-content {
  background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000375}}
.view-cyberhus-forum-term-list .tag-shorthand {
  display: inline-block;
  margin: 0.75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000378}}
  .view-cyberhus-forum-term-list .tag-shorthand a {
    background-color: #e7f2fa;
    padding: .4em .5em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000332}}
    .view-cyberhus-forum-term-list .tag-shorthand a:hover {
      background: #c6e1f2;
      transition: all 0.3s ease; }

/**
 * BLOG LIST & BLOGGERS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000390}}
.view-bloggere .views-field-value-2,
.view-blogs-oversigter .views-field-value-2 {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000393}}
.view-bloggere .views-field-picture,
.view-blogs-oversigter .views-field-picture {
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\0000395}}
  .view-bloggere .views-field-picture img,
  .view-blogs-oversigter .views-field-picture img {
    width: 64px;
    height: 64px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_views\.scss}line{font-family:\00003103}}
.view-blogs-oversigter .views-field-picture {
  padding-right: 1em; }

/* Center buttons */
/**
 * FORUM AND BLOG TOPIC VIEW LISTS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\000035}}
.view {
  /* Blog oversigt */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\000037}}
  .view > .view-content .cyberlikes, .view > .view-content .views-field-comment-count, .view > .view-content .comment-count {
    background: url('../images/icons/cyberlike/heart_cleaned_gray.svg?1467113545') no-repeat 0 0;
    color: #6B6866;
    display: inline-block;
    height: 30px;
    margin-top: 0.7em;
    padding-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000315}}
  .view > .view-content .views-field-comment-count, .view > .view-content .comment-count {
    background-image: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000322}}
  .view.view-blogs-oversigter .views-field-value-1 {
    display: inline-block; }

/* Cyberlike in nodes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000332}}
.field.field--name-field-blog-cyberlike .vud-widget,
.field.field--name-field-kommentar-cyberlike .vud-widget,
.field.field--name-field-cyberlike .vud-widget,
.views-field-field-kommentar-cyberlike .vud-widget {
  float: none;
  width: 100%;
  height: 35px;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000337}}
  .field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display,
  .field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display,
  .field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display,
  .views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display {
    border: none;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    width: 26px;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000345}}
  .field.field--name-field-blog-cyberlike .vud-widget .cyberlike-votes-display:after,
  .field.field--name-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after,
  .field.field--name-field-cyberlike .vud-widget .cyberlike-votes-display:after,
  .views-field-field-kommentar-cyberlike .vud-widget .cyberlike-votes-display:after {
    /* content: " synes godt om"; */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000348}}
  .field.field--name-field-blog-cyberlike .vud-widget .vud-link-up, .field.field--name-field-blog-cyberlike .vud-widget .up-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up,
  .field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
  .field.field--name-field-cyberlike .vud-widget .vud-link-up,
  .field.field--name-field-cyberlike .vud-widget .up-active,
  .views-field-field-kommentar-cyberlike .vud-widget .vud-link-up,
  .views-field-field-kommentar-cyberlike .vud-widget .up-active {
    width: 26px;
    height: 24px;
    background: url('../images/icons/cyberlike/heart_cleaned.svg?1467113544');
    background-repeat: no-repeat;
    display: inline-block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000355}}
    .field.field--name-field-blog-cyberlike .vud-widget .vud-link-up .up-inactive, .field.field--name-field-blog-cyberlike .vud-widget .up-active .up-inactive,
    .field.field--name-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
    .field.field--name-field-kommentar-cyberlike .vud-widget .up-active .up-inactive,
    .field.field--name-field-cyberlike .vud-widget .vud-link-up .up-inactive,
    .field.field--name-field-cyberlike .vud-widget .up-active .up-inactive,
    .views-field-field-kommentar-cyberlike .vud-widget .vud-link-up .up-inactive,
    .views-field-field-kommentar-cyberlike .vud-widget .up-active .up-inactive {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000359}}
  .field.field--name-field-blog-cyberlike .vud-widget .up-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .up-active,
  .field.field--name-field-cyberlike .vud-widget .up-active,
  .views-field-field-kommentar-cyberlike .vud-widget .up-active {
    background: url('../images/icons/cyberlike/heart-fill_cleaned.svg?1467113544'); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000363}}
  .field.field--name-field-blog-cyberlike .vud-widget .reset-active,
  .field.field--name-field-kommentar-cyberlike .vud-widget .reset-active,
  .field.field--name-field-cyberlike .vud-widget .reset-active,
  .views-field-field-kommentar-cyberlike .vud-widget .reset-active {
    float: right;
    display: none; }

/* Cyberlike in comments */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000371}}
.field.field-name-field-kommentar-cyberlike {
  padding-top: 12px; }
  @media (max-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000371}}
    .field.field-name-field-kommentar-cyberlike {
      float: left; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cyberhus\/public_html\/sites\/all\/themes\/cyberhus_evolution\/sass\/components\/_cyberlike\.scss}line{font-family:\0000377}}
.field.field-name-field-blog-cyberlike, .field.field-name-field-cyberlike {
  margin: 20px 20px 0 0; }
