html {
  // Fix for old IE
  font-size: 100%;
}

body {
  color: $black;
  font-size: 1em;
  font-family: $font-family-std;
  line-height: $line-height-std;
}

h2 {
  font-family: $font-family-header;
  font-size: $font_size_medium;
  font-weight: $font_weight_bold;
  margin: 0 0 $margin-small 0;
}

a {
  color: $blue;
  text-decoration: none;
}

.btn {
  @include button-bg();
}
