html {
  // Fix for old IE
  font-size: 100%;
}

body, div {
  color: $black;
  font-size: 1em;
  font-family: $font-family-std;
  line-height: $line-height-std;
}

h1 {
  font-family: $font-family-header;
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  line-height: $font-size-big;
  margin: 0 $margin-std-px $margin-std-px $margin-std-px;
}
h2 {
  @include headline-h2();
}

h3 {
  @include headline-h3();
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  font-family: $font-family-std;
  margin: $margin-small 0;
}

ol {
  list-style:decimal;
  padding-left: $padding-std;
}
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

.btn {
  @include button-bg();
}

.btn-left {
  @include button-bg-left();
}

.btn-light {
  @include button-bg($blue, $white);
}

.btn-light-left {
  @include button-bg-left($blue, $white);
}

.headline-grey-bg {
  @include headline-grey-bg();
}

.headline-grey-bg-neg-mrg {
  @include headline-grey-bg(-1em);
}

.author-timestamp {
  @include font-metadata;
  margin-bottom: $margin-small;
}
