.page-node-20738 {

  .field-name-body {
    background: white;
    padding: 2em;
    margin-bottom: 20px;
  }

  .field-name-field-vedh-ft-view .view-content {
    @include bp-normal {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 50%;

      .views-row-odd {
        grid-column: 1;
        grid-row: 1;
      }
      .views-row-even {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  .view-cyberhus-chat {

    .views-field-field-admin-php {
      padding: 0;
      line-height: 0;
      background: white;
      margin-bottom: 20px;

      .field-content, p {
        height: 100%;
        line-height: 0;
      }

      iframe {
        height: 100%;
        font-size: $font-size-base !important;
      }
    }
    .views-field-body {
      padding: 2em;
      background: white;
      margin-bottom: 20px;
    }
  }
}
