#comments {

  margin: 0;

  h2.title {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 3em 0 0.5em;
  }

  h2.comment-form {
    font-size: 1.3em;
  }

  form.comment-form {
    .filter-wrapper {
      display: none;
    }
  }

  .comment {

    padding: 2em 0;
    border-bottom: 1px solid $color-gray;

    .submitted {
      color: $text-color-light;
      font-size: $font-size-small;
      margin-bottom: .5em;
    }
    .content {
      margin-bottom: 1em;
    }
    .links {
      padding: 0;
      margin: 0;

      li {
        margin: 0 1em 0 0;
        padding: 0;
      }
    }
  }
}
