.page-node-adv,
.node-type-blog {

  .region-content .node {
    background: white;
    padding: 3em 2em;

    @include bp-narrow {
      padding: 4em 5em 4em;
    }
  }

  .node-type {
    color: $text-color-light;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;

    @include bp-narrow {
      font-size: $font-size-medium;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: .5em;

    @include bp-mobile {
      font-size: 2.5em;
    }
  }

  .node-top-links {
    text-align: center;
    margin-bottom: 2.5em;

    @include bp-narrow {
      margin-bottom: 4em;
    }

    .cat-tag {
      display: inline-block;
      background: $color-gray-light;
      padding: .65em 1.25em;
      margin: 0 .25em .5em;
      border-radius: 1.5em;
      position: relative;
      font-size: $font-size-small;

      @include bp-narrow {
        margin: 0 2em 0 0;
      }

      div, > span {
        display: inline-block;
      }

      @include bp-narrow {
        &:after {
          content: "";
          height: 1em;
          background: $color-gray;
          width: 1px;
          display: inline-block;
          position: absolute;
          right: -1.2em;
          top: .6em;
        }
      }
    }

    a.related-link {
      opacity: 1;
      margin: 0 .25em;
      font-size: $font-size-small;
      display: inline-block;
      @include transition-property(opacity);
      @include transition-duration(250ms);

      @include bp-narrow {
        margin: 0;
        font-size: $font-size-base;
      }

      &:hover {
        opacity: .75;
        text-decoration: none;
      }
    }

    svg {
      width: .85em;
      height: .85em;
      fill: $color-red;
      margin-left: .25em;
      margin-bottom: -0.05em;
    }
  }

  .field-name-field-billede {
    margin-bottom: 1em;
  }

  .field-name-body,
  .field-name-field-brevk-spoergsmaal  {
    font-weight: 500;
    color: #989898;

    @include bp-narrow {
      font-size: $font-size-medium;
    }

    p {
      color: #989898;
    }
  }

  .field-name-field-brevk-svar {
    margin-top: 4em;

    .field-label {
      text-transform: uppercase;
      margin-bottom: 1em;
      font-weight: 800;
      font-size: $font-size-medium;
    }
  }

  .node-interaction,
  .node-answer-author {
    border-top: 1px solid $color-gray;
    margin: 2em 0;
    padding: 1.5em 0;
  }

  .node-answer-author {
    font-size: $font-size-small;
    line-height: $line-height-small;
    color: $text-color-light;

    span.name {
      color: $text-color;
      font-weight: 800;
    }
  }

  ul.links {

    a {
      color: $text-color;
    }
    li.subscribe {
      float: right;
      margin-top: -.5em;

      a {
        @include button-link(transparent);
        color: $color-red;
        font-size: $font-size-small;
        border: 1px solid $color-red;
      }
    }
  }

  /* Author box */
  .author-box {
    padding: 1.5em 1em;
    border: 1px solid $color-gray;
    box-sizing: border-box;
    margin-bottom: 20px;
    @include clearfix();

    @include bp-narrow {
      text-align: center;
    }

    .author-first {
      @include bp-mobile {
        float: left;
        width: 33%;
        padding-right: 10px;
        box-sizing: border-box;
      }
    }
    .author-second {
      @include bp-mobile {
        float: left;
        width: 64%;
      }
    }

    .author-avatar {
      float: right;

      @include bp-narrow {
        margin: 0 auto 15px;
        float: none;
      }

      img {
        max-width: 4.5em;
        max-height: 4.5em;

        @include bp-narrow {
          max-width: 6em;
          max-height: 6em;
        }
        @include bp-normal {
          max-width: 8em;
          max-height: 8em;
        }
      }
    }
    .author-type {
      text-transform: uppercase;
      font-size: $font-size-small;
      line-height: $line-height-small;
      color: $text-color-light;
      margin-bottom: 5px;
    }
    .author-name {
      font-weight: 800;
      word-wrap: break-word;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;

      @include bp-narrow {
        font-size: $font-size-medium;
        margin-bottom: 10px;
        float: none;
        margin-right: 0;
      }
    }
    .author-gender,
    .author-age {
      margin-bottom: 5px;
      font-size: $font-size-small;
      display: inline-block;

      @include bp-narrow {
        margin-bottom: 20px;
      }

      svg {
        height: 1em;
        width: 1em;
        margin: 0 0.1em -0.05em;
      }
    }
    .author-created {
      font-size: $font-size-small;
      color: $text-color-light;
      float: left;
      width: 100%;
    }
  }

  // Layout
  .node-wrapper {

    @include bp-narrow {
      display: grid;
      grid-template-columns: 160px 360px;
      grid-gap: 20px;
    }
    @include bp-normal {
      display: grid;
      grid-template-columns: 190px 590px;
      grid-gap: 40px;
    }
    @include bp-wide {
      display: grid;
      grid-template-columns: 240px 740px;
    }

    .node-content {
      @include bp-narrow {
        grid-column: 2;
        grid-row: 1;
      }
    }
    .node-sidebar {
      @include bp-narrow {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

}

h2#related-content {
  font-size: 2.5em;

  @include bp-narrow {
    font-size: 3em;
  }
}
.node-related {

  @include bp-normal {
    display: grid;
    grid-gap: 20px;
    width: 960px;
    grid-template-columns: 230px 710px;
  }
  @include bp-wide {
    width: 1180px;
    grid-template-columns: 285px 875px;
  }

  .node-related-content {
    @include bp-narrow {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .node-related-sidebar {
    @include bp-narrow {
      grid-column: 1;
      grid-row: 1;
    }
  }

}
