.content-stream {

  .stream-item {

    background: white;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 1.5em;
    position: relative;
    @include clearfix();

    @include bp-narrow {
      padding: 2em;
    }

    .stream-title {
      box-sizing: border-box;
      padding-right: 3em;

      a {
        color: $text-color;
        opacity: 1;
        @include transition-property(opacity);
        @include transition-duration(250ms);

        &:hover {
          text-decoration: none;
          opacity: .75;
        }
      }
    }

    .stream-avatar {

      float: left;
      width: 20%;
      box-sizing: border-box;
      padding-right: 10px;

      @include bp-narrow {
        width: 15%;
      }
      @include bp-wide {
        width: 15%;
      }

      div {
        max-width: 100%;
        width: 4em;
        min-height: 1px;
        border-radius: 4em;

        @include bp-narrow {
          width: 5.5em;
          border-radius: 5.5em;
        }
        @include bp-wide {
          width: 6em;
          border-radius: 6em;
        }

        a {
          opacity: 1;
          @include transition(opacity 250ms);

          &:hover {
            opacity: .75;
          }
        }
      }
    }

    .stream-content {
      line-height: $line-height-base;
      float: left;
      width: 80%;

      @include bp-narrow {
        width: 85%;
      }
      @include bp-wide {
        width: 85%;
      }

      img {
        margin-bottom: 20px;
      }
    }

    .stream-counselor {
      margin: 30px 0 10px;
      padding-left: 3em;
      font-size: $font-size-small;
      float: left;
      width: 100%;
      box-sizing: border-box;
      display: none;
      line-height: 1.25em;
      position: relative;

      span.name-wrapper {
        font-weight: bold;
      }

      em {
        font-style: normal;
      }

      .img-wrapper {
        width: 2.5em;
        height: 2.5em;
        border-radius: 2.5em;
        margin: 0 10px 0 0;
        position: absolute;
        top: -.75em;
        left: 0;
        background: $color-gray-light;
        display: inline-block;

        img {
          border-radius: 2.5em;
        }
      }
    }

    .stream-type-icon {
      position: absolute;
      top: 1.35em;
      right: 1.5em;
      width: 30px;

      @include bp-narrow {
        top: 1.75em;
        right: 2em;
        width: 35px;
      }

      svg {
        max-width: 30px;
        max-height: 30px;

        @include bp-narrow {
          max-width: 35px;
          max-height: 35px;
        }
      }
    }

    .stream-metadata {
      color: $text-color-light;
      padding: 0 0 1em 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #d7d7d7;
      @include clearfix();

      .stream-metadata-item {
        margin-right: 10px;
        padding-right: 11px;
        position: relative;
        font-size: $font-size-small;
        line-height: $line-height-medium;

        &:after {
          content: "";
          height: 1.1em;
          width: 1px;
          background: #d7d7d7;
          position: absolute;
          right: 0;
          top: 0;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;

          &:after {
            display: none;
          }
        }

        &.meta-type {
          float: left;
        }

        &.meta-category {
          float: left;

          a {
            opacity: 1;
            text-decoration: none;
            @include transition(opacity 250ms);

            &:hover {
              opacity: .75;
            }
          }

          &:after {
            display: none;
          }
        }

        &.meta-author {
          position: relative;
          display: block;
          clear: both;

          @include bp-narrow {
            margin-left: -11px;
            padding-left: 11px;
            float: left;
            clear: none;

            &:before {
              content: "";
              height: 1.1em;
              width: 1px;
              background: #d7d7d7;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
      }

      svg {
        width: 1em;
        height: 1em;
        margin: 0 0.25em -0.05em;
        fill: $text-color-light;
      }

      em.placeholder {
        font-style: normal;
      }
    }

    .stream-link {
      display: none;
    }

    .stream-like {
      clear: left;
    }
    .stream-like,
    .stream-comments {
      margin-top: 1.5em;
      float: left;
    }

    .stream-comments {

      a {
        color: $text-color;

        &:hover svg {
          fill: $text-color;
        }
      }
      svg {
        fill: #a1a1a1;
        float: left;
        width: 1.5625em;
        height: 1.5625em;
        margin-right: .375em;
        @include transition-property(fill);
        @include transition-duration(250ms);
      }
      .count {
        float: left;
        line-height: 1.5625em;
      }
    }
  }

  /* Type specific styling */
  .type-body-secret {
    text-align: center;
    color: white;
    padding-top: 5em;
    padding-bottom: 4em;
    background: $color-turquoise;

    .stream-content:after {
      background-image: linear-gradient(rgba($color-turquoise, 0), $color-turquoise 90%);
    }

    &:nth-child(5n+2) {
      background: $color-red;

      .stream-content:after {
        background-image: linear-gradient(rgba($color-red, 0), $color-red 90%);
      }
    }
    &:nth-child(5n+3) {
      background: $color-blue;

      .stream-content:after {
        background-image: linear-gradient(rgba($color-blue, 0), $color-blue 90%);
      }
    }
    &:nth-child(5n+4) {
      background: $color-orange;

      .stream-content:after {
        background-image: linear-gradient(rgba($color-orange, 0), $color-orange 90%);
      }
    }
    &:nth-child(5n+5) {
      background: $color-purple;

      .stream-content:after {
        background-image: linear-gradient(rgba($color-purple, 0), $color-purple 90%);
      }
    }

    .stream-title,
    .stream-comments,
    .stream-like,
    .stream-avatar {
      display: none;
    }
    .stream-metadata {
      color: white;
      padding: 0;
      border-bottom: 0;

      .stream-metadata-item {
        border-color: white;
        display: inline-block;

        &.meta-type,
        &.meta-author {
          float: none;
          display: inline-block;

          &:after {
            background: white;
          }
        }

        &.meta-category {
          display: none;
        }

        &.meta-author {
          margin-left: 0;
          padding-left: 0;
          &:before {
            display: none;
          }
        }
      }
      svg {
        fill: white;
      }
    }
    .stream-content {
      font-family: $font-fam-alt;
      font-size: $font-size-large;
      font-weight: bold;
      padding: 0 2em;
      font-style: italic;
      position: relative;
      max-height: 3em;
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;

      &:after {
        content: "";
        display: block;
        height: 1.5em;
        margin-top: -1.5em;
        width: 100%;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .stream-link {
      display: block;
      float: left;
      width: 100%;
      margin-top: 20px;

      a {
        color: white;
        text-decoration: none;
        font-size: $font-size-small;
        @include button-link(rgba(white, .35));
      }
    }
    .stream-type-icon {
      fill: white;
      left: 50%;
      margin-left: -17.5px;
    }
  }
  .type-brevkasse {
    .stream-type-icon {
      fill: $color-green;
    }
    .meta-category {
      color: $color-green;

      a {
        color: $color-green;
      }
    }
    .stream-comments,
    .stream-like {
      display: none;
    }
    .stream-counselor {
      display: block;
    }
  }
  .type-forum {
    .stream-type-icon {
      fill: $color-red;
    }
    .meta-category {
      color: $color-red;

      a {
        color: $color-red;
      }
    }
  }
  .type-blog {
    .stream-type-icon {
      fill: $color-blue;
    }
    .meta-category {
      color: $color-blue;
    }
    .stream-avatar {
      display: none;
    }
    .stream-content {
      width: 100%;
    }
  }
  .type-image {
    .stream-type-icon {
      fill: $color-red;
    }
    .meta-category {
      color: $color-red;
    }
    .stream-avatar {
      display: none;
    }
    .stream-content {
      width: 100%;
    }
  }
}

/* Load more */
.item-list .pager-load-more {
  margin: 2em 0 2em;
  position: relative;
  a {
    color: white;
    text-transform: uppercase;
    @include button-link($color-gray-dark);
  }
  .ajax-progress-throbber {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -1.5em;
  }
}
