/* Filter form */
#block-views-exp-frontpage-stream-page,
#block-views-exp-frontpage-stream-page-1,
#block-views-exp-frontpage-stream-page-2 {

  background: white;
  padding: .75em 1.5em .75em;
  margin: 0 0 20px 0;
  @include clearfix();

  @include bp-narrow {
    padding: 1em 2em;
  }

  @include bp-normal {
    margin: 0;
  }

  > .content {
    display: none;

    @include bp-narrow {
      display: block;
    }
  }

  > h2 {
    font-size: $font-size-small;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 2.5em;
    font-weight: 500;
    cursor: pointer;

    @include bp-narrow {
      float: left;
      margin: 0 2em 0 0;
    }

    svg {
      height: 1.25em;
      width: 1.25em;
      fill: $text-color;
      position: absolute;
      top: 1.35em;
      right: 1.75em;
      z-index: 2;

      @include bp-narrow {
        display: none;
      }
    }

    svg.icon-minus {
      display: none;
    }

    &.open {
      svg.icon-plus {
        display: none;
      }
      svg.icon-minus {
        display: block;
      }
    }
  }

  .views-exposed-widgets {
    margin: 1em 0;

    @include bp-narrow {
      margin: 0;
    }
  }
  .views-exposed-widget {
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;

    @include bp-narrow {
      float: left;
      width: auto;
      margin: 0 1em 0 0;
    }

    label {
      display: none;
    }

    svg {
      right: .75em;
    }

    .select-wrapper {
      @include bp-mobile {
        width: 100%;
      }
    }
    select {
      font-size: .8125em;
      text-transform: uppercase;
      padding: .65em 2.5em .65em 1em;
      font-weight: 500;

      @include bp-mobile {
        width: 100%;
      }
    }
  }

  .views-submit-button {
    margin: 0;
  }
  .views-reset-button {

    margin: 0;

    @include bp-narrow {
      float: right;
      margin-top: .15em;
    }

    #edit-reset {
      margin: 0;
      color: white;
      text-transform: uppercase;
      @include button($color-gray-dark);
    }
  }
}
