/* Base colors*/
$color-red: #c34b4b;
$color-green: #688e36;
$color-blue: #1d9ed0;
$color-purple: #8d62a4;


$color-gray-dark: #1b1d1f;
$color-gray: #c7c7c7;
$color-gray-light: #f1f1f1;

$color-beige: #d4d3d3;

/* Text Colors */
$text-color: $color-gray-dark;
$text-color-light: #a1a1a1;
$link-color: $color-red;
