/* line 1, ../sass/opeka_widgets.scss */
.curachat-widgets {
  background-color: #e19214;
  bottom: 63px;
  display: none;
  margin: 0;
  padding: 3px 0 6px 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}
@media (min-width: 768px) {
  /* line 1, ../sass/opeka_widgets.scss */
  .curachat-widgets {
    bottom: 69px;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../sass/opeka_widgets.scss */
  .curachat-widgets {
    bottom: 0;
  }
}
/* line 16, ../sass/opeka_widgets.scss */
.curachat-widgets iframe {
  display: block;
  height: 24px;
  max-width: 300px;
}
/* line 23, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-toggle {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  float: right;
  padding-right: 10px;
}
/* line 32, ../sass/opeka_widgets.scss */
.curachat-widgets .global-chat-widget-header {
  margin-bottom: 10px;
}
/* line 36, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-read-more {
  background-image: url('../img/question_mark.svg?1568229464'), none;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  vertical-align: middle;
}
/* line 48, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-expanded {
  background-color: #268fb3;
  display: none;
  padding: 10px 15px;
}
/* line 52, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-expanded .global-widget-toggle {
  background-image: url('../img/arrow_down.svg?1568229464'), none;
  cursor: pointer;
}
/* line 58, ../sass/opeka_widgets.scss */
.curachat-widgets .global-chat-widget-text {
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin: .5em 0;
}
/* line 65, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-minimized {
  display: none;
  background-color: #e19214;
  color: #6B4509;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  margin: 5px 0;
  cursor: pointer;
  text-align: center;
}
/* line 75, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-minimized .global-widget-toggle {
  background-size: 20px 20px;
  background-image: url('../img/arrow_up.svg?1568229464'), none;
  background-position-y: 3px;
  height: 24px;
  width: 24px;
}
/* line 83, ../sass/opeka_widgets.scss */
.curachat-widgets .global-widget-minimized .minimized-status {
  color: white;
}
/* line 89, ../sass/opeka_widgets.scss */
.curachat-widgets .cyberhus-chats iframe {
  height: 30px;
  max-width: 300px;
}
/* line 94, ../sass/opeka_widgets.scss */
.curachat-widgets .cyberhus-chats .global-chat-widget-text {
  font-size: 20px;
}

/* line 100, ../sass/opeka_widgets.scss */
.opeka-chat-popup-wrapper {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding-right: 5px;
}

/* line 110, ../sass/opeka_widgets.scss */
.page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header,
.page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header {
  height: 270px;
  display: block;
}
@media (min-width: 505px) {
  /* line 110, ../sass/opeka_widgets.scss */
  .page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header,
  .page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header {
    height: 200px;
  }
}
/* line 116, ../sass/opeka_widgets.scss */
.page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header.cyberhus,
.page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header.cyberhus {
  height: 270px;
  display: block;
  width: 100%;
}
@media (min-width: 505px) {
  /* line 116, ../sass/opeka_widgets.scss */
  .page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header.cyberhus,
  .page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header.cyberhus {
    height: 200px;
  }
}
