/* line 1, ../sass/opeka_widgets.scss */
.curachat-widgets {
  bottom: 64px;
  display: block;
  margin: 0;
  padding: 0px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 20;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/opeka_widgets.scss */
  .curachat-widgets {
    bottom: 0;
  }
}
/* line 14, ../sass/opeka_widgets.scss */
.curachat-widgets iframe {
  border-bottom: 1px solid #ffffff;
  display: block;
  width: 100%;
}

/* line 24, ../sass/opeka_widgets.scss */
.page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header,
.page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header {
  height: 270px;
  display: block;
}
@media (min-width: 505px) {
  /* line 24, ../sass/opeka_widgets.scss */
  .page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header,
  .page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header {
    height: 200px;
  }
}
/* line 30, ../sass/opeka_widgets.scss */
.page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header.cyberhus,
.page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header.cyberhus {
  height: 270px;
  display: block;
  width: 100%;
}
@media (min-width: 505px) {
  /* line 30, ../sass/opeka_widgets.scss */
  .page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe.opeka-widgets-header.cyberhus,
  .page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe.opeka-widgets-header.cyberhus {
    height: 200px;
  }
}

/* line 41, ../sass/opeka_widgets.scss */
.opeka-chat-popup-wrapper {
  display: none;
  position: relative;
  width: 100%;
  z-index: 10;
  top: 400px;
}
