/**
 * $FORM-ITEM
 */
.form-item {
  color: $black;

  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    @include border-radius(2px);
    width: 100%;
    padding: $padding-small;
    background-color: #fff;
    border: 1px solid $grey-2;
    color: $grey;
    vertical-align: middle;
  }
  .form-text {
    width: 96%;
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
  &.form-item-field-brevk-koen-und {
    max-width: 50%;
  }
  &.form-item-field-brevk-alder-und {
    max-width: 50%;
  }

  /* Billede upload */
  .image-widget-data {
    margin-bottom: $margin-std;
    input.form-file,
    input.form-submit {
      display: inline-block;
    }

  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}
