/**
 * $FORM-ITEM
 */

.field-name-field-brevk-alder {
  clear: both;
  margin-right: $margin-std;
  max-width: 50%;
}

.form-wrapper {
   &.field-widget-options-buttons {
    overflow: auto;
   }
  &.error {
    background-color: #fef5f1;
    border: 1px solid #ed541d;
    padding: $margin-std;
  }
}

.form-item {
  color: $black;
  label {
    margin-bottom: 0.4em;
  }
  .form-select,
  .form-text,
  .form-textarea {
    @include border-radius(2px);
    width: 100%;
    padding: $padding-small;
    background-color: #fff;
    border: 1px solid $grey-2;
    color: $black;
    vertical-align: middle;
  }
  .form-text {
    width: 96%;
  }
  .description {
    margin-top: 0.2em;
    font-style: italic;
  }
  /* Billede upload */
  .image-widget-data {
    margin-bottom: $margin-std;
    input.form-file,
    input.form-submit {
      display: inline-block;
    }
  }
  /* Forum subscribe */
  &.form-item-node-notify-subscribe .description {
    display: none;
  }
  /* Errors - also handled in  */
  .error {

  }
}

form.node-form,
form.comment-form {
  .form-item {
    /* Display radios as normal buttons */
    &.form-type-radios {
      list-style-type: none;
      margin: 25px 0 0 0;
      padding: 0;
      .description {
        clear: both;
      }
    }
    .form-type-radio {
      float: left;
      min-width: 70px;
      margin: 0 $margin-small 0 0;
      height: 40px;
      position: relative;
      input,
      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
      }
      input[type="radio"]:checked + label,
      .Checked + label {
        border: 1px solid $primary-color;
        color: $primary-color;
      }
      label {
        @include border-radius(2px);
        color: $grey-2;
        font-size: 11px;
        padding: 5px;
        border: 1px solid $grey-2;
        cursor: pointer;
        z-index: 90;
        &[for] {
          background-repeat: no-repeat;
          background-size: 12px 12px;
          background-position: 10px 10px;
          padding-left: 24px;
        }
        &[for="edit-field-brevk-koen-und-2149"],
        &[for="edit-field-brevk-koen-und-2149--2"]{
          background-image: image-url("icons/svg/gender/male-grey2.svg");
        }
        &[for="edit-field-brevk-koen-und-2150"],
        &[for="edit-field-brevk-koen-und-2150--2"] {
          background-image: image-url("icons/svg/gender/female-grey2.svg");
        }
        &[for="edit-field-brevk-koen-und-2350"],
        &[for="edit-field-brevk-koen-und-2350--2"] {
          background-image: image-url("icons/svg/gender/non-binary-grey2.svg");
          min-width: 60px;
        }
        &:hover,
        &:focus,
        &:active {
          border: 1px solid $primary-color;
          color: $primary-color;
          &[for="edit-field-brevk-koen-und-2149"],
          &[for="edit-field-brevk-koen-und-2149--2"] {
            background-image: image-url("icons/svg/gender/male-orange.svg");
          }
          &[for="edit-field-brevk-koen-und-2150"],
          &[for="edit-field-brevk-koen-und-2150--2"] {
            background-image: image-url("icons/svg/gender/female-orange.svg");
          }
          &[for="edit-field-brevk-koen-und-2350"],
          &[for="edit-field-brevk-koen-und-2350--2"] {
            background-image: image-url("icons/svg/gender/non-binary-orange.svg");
          }
        }
      }
    }
  }
}

.container-inline {
  .form-select,
  .form-text,
  .form-textarea {
    width: auto;
  }
}

body.not-logged-in {
  .wysiwyg-toggle-wrapper {
    display: none;
  }
}
