/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* - LAYOUT - */
/* - HEADER - */
/* line 11, ../sass/cyberhus-alpha-default-normal.scss */
#section-header {
  margin-bottom: 100px;
}
/* line 17, ../sass/cyberhus-alpha-default-normal.scss */
#section-header #zone-header-wrapper #region-logo .region-inner.region-logo-inner .logobg {
  background: url("../img/logo_bg.png");
  background-repeat: no-repeat;
  position: absolute;
  min-width: 640px;
  height: 143px;
  left: -185px;
}
/* line 25, ../sass/cyberhus-alpha-default-normal.scss */
#section-header #zone-header-wrapper #region-logo .region-inner.region-logo-inner .branding-data {
  position: absolute;
}

/* - HEADER FORSIDE - */
/* line 35, ../sass/cyberhus-alpha-default-normal.scss */
.front #section-header {
  background: url("../img/stuen_stor.png") no-repeat bottom center;
  height: 580px;
  margin-bottom: 0;
}
/* line 40, ../sass/cyberhus-alpha-default-normal.scss */
.front #section-content {
  margin-top: -45px;
}

/* - CONTENT - */
