#footer-wrapper {
  #footer {
    margin: auto;
    text-align: center;
    padding: 30px 20px 10px;
    box-sizing: border-box;

    @include bp-narrow {
      padding: 50px 0 25px;
      width: 700px;
    }
    @include bp-normal {
      padding: 50px 100px 25px;
      width: 960px;
    }
    @include bp-wide {
      padding: 50px 100px 25px;
      width: 1180px;
    }
  }
}

#bottom-wrapper {

  #bottom {
    margin: auto;
    box-sizing: border-box;
    padding: 20px 20px;
    text-align: center;

    @include bp-narrow {
      padding: 20px 0;
      width: 700px;
    }
    @include bp-normal {
      width: 960px;
    }
    @include bp-wide {
      width: 1180px;
    }
  }
}

#cfdp-website-links{
  text-align: center;
  margin-top:-20px;
  padding-top:30px;
  padding-bottom:30px;
  background-color: #f1f1f1;
  width:100%;
  h3{
    font-size:1.3em;
    padding-bottom:20px;
    color:#1b1d1f;
  }
  .cfdp-website-link-items{
    width:700px;
    margin:auto;
    text-align: center;
    .cfdp-website-link-item{
      width:32%;
      height:42px;
      display:inline-block;
      img{
        width:150px;
      }

    }
  }
}

@media (max-width: 700px) {
  #cfdp-website-links{
    .cfdp-website-link-items{
      width:100%;
      h3{
        color:#1b1d1f;
        //font-size:1.5em;
        padding-bottom:30px;
      }
      .cfdp-website-link-item{
        text-align: center;
        clear:both;
        width:100%;
        padding-bottom:30px;
      }
      .cfdp-website-link-item.last{
        padding-bottom:0px;
      }
    }
  }
}