#header-wrapper {
  background-color: white;
  display: none;

  @include bp-normal {
    display: block;
  }

  #header {
    color: $text-color;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 1.5em 20px 1em;
    box-sizing: border-box;

    .region-header {
      display: grid;
      grid-template-columns: 20% 60% 20%;
    }
    .block-menu {
      grid-column: 2;
      grid-row: 1;
    }
    .block-custom-search-blocks {
      grid-column: 3;
      grid-row: 1;
    }

    // Vertical aligning
    .block {
      line-height: 5em;
      height: 6em;
      box-sizing: border-box;

      > .content {
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        line-height: 1;
      }
    }
  }
}

// Logo
#main-logo-link {
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }
}
#main-logo {
  max-width: 100%;
  height: 50px;
}
