#main-wrapper {
  background-color: $color-gray-light;
}

/* General Layout */
#main {
  padding: 2em 1em;
  display: block;
  margin: auto;

  @include bp-narrow {
    width: 700px;
    padding: 3em 1em;
  }
  @include bp-normal {
    width: 960px;
  }
  @include bp-wide {
    width: 1180px;
  }
}

/* Sidebar layout */
body:not(.page-node) {

  #page-title {
    display: none;
  }

  #main {

    padding-top: 20px;

    @include bp-narrow {
      display: grid;
      grid-template-columns: 515px 165px;
      grid-gap: 20px;
      margin: auto;
      width: 700px;

      #content-top {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
      }
      #content {
        grid-column: 1;
        grid-row: 2;
      }
      #sidebar-first {
        grid-column: 2;
        grid-row: 2;
      }
    }
    @include bp-normal {
      width: 960px;
      grid-template-columns: 710px 230px;
    }
    @include bp-wide {
      width: 1180px;
      grid-template-columns: 875px 285px;
    }
  }
}

/* Front page layout */
body.page-frontpage {

  #breadcrumb {
    display: none;
  }
  #main {
    padding-top: 0;
  }
}

/* Node Advanced */
body.page-node-adv {

  #page-title,
  #sidebar-first {
    display: none;
  }
}

/* Node Basic */
body.page-node-basic {

  #main {
    padding: 1em 20px;
    display: block;
    margin: auto;

    @include bp-narrow {
      width: 700px;
      padding: 3em 1em;
    }
  }
}

/* Blogs */
body.page-blogs,
body.page-blog {

  #page-title {
    display: block;
  }
}
