.curachat-widgets {
  background-color: #7492b4;
  bottom: 64px;
  display: block;
  margin: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 20;
  @media (min-width: 1024px) {
    bottom: 0;
  }
  iframe {
    display: block;
    height: 35px;
    max-width: 100px;
  }
}

.page-taxonomy-term .vocabulary-ung-i-byer > .content .field-name-field-ungi-chat-embed iframe,
.page-node-20738 .view-cyberhus-chat .views-field-field-admin-php iframe {

  &.opeka-widgets-header {
    height: 270px;
    display: block;
    @media (min-width: 505px) {
      height: 200px;
    }
    &.cyberhus {
      height: 270px;
      display: block;
      width: 100%;
      @media (min-width: 505px) {
        height: 200px;
      }
    }
  }
}

.opeka-chat-popup-wrapper {
  display: inline-block;
  position: relative;
  z-index: 10;
}
