/* Base */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800");
@import url("https://fonts.googleapis.com/css?family=Schoolbell");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Breakpoints */
/* Base */
/* Base colors*/
/* Text Colors */
/* Google Fonts */
/* Icons */
@font-face {
  font-family: 'eventrebild';
  src: url("../fonts/eventrebild.eot?2i2wa6");
  src: url("../fonts/eventrebild.eot?2i2wa6#iefix") format("embedded-opentype"), url("../fonts/eventrebild.woff2?2i2wa6") format("woff2"), url("../fonts/eventrebild.ttf?2i2wa6") format("truetype"), url("../fonts/eventrebild.woff?2i2wa6") format("woff"), url("../fonts/eventrebild.svg?2i2wa6#eventrebild") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eventrebild' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Category icons */
.icon-cat-active {
  content: "\e90e"; }

.icon-cat-nature {
  content: "\e90f"; }

.icon-cat-culture {
  content: "\e910"; }

.icon-cat-taste {
  content: "\e911"; }

/* Other icons */
.icon-menu:before {
  content: "\e915"; }

.icon-arrow-left:before {
  content: "\e914"; }

.icon-arrow:before {
  content: "\e900"; }

.icon-calendar:before {
  content: "\e901"; }

.icon-check:before {
  content: "\e902"; }

.icon-info:before {
  content: "\e903"; }

.icon-instagram_logo:before {
  content: "\e904"; }

.icon-location:before {
  content: "\e905"; }

.icon-locked:before {
  content: "\e906"; }

.icon-loop:before {
  content: "\e907"; }

.icon-print:before {
  content: "\e908"; }

.icon-search:before {
  content: "\e909"; }

.icon-share:before {
  content: "\e90a"; }

.icon-user-plus:before {
  content: "\e90b"; }

.icon-handicapvenlig:before {
  content: "\e90c"; }

.icon-teleslynge:before {
  content: "\e90d"; }

.icon-aktiv_fritid:before {
  content: "\e90e"; }

.icon-natur:before {
  content: "\e90f"; }

.icon-smag_pa_rebild:before {
  content: "\e911"; }

.icon-familie_og_born:before {
  content: "\e912"; }

.icon-image:before {
  content: "\e913"; }

.icon-kultur:before {
  content: "\e910"; }

/* Font Sizes */
/* Font Families */
/* Line Height */
/* Base */
body {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  color: #1b1d1f;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 768px) {
    body {
      font-size: 14px; } }
  @media (min-width: 1024px) {
    body {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 16px; } }

/* Headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin: 1.5em 0 0.5em 0;
  letter-spacing: -0.04em;
  font-weight: 800; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1.15em; }

p {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
  color: #1b1d1f; }

p:last-child {
  margin: 0; }

a {
  color: #c34b4b;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* Lists */
ul, ol {
  margin: 0 0 1.5em;
  padding: 0 0 0 30px;
  font-size: 1em;
  line-height: 1.5em;
  color: #1b1d1f; }
  ul li, ol li {
    list-style-position: outside;
    margin: 0 0 5px 0; }

ul li {
  list-style: disc; }

ol li {
  list-style: decimal; }

/* Tables */
table {
  width: 100%;
  line-height: 1.5em; }
  table th {
    text-align: left;
    padding: 0.5em 0.25em;
    font-weight: bold; }
  table tr {
    border-bottom: 1px solid #d4d3d3; }
  table td {
    padding: 0.75em 0.25em; }

/* Pagination */
ul.pager {
  margin: 3em 0;
  text-align: center; }
  ul.pager li {
    display: inline-block;
    margin: 0 0.25em; }

/* Messages */
#messages .messages {
  margin: 0 0 20px 0; }

/* Mixins */
a.button,
a.btn {
  color: white;
  display: inline-block;
  background-color: #1b1d1f;
  padding: 0.85em 2.5em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  opacity: 1;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  transition-property: opacity;
  transition-duration: 250ms; }
  a.button:hover,
  a.btn:hover {
    opacity: 0.75; }

form select {
  padding: 0;
  background: none;
  border: none;
  border-radius: .25em;
  font-size: 0.875em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #a1a1a1;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

form .form-type-select {
  padding: .35em 1em;
  background: #f1f1f1; }

/* Layouts */
#main-wrapper {
  background-color: #f1f1f1; }

/* General Layout */
#main {
  padding: 2em 1em;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    #main {
      width: 700px;
      padding: 3em 1em; } }
  @media (min-width: 1024px) {
    #main {
      width: 960px; } }
  @media (min-width: 1200px) {
    #main {
      width: 1180px; } }

/* Sidebar layout */
body:not(.page-node) #page-title {
  display: none; }

body:not(.page-node) #main {
  padding-top: 20px; }
  @media (min-width: 768px) {
    body:not(.page-node) #main {
      margin: auto;
      width: 700px; } }
  @media (min-width: 1024px) {
    body:not(.page-node) #main {
      display: grid;
      grid-gap: 20px;
      width: 960px;
      grid-template-columns: 710px 230px; }
      body:not(.page-node) #main #content-top {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1; }
      body:not(.page-node) #main #content {
        grid-column: 1;
        grid-row: 2; }
      body:not(.page-node) #main #sidebar-first {
        grid-column: 2;
        grid-row: 2; } }
  @media (min-width: 1200px) {
    body:not(.page-node) #main {
      width: 1180px;
      grid-template-columns: 875px 285px; } }

/* Front page layout */
body.page-frontpage #breadcrumb {
  display: none; }

body.page-frontpage #main {
  padding-top: 0; }

/* Node Advanced */
body.page-node-adv #page-title,
body.page-node-adv #sidebar-first {
  display: none; }

/* Node Basic */
body.page-node-basic #sidebar-first {
  display: none; }

body.page-node-basic #main {
  padding: 1em 20px;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    body.page-node-basic #main {
      width: 700px;
      padding: 3em 1em; } }

/* Blogs */
body.page-blogs #page-title,
body.page-blog #page-title {
  display: block; }

#header-wrapper {
  background-color: white;
  display: none; }
  @media (min-width: 1024px) {
    #header-wrapper {
      display: block; } }
  #header-wrapper #header {
    color: #1b1d1f;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 1.5em 20px 1em;
    box-sizing: border-box; }
    #header-wrapper #header .region-header {
      display: grid;
      grid-template-columns: 20% 60% 20%; }
    #header-wrapper #header .block-menu {
      grid-column: 2;
      grid-row: 1; }
    #header-wrapper #header .block-custom-search-blocks {
      grid-column: 3;
      grid-row: 1; }
    #header-wrapper #header .block {
      line-height: 5em;
      height: 6em;
      box-sizing: border-box; }
      #header-wrapper #header .block > .content {
        vertical-align: middle;
        display: inline-block;
        max-width: 100%;
        line-height: 1; }

#main-logo-link {
  position: relative;
  display: inline-block; }
  #main-logo-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

#main-logo {
  max-width: 100%;
  height: 50px; }

#footer-wrapper #footer {
  margin: auto;
  text-align: center;
  padding: 20px 20px 10px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    #footer-wrapper #footer {
      padding: 50px 75px 25px;
      width: 700px; } }
  @media (min-width: 1024px) {
    #footer-wrapper #footer {
      padding: 50px 200px 25px;
      width: 960px; } }
  @media (min-width: 1200px) {
    #footer-wrapper #footer {
      width: 1180px; } }

/* Components */
#block-menu-menu-top-menu {
  text-align: center; }
  #block-menu-menu-top-menu ul.menu {
    margin: 0 auto;
    padding: 0;
    display: inline-block; }
    #block-menu-menu-top-menu ul.menu li {
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative; }
      #block-menu-menu-top-menu ul.menu li:after {
        position: absolute;
        display: inline-block;
        content: "";
        height: 20px;
        width: 1px;
        background-color: #f1f1f1;
        right: 0;
        top: 45%; }
      #block-menu-menu-top-menu ul.menu li:last-child:after {
        display: none; }
    #block-menu-menu-top-menu ul.menu a {
      display: block;
      color: #606060;
      text-transform: uppercase;
      padding: 1em 2.5em;
      font-weight: 500;
      transition-property: color;
      transition-duration: 250ms; }
      #block-menu-menu-top-menu ul.menu a.active-trail, #block-menu-menu-top-menu ul.menu a:hover {
        color: black;
        text-decoration: none; }
        #block-menu-menu-top-menu ul.menu a.active-trail svg, #block-menu-menu-top-menu ul.menu a:hover svg {
          fill: black; }
      #block-menu-menu-top-menu ul.menu a svg {
        display: block;
        margin: auto;
        max-width: 50px;
        max-height: 30px;
        fill: #a1a1a1;
        margin-bottom: 6px;
        transition-property: fill;
        transition-duration: 250ms; }
    #block-menu-menu-top-menu ul.menu li#brevkasse a:hover svg,
    #block-menu-menu-top-menu ul.menu li#brevkasse a.active-trail svg {
      fill: #688e36; }
    #block-menu-menu-top-menu ul.menu li#chat a:hover svg,
    #block-menu-menu-top-menu ul.menu li#chat a.active-trail svg {
      fill: #e19214; }
    #block-menu-menu-top-menu ul.menu li#ung-til-ung a:hover svg,
    #block-menu-menu-top-menu ul.menu li#ung-til-ung a.active-trail svg {
      fill: #c34b4b; }
    #block-menu-menu-top-menu ul.menu li#ung-i a:hover svg,
    #block-menu-menu-top-menu ul.menu li#ung-i a.active-trail svg {
      fill: #8d62a4; }

#block-menu-menu-andet ul.menu {
  margin: 40px 0 0;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e2e2e2;
  display: inline-block; }
  #block-menu-menu-andet ul.menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-transform: uppercase; }
  #block-menu-menu-andet ul.menu a {
    padding: 0 0.75em;
    color: #a1a1a1; }

.content-stream {
  /* Type specific styling */ }
  .content-stream .stream-item {
    background: white;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 2em;
    position: relative; }
    .content-stream .stream-item:after {
      content: "";
      display: table;
      clear: both; }
    .content-stream .stream-item .stream-title {
      box-sizing: border-box;
      padding-right: 3em; }
      .content-stream .stream-item .stream-title a {
        color: #1b1d1f;
        opacity: 1;
        transition-property: opacity;
        transition-duration: 250ms; }
        .content-stream .stream-item .stream-title a:hover {
          text-decoration: none;
          opacity: .75; }
    .content-stream .stream-item .stream-body {
      line-height: 1.5em; }
    .content-stream .stream-item .stream-type-icon {
      position: absolute;
      top: 1.75em;
      right: 2em;
      width: 35px; }
      .content-stream .stream-item .stream-type-icon svg {
        max-width: 35px;
        max-height: 35px; }
    .content-stream .stream-item .stream-metadata {
      color: #a1a1a1;
      padding: 0 0 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid #d7d7d7; }
      .content-stream .stream-item .stream-metadata .stream-metadata-item {
        margin-right: 10px;
        padding-right: 10px;
        display: inline-block;
        border-right: 1px solid #d7d7d7;
        font-size: 0.875em;
        line-height: 1.25em; }
        .content-stream .stream-item .stream-metadata .stream-metadata-item:last-child {
          border-right: 0;
          padding-right: 0;
          margin-right: 0; }
      .content-stream .stream-item .stream-metadata svg {
        width: 1em;
        height: 1em;
        margin: 0 0.25em -0.05em;
        fill: #a1a1a1; }
      .content-stream .stream-item .stream-metadata em.placeholder {
        font-style: normal; }
    .content-stream .stream-item .stream-like,
    .content-stream .stream-item .stream-comments {
      margin-top: 1.5em;
      float: left; }
    .content-stream .stream-item .stream-comments svg {
      fill: #a1a1a1;
      float: left;
      width: 1.5625em;
      height: 1.5625em;
      margin-right: .375em; }
    .content-stream .stream-item .stream-comments .count {
      float: left;
      line-height: 1.5625em; }
  .content-stream .type-body-secret {
    text-align: center;
    color: white;
    padding-top: 5em;
    padding-bottom: 4em;
    background: #3f9b91; }
    .content-stream .type-body-secret .stream-title,
    .content-stream .type-body-secret .stream-comments,
    .content-stream .type-body-secret .stream-like {
      display: none; }
    .content-stream .type-body-secret .stream-metadata {
      color: white;
      padding: 0;
      border-bottom: 0; }
      .content-stream .type-body-secret .stream-metadata .stream-metadata-item {
        border-color: white; }
    .content-stream .type-body-secret .stream-body {
      font-family: "Schoolbell", cursive;
      font-size: 1.75em;
      font-weight: bold;
      padding: 0 2em;
      font-style: italic; }
    .content-stream .type-body-secret .stream-type-icon {
      fill: white;
      left: 50%;
      margin-left: -17.5px; }
  .content-stream .type-brevkasse .stream-type-icon {
    fill: #688e36; }
  .content-stream .type-brevkasse .stream-comments {
    display: none; }
  .content-stream .type-forum .stream-type-icon,
  .content-stream .type-image .stream-type-icon {
    fill: #c34b4b; }

/* Load more */
.item-list .pager-load-more {
  margin: 2em 0 2em;
  position: relative; }
  .item-list .pager-load-more a {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    background-color: #1b1d1f;
    padding: 0.85em 2.5em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    opacity: 1;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    transition-property: opacity;
    transition-duration: 250ms; }
    .item-list .pager-load-more a:hover {
      opacity: 0.75; }
  .item-list .pager-load-more .ajax-progress-throbber {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -1.5em; }

/* Filter form */
#block-views-exp-frontpage-stream-page,
#block-views-exp-frontpage-stream-page-1,
#block-views-exp-frontpage-stream-page-2 {
  background: white;
  padding: 1em 2em;
  margin: 20px 0; }
  #block-views-exp-frontpage-stream-page:after,
  #block-views-exp-frontpage-stream-page-1:after,
  #block-views-exp-frontpage-stream-page-2:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    #block-views-exp-frontpage-stream-page,
    #block-views-exp-frontpage-stream-page-1,
    #block-views-exp-frontpage-stream-page-2 {
      margin: 0; } }
  #block-views-exp-frontpage-stream-page > h2,
  #block-views-exp-frontpage-stream-page-1 > h2,
  #block-views-exp-frontpage-stream-page-2 > h2 {
    font-size: 1em;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.9em;
    font-weight: 500; }
    @media (min-width: 768px) {
      #block-views-exp-frontpage-stream-page > h2,
      #block-views-exp-frontpage-stream-page-1 > h2,
      #block-views-exp-frontpage-stream-page-2 > h2 {
        float: left;
        margin: 0 5em 0 0; } }
  #block-views-exp-frontpage-stream-page .views-exposed-widgets,
  #block-views-exp-frontpage-stream-page-1 .views-exposed-widgets,
  #block-views-exp-frontpage-stream-page-2 .views-exposed-widgets {
    margin: 0; }
  #block-views-exp-frontpage-stream-page .views-exposed-widget,
  #block-views-exp-frontpage-stream-page-1 .views-exposed-widget,
  #block-views-exp-frontpage-stream-page-2 .views-exposed-widget {
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%; }
    @media (min-width: 768px) {
      #block-views-exp-frontpage-stream-page .views-exposed-widget,
      #block-views-exp-frontpage-stream-page-1 .views-exposed-widget,
      #block-views-exp-frontpage-stream-page-2 .views-exposed-widget {
        float: left;
        width: auto;
        margin: 0 1em 0 0; } }
    #block-views-exp-frontpage-stream-page .views-exposed-widget label,
    #block-views-exp-frontpage-stream-page-1 .views-exposed-widget label,
    #block-views-exp-frontpage-stream-page-2 .views-exposed-widget label {
      display: none; }
  #block-views-exp-frontpage-stream-page .views-submit-button,
  #block-views-exp-frontpage-stream-page-1 .views-submit-button,
  #block-views-exp-frontpage-stream-page-2 .views-submit-button {
    margin: 0; }
  @media (min-width: 768px) {
    #block-views-exp-frontpage-stream-page .views-reset-button,
    #block-views-exp-frontpage-stream-page-1 .views-reset-button,
    #block-views-exp-frontpage-stream-page-2 .views-reset-button {
      float: right; } }
  #block-views-exp-frontpage-stream-page .views-reset-button #edit-reset,
  #block-views-exp-frontpage-stream-page-1 .views-reset-button #edit-reset,
  #block-views-exp-frontpage-stream-page-2 .views-reset-button #edit-reset {
    margin: 0;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    background-color: #1b1d1f;
    padding: 0.85em 2.5em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    opacity: 1;
    line-height: 1;
    text-align: center;
    transition-property: opacity;
    transition-duration: 250ms; }
    #block-views-exp-frontpage-stream-page .views-reset-button #edit-reset:hover,
    #block-views-exp-frontpage-stream-page-1 .views-reset-button #edit-reset:hover,
    #block-views-exp-frontpage-stream-page-2 .views-reset-button #edit-reset:hover {
      opacity: 0.75; }

.page-blog h1,
.page-blogs h1 {
  margin-bottom: .5em; }

.page-blog .content-list-header,
.page-blogs .content-list-header {
  margin-bottom: 1em; }

.cyberhus-intro-text {
  margin-bottom: 1.5em; }

/* View: Bloggere */
.view-bloggere > .view-content .views-row {
  background: white;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 2em;
  position: relative; }
  .view-bloggere > .view-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
  .view-bloggere > .view-content .views-row h2 {
    box-sizing: border-box;
    padding-right: 3em; }
    .view-bloggere > .view-content .views-row h2 a {
      color: #1b1d1f;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 250ms; }
      .view-bloggere > .view-content .views-row h2 a:hover {
        text-decoration: none;
        opacity: .75; }
  .view-bloggere > .view-content .views-row .views-field-value-1 {
    margin-bottom: 1em; }

.view-bloggere .view-footer a {
  color: white;
  display: inline-block;
  background-color: #1b1d1f;
  padding: 0.85em 2.5em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  opacity: 1;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  transition-property: opacity;
  transition-duration: 250ms; }
  .view-bloggere .view-footer a:hover {
    opacity: 0.75; }

/* View: Blog */
.view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row {
  background: white;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 2em;
  position: relative; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .views-field-title {
    box-sizing: border-box;
    padding-right: 3em; }
    .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .views-field-title a {
      color: #1b1d1f;
      opacity: 1;
      transition-property: opacity;
      transition-duration: 250ms; }
      .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .views-field-title a:hover {
        text-decoration: none;
        opacity: .75; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .views-field-nothing {
    color: #a1a1a1;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #d7d7d7;
    font-size: 0.875em;
    line-height: 1.25em; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .views-field-field-billede {
    margin-bottom: 1em; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row .vud-widget-cyberlike {
    margin-top: 1.5em;
    float: left; }
  .view-blogs-oversigter:not(.view-display-id-attachment_1) > .view-content .views-row a.comment-count-link {
    margin-top: 1.5em;
    float: left;
    line-height: 1.5625em; }

.view-display-id-attachment_1 .views-row {
  margin-bottom: 1em; }

.page-node-basic h1 {
  margin-bottom: .5em; }

.page-node-adv {
  /* Author box */ }
  .page-node-adv .region-content .node {
    background: white;
    padding: 3em 2em; }
    @media (min-width: 768px) {
      .page-node-adv .region-content .node {
        padding: 4em 5em 4em; } }
  .page-node-adv .node-type {
    color: #a1a1a1;
    font-size: 1.375em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em; }
  .page-node-adv h1 {
    text-align: center;
    margin-bottom: .5em; }
  .page-node-adv .node-top-links {
    text-align: center;
    margin-bottom: 3em; }
    @media (min-width: 768px) {
      .page-node-adv .node-top-links {
        margin-bottom: 4em; } }
    .page-node-adv .node-top-links a {
      opacity: 1;
      transition-property: opacity;
      transition-duration: 250ms; }
      .page-node-adv .node-top-links a:hover {
        opacity: .75;
        text-decoration: none; }
    .page-node-adv .node-top-links svg {
      width: .85em;
      height: .85em;
      fill: #c34b4b;
      margin-left: .25em;
      margin-bottom: -0.05em; }
  .page-node-adv .field-name-field-billede {
    margin-bottom: 1em; }
  .page-node-adv .field-name-body,
  .page-node-adv .field-name-field-brevk-spoergsmaal {
    font-size: 1.375em;
    font-weight: 500;
    color: #989898; }
    .page-node-adv .field-name-body p,
    .page-node-adv .field-name-field-brevk-spoergsmaal p {
      color: #989898; }
  .page-node-adv .field-name-field-brevk-svar {
    margin-top: 4em; }
    .page-node-adv .field-name-field-brevk-svar .field-label {
      text-transform: uppercase;
      margin-bottom: 1em;
      font-weight: 800;
      font-size: 1.375em; }
  .page-node-adv .node-interaction,
  .page-node-adv .node-answer-author {
    border-top: 1px solid #c7c7c7;
    margin: 2em 0;
    padding: 1em 0; }
  .page-node-adv .node-answer-author {
    font-size: 0.875em;
    color: #a1a1a1; }
    .page-node-adv .node-answer-author span.name {
      color: #1b1d1f;
      font-weight: 800; }
  .page-node-adv .author-box {
    padding: 1.5em 1em;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px; }
    .page-node-adv .author-box .author-avatar {
      height: 8em;
      width: 8em;
      border-radius: 8em;
      margin: 0 auto 15px;
      background: #f1f1f1; }
    .page-node-adv .author-box .author-type {
      text-transform: uppercase;
      font-size: 0.875em;
      color: #a1a1a1;
      margin-bottom: 5px; }
    .page-node-adv .author-box .author-name {
      font-size: 1.375em;
      font-weight: 800;
      margin-bottom: 10px; }
    .page-node-adv .author-box .author-gender,
    .page-node-adv .author-box .author-age {
      margin-bottom: 20px;
      font-size: 0.875em;
      display: inline-block; }
    .page-node-adv .author-box .author-created {
      font-size: 0.875em;
      color: #a1a1a1; }
  @media (min-width: 768px) {
    .page-node-adv .node-wrapper {
      display: grid;
      grid-template-columns: 160px 360px;
      grid-gap: 20px; } }
  @media (min-width: 1024px) {
    .page-node-adv .node-wrapper {
      display: grid;
      grid-template-columns: 190px 590px;
      grid-gap: 40px; } }
  @media (min-width: 1200px) {
    .page-node-adv .node-wrapper {
      display: grid;
      grid-template-columns: 240px 740px; } }
  @media (min-width: 768px) {
    .page-node-adv .node-wrapper .node-content {
      grid-column: 2;
      grid-row: 1; } }
  @media (min-width: 768px) {
    .page-node-adv .node-wrapper .node-sidebar {
      grid-column: 1;
      grid-row: 1; } }

.node-nav,
.view ul.entity_pager {
  background: white;
  text-align: center;
  padding: 1.5em;
  margin: 0;
  border-bottom: 1px solid #c7c7c7; }
  .node-nav a,
  .view ul.entity_pager a {
    color: #a1a1a1;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.45em;
    transition-property: color;
    transition-duration: 250ms; }
    .node-nav a:hover,
    .view ul.entity_pager a:hover {
      color: #1b1d1f;
      text-decoration: none; }
      .node-nav a:hover svg,
      .view ul.entity_pager a:hover svg {
        fill: #1b1d1f; }
  .node-nav svg,
  .view ul.entity_pager svg {
    fill: #a1a1a1;
    width: 1.25em;
    height: 1.25em;
    transition-property: fill;
    transition-duration: 250ms; }
  .node-nav li,
  .view ul.entity_pager li {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 1; }
  .node-nav .node-nav-prev,
  .node-nav .entity_pager_prev,
  .view ul.entity_pager .node-nav-prev,
  .view ul.entity_pager .entity_pager_prev {
    float: left;
    width: 25%;
    text-align: left; }
    .node-nav .node-nav-prev svg,
    .node-nav .entity_pager_prev svg,
    .view ul.entity_pager .node-nav-prev svg,
    .view ul.entity_pager .entity_pager_prev svg {
      float: left;
      padding-right: 0.65em; }
  .node-nav .node-nav-next,
  .node-nav .entity_pager_next,
  .view ul.entity_pager .node-nav-next,
  .view ul.entity_pager .entity_pager_next {
    float: right;
    width: 25%;
    text-align: right; }
    .node-nav .node-nav-next svg,
    .node-nav .entity_pager_next svg,
    .view ul.entity_pager .node-nav-next svg,
    .view ul.entity_pager .entity_pager_next svg {
      float: right;
      padding-left: 0.65em; }
  .node-nav .node-nav-all,
  .node-nav .entity_pager_all_link,
  .view ul.entity_pager .node-nav-all,
  .view ul.entity_pager .entity_pager_all_link {
    display: inline-block; }
    .node-nav .node-nav-all svg,
    .node-nav .entity_pager_all_link svg,
    .view ul.entity_pager .node-nav-all svg,
    .view ul.entity_pager .entity_pager_all_link svg {
      float: left;
      padding-right: 0.65em; }

#comments {
  margin: 0; }
  #comments h2.title {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 3em 0 0.5em; }
  #comments h2.comment-form {
    font-size: 1.3em; }
  #comments form.comment-form .filter-wrapper {
    display: none; }
  #comments .comment {
    padding: 2em 0;
    border-bottom: 1px solid #c7c7c7; }
    #comments .comment .submitted {
      color: #a1a1a1;
      font-size: 0.875em;
      margin-bottom: .5em; }
    #comments .comment .content {
      margin-bottom: 1em; }
    #comments .comment .links {
      padding: 0;
      margin: 0; }
      #comments .comment .links li {
        margin: 0 1em 0 0;
        padding: 0; }

#highlighted-wrapper {
  background: #1b1d1f; }
  @media (min-width: 768px) {
    #highlighted-wrapper {
      height: 400px; } }

.flex-control-paging {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  line-height: 1; }
  .flex-control-paging li {
    margin: 0 .25em; }
    .flex-control-paging li a {
      background: rgba(255, 255, 255, 0.5);
      box-shadow: none;
      height: 0.875em;
      width: 0.875em;
      transition-property: background;
      transition-duration: 250ms; }
      .flex-control-paging li a.flex-active {
        background: white; }
      .flex-control-paging li a:hover {
        background: white; }

@media (min-width: 1024px) {
  .flex-navigation {
    width: 960px;
    height: 400px;
    position: relative;
    margin: auto; } }

@media (min-width: 1200px) {
  .flex-navigation {
    width: 1180px; } }

.flex-navigation svg {
  fill: #1b1d1f;
  width: 1em;
  height: 1em; }

.flex-navigation a {
  display: inline-block;
  background: white;
  padding: 1em;
  border-radius: 2em;
  line-height: 1;
  z-index: 10;
  width: 1em;
  height: 1em;
  opacity: 0;
  transition-property: background, opacity, left, right;
  transition-duration: 250ms; }
  .flex-navigation a:hover {
    background: #f1f1f1; }

.flex-navigation .flex-prev {
  position: absolute;
  left: -4.5em;
  top: 50%;
  margin-top: -1em; }

.flex-navigation .flex-next {
  position: absolute;
  right: -4.5em;
  top: 50%;
  margin-top: -1em; }

#block-bean-banner:hover .flex-navigation a {
  opacity: 1; }

#block-bean-banner:hover .flex-prev {
  left: -5em; }

#block-bean-banner:hover .flex-next {
  right: -5em; }

#block-bean-banner {
  overflow: hidden;
  height: 400px; }
  #block-bean-banner .paragraphs-item-banner-slide > .content {
    position: relative; }
  @media (min-width: 768px) {
    #block-bean-banner .field-name-field-pg-banner-image {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      margin-left: -960px; }
      #block-bean-banner .field-name-field-pg-banner-image img {
        max-width: inherit; } }
  #block-bean-banner .content-aligner {
    margin: auto;
    height: 400px; }
  #block-bean-banner .content-inner {
    z-index: 2;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  @media (min-width: 768px) {
    #block-bean-banner .content-aligner,
    #block-bean-banner .content-inner {
      width: 700px; } }
  @media (min-width: 1024px) {
    #block-bean-banner .content-aligner,
    #block-bean-banner .content-inner {
      width: 940px; } }
  @media (min-width: 1200px) {
    #block-bean-banner .content-aligner,
    #block-bean-banner .content-inner {
      width: 1180px; } }
  #block-bean-banner .field {
    margin-bottom: 20px; }
    #block-bean-banner .field:last-child {
      margin-bottom: 0; }
  #block-bean-banner .field-type-text-long {
    padding: 0 13px;
    box-sizing: border-box; }
    @media (min-width: 1024px) {
      #block-bean-banner .field-type-text-long {
        padding: 0 20em 0 13px; } }
  #block-bean-banner .field-name-field-pg-banner-head .field-item {
    display: inline;
    font-size: 3.45em;
    line-height: 1.2em;
    font-weight: 800;
    color: white; }
  #block-bean-banner .field-name-field-pg-banner-body p {
    color: white;
    display: inline;
    font-size: 1.25em;
    line-height: 1.6em;
    padding: 0.3em 0; }
  #block-bean-banner .content-inner.bg-color-blue .field-name-field-pg-banner-head .field-item,
  #block-bean-banner .content-inner.bg-color-blue .field-name-field-pg-banner-body p {
    background: #1d9ed0;
    box-shadow: 13px 0 0 0 #1d9ed0, -13px 0 0 0 #1d9ed0; }
  #block-bean-banner .content-inner.bg-color-green .field-name-field-pg-banner-head .field-item,
  #block-bean-banner .content-inner.bg-color-green .field-name-field-pg-banner-body p {
    background: #688e36;
    box-shadow: 13px 0 0 0 #688e36, -13px 0 0 0 #688e36; }
  #block-bean-banner .content-inner.bg-color-red .field-name-field-pg-banner-head .field-item,
  #block-bean-banner .content-inner.bg-color-red .field-name-field-pg-banner-body p {
    background: #c34b4b;
    box-shadow: 13px 0 0 0 #c34b4b, -13px 0 0 0 #c34b4b; }
  #block-bean-banner .content-inner.bg-color-orange .field-name-field-pg-banner-head .field-item,
  #block-bean-banner .content-inner.bg-color-orange .field-name-field-pg-banner-body p {
    background: #e19214;
    box-shadow: 13px 0 0 0 #e19214, -13px 0 0 0 #e19214; }
  #block-bean-banner .content-inner.bg-color-purple .field-name-field-pg-banner-head .field-item,
  #block-bean-banner .content-inner.bg-color-purple .field-name-field-pg-banner-body p {
    background: #8d62a4;
    box-shadow: 13px 0 0 0 #8d62a4, -13px 0 0 0 #8d62a4; }

.block-custom-search-blocks .search-form {
  margin-bottom: 0;
  position: relative; }

.block-custom-search-blocks .form-item {
  margin: 0; }

.block-custom-search-blocks .form-actions {
  display: none; }

.block-custom-search-blocks input[type=text] {
  background: #c7c7c7;
  border: none;
  padding: .6em 1em .6em 3em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  box-sizing: border-box;
  max-width: 100%; }
  .block-custom-search-blocks input[type=text]::-webkit-input-placeholder {
    color: white;
    text-transform: uppercase; }
  .block-custom-search-blocks input[type=text]::-moz-placeholder {
    color: white;
    text-transform: uppercase; }
  .block-custom-search-blocks input[type=text]:-ms-input-placeholder {
    color: white;
    text-transform: uppercase; }
  .block-custom-search-blocks input[type=text]::placeholder {
    color: white;
    text-transform: uppercase; }

.block-custom-search-blocks svg {
  fill: white;
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  z-index: 2;
  left: 1.2em;
  top: .6em; }

.region-footer-first .block {
  color: #a1a1a1; }
  .region-footer-first .block p {
    color: #a1a1a1;
    font-size: 0.875em; }

#bottom-wrapper {
  border-top: 1px solid #e2e2e2; }

.region-sidebar-first .block {
  background: white;
  padding: 2em;
  margin-bottom: 20px; }
  .region-sidebar-first .block:last-child {
    margin-bottom: 0; }
  .region-sidebar-first .block > h2 {
    font-size: 1.5em; }
  .region-sidebar-first .block a.button {
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: 1em;
    padding-right: 1em; }

.vud-widget-cyberlike {
  margin: 0 20px 0 0;
  padding: 0;
  width: auto;
  height: auto;
  position: relative; }
  .vud-widget-cyberlike:after {
    content: "";
    display: table;
    clear: both; }
  .vud-widget-cyberlike svg {
    width: 1.5625em;
    height: 1.5625em;
    fill: #a1a1a1;
    margin: 0 .375em 0 0;
    transition-property: fill;
    transition-duration: 250ms; }
  .vud-widget-cyberlike svg.liked {
    fill: #c34b4b; }
  .vud-widget-cyberlike a {
    float: left; }
    .vud-widget-cyberlike a.vud-link-up svg:hover {
      fill: #c34b4b; }
    .vud-widget-cyberlike a.vud-link-reset svg {
      fill: #c34b4b; }
  .vud-widget-cyberlike .cyberlike-votes-display {
    float: right;
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5625em;
    font-size: 1em; }
  .vud-widget-cyberlike .ajax-progress-throbber {
    position: absolute;
    left: -1.35em;
    bottom: .45em; }

#breadcrumb {
  padding: 1em 0; }
  #breadcrumb .breadcrumb {
    padding-bottom: 0;
    font-size: 0.875em; }
    @media (min-width: 768px) {
      #breadcrumb .breadcrumb {
        width: 700px;
        margin: auto; } }
    @media (min-width: 1024px) {
      #breadcrumb .breadcrumb {
        width: 960px; } }
    @media (min-width: 1200px) {
      #breadcrumb .breadcrumb {
        width: 1180px; } }
    #breadcrumb .breadcrumb a {
      color: #a1a1a1; }

div.tabs {
  margin: 0 0 1em; }
  div.tabs ul.tabs {
    margin: 0;
    padding: 0;
    border-bottom: 0; }
    div.tabs ul.tabs:after {
      content: "";
      display: table;
      clear: both; }
    div.tabs ul.tabs li {
      float: left;
      margin: 0 0.25em 0 0;
      padding: 0;
      list-style: none;
      border: 0; }
      div.tabs ul.tabs li a {
        color: #1b1d1f;
        padding: 0.25em 1em;
        display: block;
        border: 1px solid #c7c7c7;
        background: #f1f1f1; }
      div.tabs ul.tabs li a:hover {
        text-decoration: none;
        background: white; }
    div.tabs ul.tabs li.active a {
      background-color: #1b1d1f;
      color: white; }

#block-simple-voting-simple-voting .poll {
  line-height: 1.5em;
  padding-bottom: 2em; }
  #block-simple-voting-simple-voting .poll .title {
    margin-bottom: 1em;
    font-weight: 500; }
  #block-simple-voting-simple-voting .poll .vote-form .choices .title {
    font-weight: 500; }
  #block-simple-voting-simple-voting .poll .bar .foreground {
    background-color: #1d9ed0; }
  #block-simple-voting-simple-voting .poll .total {
    margin-top: 1em; }

#block-simple-voting-simple-voting .form-submit {
  color: white;
  width: 100%;
  font-size: 1em;
  text-transform: uppercase;
  display: inline-block;
  background-color: #1d9ed0;
  padding: 0.85em 2.5em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  opacity: 1;
  line-height: 1;
  text-align: center;
  transition-property: opacity;
  transition-duration: 250ms; }
  #block-simple-voting-simple-voting .form-submit:hover {
    opacity: 0.75; }

#block-simple-voting-simple-voting ul.pager {
  margin: 0 -2em -2em;
  border-top: 1px solid #d7d7d7;
  padding: 0;
  position: relative; }
  #block-simple-voting-simple-voting ul.pager:after {
    content: "";
    display: table;
    clear: both; }
  #block-simple-voting-simple-voting ul.pager li {
    margin: 0;
    padding: 0;
    border-right: 1px solid #d7d7d7;
    width: 50%;
    box-sizing: border-box;
    float: left; }
    #block-simple-voting-simple-voting ul.pager li a {
      font-size: 0.875em;
      padding: 1em;
      color: #a1a1a1;
      text-transform: uppercase;
      display: block;
      text-decoration: none;
      transition-property: color;
      transition-duration: 250ms; }
      #block-simple-voting-simple-voting ul.pager li a:hover {
        color: #1b1d1f; }
  #block-simple-voting-simple-voting ul.pager li:only-child {
    width: 100%; }
  #block-simple-voting-simple-voting ul.pager li:last-child {
    border-right: 0; }
  #block-simple-voting-simple-voting ul.pager .ajax-progress-throbber {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -1.5em; }
